{% extends "base.html" %} 
{% load pages_tags theme_tags keyword_tags mezzanine_tags i18n staticfiles imagefit blog_tags %} 

{% block meta_title %}{% trans "Home" %} {% endblock %} 

{% block breadcrumbs %}
{% endblock %}

{% block first_time_user %}
	<div class="container fullwidth-element userpanel">
    <div class="two-third columns alpha omega margin-bottom-10">
    {% if request.user.shop %}
    	<figure>
            <img src="{% static 'images/edit_shop.jpg'|resize:"820x400,C" %}">
            <figcaption>
                <h3>Управление магазином</h3>
                <ul>
                    <li>
                        <a href="{% url 'admin:shop_product_add' %}" class="button color">Добавить новый товар</a>
                    </li>
                    <li>
                        <a href="{% url 'shop_edit' %}" class="button color">Настройки</a>
                    </li>
                </ul>
            </figcaption>
        </figure>
	{% else %}
   		<figure>
            <img src="{% static 'images/open_shop.jpg'|resize:"820x400,C" %}">
            <a href="{% url 'shop_create' %}">
			    <figcaption>
			        <time>Начните продавать уже сейчас</time>
			        <h3>Создайте собственный магазин</h3>
			    </figcaption>
			</a>
        </figure>
    {% endif %}
    </div>
    <div class="one-third columns omega margin-bottom-10">
        <figure>
            <img src="{% static 'images/personal_order.jpg'|resize:"460x195,C" %}">
            <figcaption>
            <a href="{% url 'admin:theme_orderitem_add' %}">
                <span>Хочешь индивидуальности?</span>
                <h3>Сделай личный заказ у мастера</h3>
            </figcaption>
            </a>
        </figure>
    </div>
    <div class="one-third columns omega margin-bottom-10">
        <figure>
            <img src="{% static 'images/write_to_blog.jpg'|resize:"460x195,C" %}">
            <a href="{% url 'admin:blog_blogpost_add' %}">
            <figcaption>
                <span>Открой в себе автора</span>
                <h3>Сделай запись в Блог</h3>
            </figcaption>
            </a>
        </figure>
    </div>
</div>
{% endblock first_time_user %}

{% block slider %}
{% get_slideshow as images %}
{% if images %}
<div class="container fullwidth-element home-slider">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
			{% for image in images %}
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
				<img src="{{ MEDIA_URL }}{% thumbnail image.featured_image 1200 500 %}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">	 
				<div class="caption dark fade fadeout" 
				data-x="left"
				data-y="center"
				data-hoffset="200"
				data-voffset="0" 
				data-speed="400" data-start="800"  data-easing="Power1.easeOut">
				{{ image.short_description|safe }}
				<a href="{{image.href }}" class="caption-btn">Подробнее</a>
				</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}



{% block extra_content %}
<div class="container">
    <div class="twelve columns">
    	<div class="widget">
        <h3 class="headline">Лучшие магазины</h3><span class="line"></span><div class="clearfix"></div>
    	{% if user_shops %}
    		{% for shop in user_shops %}
    		<div class="six columns alpha margin-bottom-20">
    		<div class="shop-stacked-images">
    			{% with shop.user.product_set.all|slice:"4" as product %}
    			<div class="main pull-left">
    				<a href="{{ product.0.get_absolute_url }}">
    					<img src="{{ MEDIA_URL }}{% thumbnail product.0.image 300 160 %}" alt="{{ product.0.title }}"/>
    				</a>
    			</div>
    			<div class="small pull-left">
    				<a href="{{ product.1.get_absolute_url }}">
    					<img src="{{ MEDIA_URL }}{% thumbnail product.1.image 120 50 %}" alt="{{ product.1.title }}"/>
    				</a>
    			</div>
    			<div class="small pull-left">
    				<a href="{{ product.2.get_absolute_url }}">
    					<img src="{{ MEDIA_URL }}{% thumbnail product.2.image 120 50 %}" alt="{{ product.2.title }}"/>
    				</a>
    			</div>
    			<div class="small pull-left">
    				<a href="{{ product.3.get_absolute_url }}">
    					<img src="{{ MEDIA_URL }}{% thumbnail product.3.image 120 50 %}" alt="{{ product.3.title }}"/>
    				</a>
    			</div>
    			{% endwith %}
    		</div>
    		<div class="clearfix"></div>
    		<div class="shop-info">
    			<a href="{{ shop.get_absolute_url }}">
	    			<img src="{{ MEDIA_URL }}{% thumbnail shop.image 100 100 %}" alt="{{shop.shopname}}" class="shop-image pull-left" />
	    		</a>
	    		<a href="{{ shop.get_absolute_url }}"><h2>{{shop.shopname}}</h2></a>
	    			<span>{{shop.country}}, {{shop.city}} </span>
    		</div>
    		</div>
    	{% endfor %}
    	{% endif %}
    	</div>
    </div>
    <div class="four columns">
        {% blog_recent_posts 4 as recent_posts %}
		{% if recent_posts %}
		<div class="widget margin-top-30">
			<h3 class="headline">Блог</h3><span class="line"></span><div class="clearfix"></div>
			<ul class="widget-tabs">
			{% for recent_post in recent_posts %}
				<li>			
			    {% spaceless %}
			    {% if settings.BLOG_USE_FEATURED_IMAGE %}
			    <div class="widget-thumb">
						<a href="{{ recent_post.get_absolute_url }}">
						{% if recent_post.featured_image %}
							<img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 74 74 %}"/>
						{% endif %}
						</a>
				</div>  
				{% endif %}
				<div class="widget-text">
				    <h4><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h4>
				    <span>{{ recent_post.publish_date|date }} </span>
			    </div>
				<div class="clearfix"></div>
			    {% endspaceless %}
				</li>
			{% endfor %}
			</ul>	
		</div>
		{% endif %}

	{% blog_categories as categories %}
		{% if categories %}
		<div class="widget margin-top-10">
			<h3 class="headline">{% trans "Categories" %}</h3><span class="line"></span><div class="clearfix"></div>
			<nav class="categories">
				<ul>
				{% for category in categories %}
					<li><a href="{% url 'blog_post_list_category' category.slug %}">{{ category }}</a> ({{ category.post_count }})</li>
				{% endfor %}
				</ul>
			</nav>
		</div>
		{% endif %}	

        {% keywords_for blog.blogpost as tags %}
		{% if tags %}
			<div class="widget margin-top-10">
				<h3 class="headline">{% trans "Tags" %}</h3><span class="line"></span><div class="clearfix"></div>	
				<nav class="tags">
				{% for tag in tags %}
				    <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
				{% endfor %}
				</nav>
			</div>
		{% endif %}
    </div>
</div>


<div class="container">
        <div class="widget">
            <h2 class="headline">Лучшие новые товары</h2>
            <span class="line"></span>
            <div class="clearfix"></div>
        </div>
        <div class="sixteen columns products">
            {% for product in featured_products %}
			<div class="three shop columns custom_column">
				<figure class="product">
					<div class="badges">
					{% if product.pre_order %}
						<div class="product-example">Для примера</div>
					{# {% else %} #}
						<!--<div class="product-ready">Готовый вариант</div>-->
					{% endif %}
					{% if product.on_custom_sale %}
						<div class="product-discnt">СКИДКА</div>
					{% endif %}
					</div>
					{% get_product_images product as images %}
					<div class="mediaholder {% if not images or images.count == 1 %}no-anim{%endif%}">
					<a href="{{ product.get_absolute_url }}">
						{% if images %}
						<img alt="" src="{{ MEDIA_URL }}{% thumbnail images.0 250 330 %}">
							{% if images.count != 1 %}
							<div class="cover">
									<img alt="" src="{{ MEDIA_URL }}{% thumbnail images.1 300 380 %}">
							</div>
							{% endif %}
						{% else %}
						<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}">
						{% endif %}
					</a>
					<a href="{{ product.get_absolute_url }}" class="product-button"><i class="fa fa-share"></i>Подробнее</a>
					</div>
					<a href="{{ product.get_absolute_url }}">
						<section>
							<h5>{{ product.title|title|truncatechars:34 }}</h5>
							<a href="{{ product.user.shop.get_absolute_url }}" class="shopname">{{ product.user.shop.shopname }}</a>
							<!--<span class="product-category">
							</span>-->
							{% if product.on_custom_sale %}
								<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
							{% else %}
							<span class="product-price">{{ product.price|rub_currency }}</span>
							{% endif %}
						</section>
					</a>
				</figure>
			</div>
			{% endfor %}
		<div class="clearfix"></div>
        </div>
</div>
{% endblock %}
