{% extends "base.html" %}
{% load theme_tags keyword_tags mezzanine_tags i18n staticfiles blog_tags %}

{% block meta_title %}{% trans "Home" %} {% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block slider %}
{% get_slideshow as images %}
{% if images %}
<div class="container fullwidth-element home-slider margin-bottom-50">
    <div class="bss-slides">
        {% for image in images %}
        <figure class="caption">
            <a href="{{image.href.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{% thumbnail image.featured_image 1290 350 %}" alt="{{ image }}">
            <figcaption>
                {{ image.short_description|safe }}
            </figcaption>
            </a>
        </figure>
        {% endfor %}
    </div>
	<div class="clearfix"></div>
</div>
{% endif %}
{% endblock %}

{% block main_containter %}
{% if categories %}
<div class="container userpanel margin-bottom-40">
{% for category in categories %}
    <div class="main-page-category columns">
        <a href="{{ category.get_absolute_url }}" class="img-caption">
            <figure>
                <img src="{{ MEDIA_URL }}{% thumbnail category.featured_image 250 250 %}" alt="{{ category.slug }}" />
                <figcaption>
                    <h3>{{ category.title }}</h3>
                    <span>Подробнее</span>
                </figcaption>
            </figure>
        </a>
    </div>
{% endfor %}
</div>
<div class="clearfix"></div>
{% endif %}
<div class="parallax-banner fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="200">
  <a href="{% url 'signup' %}">
    <img src="{% static "images/search.jpg" %}" alt="" />
    <div class="parallax-overlay"></div>
    <div class="parallax-title">Создай магазин <span>и начни продавать</span></div>
  </a>
</div>

<div class="container margin-bottom-25">

  {% if best_products %}
  <!-- best products -->
  <div class="one-third column">
    <h3 class="headline">Лучшие товары</h3>
    <span class="line margin-bottom-0"></span>
    <div class="clearfix"></div>
    <ul class="product-list">
      {% for product in best_products %}
      <li><a href="{{ product.get_absolute_url }}">
        {% if product.images.all.0 %}
          <img src="{{ MEDIA_URL }}{% thumbnail product.images.all.0 90 90 %}" alt="{{ product.title }}" />
        {% endif %}
        <div class="product-list-desc">{{ product.title }}<i>{{ product.price|rub_currency }}</i></div>
      </a></li>
      {% endfor %}
      <li>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  {% endif %}
  {% if user_shops %}
  <!-- best shops -->
  <div class="one-third column">
    <h3 class="headline">Лучшие магазины</h3>
    <span class="line margin-bottom-0"></span>
    <div class="clearfix"></div>
    <ul class="product-list top-rated">
      {% for shop in user_shops %}
      <li><a href="{{ shop.get_absolute_url }}">
        <img src="{{ MEDIA_URL }}{% thumbnail shop.image 90 90 %}" alt="{{ shop.shopname }}" />
        <div class="product-list-desc with-rating">{{ shop.shopname }}
          <div class="rating four-stars">
            <div class="star-rating"></div>
            <div class="star-bg"></div>
          </div>
        </div>
      </a></li>
      {% endfor %}
      <li>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  {% endif %}

  <!--Best masters -->
  {% if masters %}
  <div class="one-third column">
    <h3 class="headline">Лучшие мастера</h3>
    <span class="line margin-bottom-0"></span>
    <div class="clearfix"></div>


    <ul class="product-list discount">
      {% for master in masters %}
      <li><a href="{{ master.get_absolute_url }}">
				<img src="{{ MEDIA_URL }}{% thumbnail master.image 90 90 %}" alt="{{ master.get_full_name }}" />
				<div class="product-list-desc">
          <i>{{ master.get_full_name }}</i>
          {{ master.get_location }}
        </div>
			</a></li>
      {% endfor %}
      <li>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  {% endif %}
</div>
<div class="clearfix"></div>
{% endblock %}

{% block extra_content %}
<div class="container">
  <div class="ten columns">
    <h3 class="headline">Записи в Блоге</h3><span class="line margin-bottom-3-"></span>
    <div class="clearfix"></div>
    {% if blog_posts %}
      <div id="masonry-wrapper">
        {% for blog_post in blog_posts %}
        <div class="five columns masonry-item {% cycle 'alpha' 'omega' %}">
          <article class="from-the-blog">
            {% if blog_post.featured_image %}
            <figure class="from-the-blog-image">
              <a href="{{ blog_post.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 200 %}" alt="" /></a>
              <div class="hover-icon"></div>
            </figure>
            {% endif %}
            <section class="from-the-blog-content {% if not blog_post.featured_image %}no-img{% endif %}">
              <a href="{{ blog_post.get_absolute_url }}"><h5>{{ blog_post.title }}</h5></a>
              <i>{{ blog_post.user }}, {{ blog_post.publish_date|date:"d M Y" }}</i>
              <span>
                {% if blog_post.preview_content %}
      						{{ blog_post.preview_content|safe|truncatewords_html:55 }}
      					{% else %}
      						{{ blog_post.description_from_content|safe }}
      					{% endif %}
              </span>
              <a href="{{ blog_post.get_absolute_url }}" class="button gray">Подробнее</a>
            </section>
          </article>
        </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>
  <div class="six columns">
    <h3 class="headline">Категории</h3><span class="line margin-bottom-3-"></span>
    <div class="clearfix"></div>


    {% blog_categories as categories %}
		{% if categories %}
		<div class="margin-bottom-25">
			<nav class="categories">
				<ul>
				{% for category in categories %}
					<li><a href="{% url 'blog_post_list_category' category.slug %}">{{ category }}</a> ({{ category.post_count }})</li>
				{% endfor %}
				</ul>
			</nav>
		</div>
		{% endif %}

    <!-- Tabs Navigation -->
    <ul class="tabs-nav">
      <li class="active"><a href="#tab1">Недавние</a></li>
      <li><a href="#tab2">Популярное</a></li>
      <li><a href="#tab3">Комментарии</a></li>
    </ul>

    <!-- Tabs Content -->
    <div class="tabs-container">
      <div class="tab-content" id="tab1" style="display: block;">
        {% if recent_posts %}
          <div class="widget margin-top-0">
            <ul class="widget-tabs">
              {% for recent_post in recent_posts %}
              <li>
                {% spaceless %}
                {% if recent_post.featured_image %}
                <div class="widget-thumb">
                  <a href="{{ recent_post.get_absolute_url }}">
                		<img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 90 90 %}" alt="{{ recent_post.title }}"/>
                	</a>
                </div>
                {% endif %}
                <div class="widget-text">
                  <h4><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h4>
                  <span>{{ recent_post.publish_date|date:"d M Y" }} </span>
                </div>
                <div class="clearfix"></div>
                {% endspaceless %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
      </div>
      <div class="tab-content" id="tab2" style="display: none;">
        {% if popular_posts %}
          <div class="widget margin-top-0">
            <ul class="widget-tabs">
              {% for recent_post in popular_posts %}
              <li>
                {% spaceless %}
                {% if recent_post.featured_image %}
                <div class="widget-thumb">
                  <a href="{{ recent_post.get_absolute_url }}">
                		<img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 90 90 %}" alt="{{ recent_post.title }}"/>
                	</a>
                </div>
                {% endif %}
                <div class="widget-text">
                  <h4><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h4>
                  <span>{{ recent_post.publish_date|date:"d M Y" }} </span>
                </div>
                <div class="clearfix"></div>
                {% endspaceless %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
      </div>
      <div class="tab-content" id="tab3" style="display: none;">
          <div class="widget margin-top-0">
            {% if comments %}
            <ul class="widget-tabs">
              {% for recent_post in comments %}
              <li>
                {% spaceless %}
                {% if recent_post.featured_image %}
                <div class="widget-thumb">
                  <a href="{{ recent_post.get_absolute_url }}">
                		<img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 90 90 %}" alt="{{ recent_post.title }}"/>
                	</a>
                </div>
                {% endif %}
                <div class="widget-text">
                  <h4><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h4>
                  <span>{{ recent_post.publish_date|date:"d M Y" }} </span>
                </div>
                <div class="clearfix"></div>
                {% endspaceless %}
              </li>
              {% endfor %}
            </ul>
          {% else %}
          <p style="text-align:center">Комментарив нет</p>
          {% endif %}
        </div>
      </div>
    </div>

    <br>
  </div>
  <div class="six columns">
    {% keywords_for blog.blogpost as tags %}
		{% if tags %}
				<h3 class="headline">{% trans "Tags" %}</h3><span class="line"></span><div class="clearfix"></div>
				<nav class="tags">
				{% for tag in tags %}
				    <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
				{% endfor %}
				</nav>
		{% endif %}
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}
