<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <!--<![endif]-->
{% load pages_tags theme_tags mezzanine_tags accounts_tags i18n staticfiles %}

<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "images/logo/logo.png" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/green.css" %}" id="colors">
<link rel="stylesheet" href="{% static "css/custom.css" %}" id="colors">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
<![endif]-->
{% block extra_css %}
{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->

{% block extra_head %}
{% endblock %}
</head>

<body class="{% block body_class %}boxed{% endblock %}">
<div id="wrapper">

{% block top_bar %}
<div id="top-bar">
    <div class="container">

        <!-- Top Bar Menu -->
        <div class="ten columns">
            <ul class="top-bar-menu">
                <li><i class="fa fa-phone"></i> (564) 123 4567</li>
                <li><i class="fa fa-envelope"></i> <a href="/">mail@example.com</a></li>
            </ul>
        </div>
        <!-- Social Icons -->
        <div class="six columns">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
            </ul>
        </div>

    </div>
</div>

<div class="clearfix"></div>
{% endblock %}

{% block header %}
<div class="container">


    <!-- Logo -->
    <div class="four columns">
        <div style="padding-top: 15px;">
            <h1><a href="/"><img src="{% static 'images/logo/_handmaker.png' %}" alt="logo" /></a></h1>
        </div>
    </div>


    <!-- Additional Menu -->
    <div class="twelve columns">
        <div id="additional-menu">
            <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'admin:index' %}">Моя панель управления</a></li>
                <li><a href="{% url 'profile' request.user.username %}">Мой профиль</a></li>
				<li><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></li>
            {% else %}
                <li><a href="{% url "login" %}?next={{ request.path }}">Войти</a></li>
                <li><a href="{% url "signup" %}?next={% url 'promote_user' %}">Регистрация</a></li>
            {% endif %}
            </ul>
        </div>
    </div>

    <div class="twelve columns">
    <p style="float:right">
        <a href="
        {% if request.user.is_authenticated %}
            /admin/blog/blogpost/add/
        {% else %}
            {% url "login" %}?next={% url 'promote_user' %}
        {% endif %}
        " class="button gray">Написать статью</a>
        <a href="
        {% if request.user.is_authenticated %}
            /admin/shop/product/add/
        {% else %}
            {% url "login" %}?next={% url 'promote_user' %}
        {% endif %}
        " class="button gray">Добавить новый товар</a>
    </p>
    </div>
    <div class="twelve columns">
        {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
    </div>

</div>
{% endblock %}

{% block navigation %}
<div class="container">
<div class="sixteen columns">
{% block navbar_dropdown_menu %}
    {% page_menu "pages/menus/dropdown.html" %}
{% endblock%}
</div>
</div>
{% endblock %}


{% block breadcrumbs %}
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>{% block title %}{{ page.title|title }}{% endblock %}</h2>
		{% spaceless %}
		<nav id="breadcrumbs">
			<ul>
            {% block breadcumbs_menu %}
		    {% page_menu "pages/menus/breadcrumb.html" %}
            {% endblock %}
			{% block breadcrumb_element %}
			{% endblock %}
		    </ul>
		</nav>
		{% endspaceless %}
	</div>
</div>
</section>
{% endblock %}

{% block slider %}
{% endblock %}

{% block main_containter %}
<div class="container">
{% block sidebar %}
{% endblock %}

{% block main %}
{% endblock %}
</div>
<div class="container">
{% block product_info %}
{% endblock %}
</div>
<div class="container margin-top-10">
{% block related_products %}
{% endblock %}
</div>

{% endblock %}

{% block featured %}
{% endblock %}

{% block new_arrivals %}
{% endblock %}

{% block parallax_banner %}
{% endblock %}

{% block product_list %}
{% endblock %}

{% block lastest_articles %}
{% endblock %}


{% block footer %}
<div class="margin-top-50"></div>
<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="four columns">
            <img src="{% static 'images/logo/_handmaker.png' %}" alt="" class=""/>
            <p class="margin-top-15">Добавить небольшой текст</p>
        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Каталог</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Интерьер</a></li>
                <li><a href="#">Косметика ручной работы</a></li>
                <li><a href="#">Куклы и игрушки</a></li>
                <li><a href="#">Одежда</a></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Личный кабинет</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">Профиль</a></li>
                <li><a href="#">Мой блог</a></li>
                <li><a href="#">Мой магазин</a></li>
            </ul>

        </div>

        <div class="four columns">
            <!-- Headline -->
            <h3 class="headline footer">Контакты</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>Номер телефона, адрес и т.д.</p>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns"><a href="/">handmaker.top</a></div>
        <div class="eight columns">
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->
{% endblock %}
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</div>
{% compress js %}
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'js/jquery.themepunch.plugins.min.js' %}"></script>
<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'js/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/jquery.pureparallax.js' %}"></script>
<script src="{% static 'js/jquery.pricefilter.js' %}"></script>
<script src="{% static 'js/jquery.selectric.min.js' %}"></script>
<script src="{% static 'js/jquery.royalslider.min.js' %}"></script>
<script src="{% static 'js/SelectBox.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/puregrid.js' %}"></script>
<script src="{% static 'js/stacktable.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/active-branch-show.js' %}"></script>
{% block extra_js %}
{% endblock %}
{% endcompress %}

{% block footer_js %}
{# {% include "includes/footer_scripts.html" %} #}
{% endblock %}



</body>
</html>
