<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/animate.min.css" %}">
<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
<link rel="stylesheet" href="{% static "css/owl.theme.css" %}">
<!-- theme stylesheet -->
<link rel="stylesheet" id="theme-stylesheet" href="{% static "css/style.default.css" %}">
<!-- your stylesheet with modifications -->
<link rel="stylesheet" href="{% static "css/custom.css" %}">


{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6" data-animate="fadeInDown">
            </div>
            <div class="col-md-6">
            {% load i18n mezzanine_tags accounts_tags %}
                <ul class="menu">
                {% if request.user.is_authenticated %}
                <li>
                    {% trans "Logged in as: " %}
                    {% url "profile" request.user.username as profile_url %}
                    {% if profile_url %}
                        <a href="{{ profile_url }}"> <strong> {{ request.user|username_or:"email" }} </strong> </a>
                    </li>
                        <a href="{% url "profile_update" %}" class="btn btn-default btn-sm btn-account">
                            <span class="glyphicon glyphicon-edit"></span> {% trans "Update profile" %}</a>
                    {% else %}
                        <a href="{% url "profile_update" %}"><strong> {{ request.user|username_or:"email" }} </strong></a>
                    </li>
                    {% endif %}


                {% else %}
                    <li><a href="{% url "login" %}?next={{ request.path }}">
                        <span class="glyphicon glyphicon-log-in"></span> {% trans "Log in" %}</a>
                    </li>
                    <li><a href="{% url "signup" %}?next={{ request.path }}">
                        <span class="glyphicon glyphicon-edit"></span> {% trans "Sign up" %}</a>
                    </li>
                {% endif %}
                <li><a href="/contact/">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- *** TOP BAR END *** -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
<div class="container">
    <div class="navbar-header">
        <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">{% trans "Toggle Search" %}</span>
                            <i class="fa fa-search"></i>
                        </button>
                        <a class="btn btn-default navbar-toggle" href="{% url "shop_cart" %}">
                            <i class="fa fa-shopping-cart"></i> 
                            <span class="hidden-xs">
                            {% blocktrans count request.cart.total_quantity as cart_quantity %}1 item{% plural %}{{ cart_quantity }} items{% endblocktrans %}
                            {% trans "in cart" %}
                            </span>
                        </a>
        </div>
    <!--     {% block navbar_title %}
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    {% endblock%} -->
    </div>
    <div class="navbar-collapse collapse" id="navigation">
        {# {% block navbar_search_form %}{% search_form "all" %}{% endblock %} #}
        {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
    </div>
    <div class="navbar-buttons">
                    <div class="navbar-collapse collapse right" id="basket-overview">
                        <a href="{% url "shop_cart" %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i>
                        <span class="hidden-sm">
                            {% blocktrans count request.cart.total_quantity as cart_quantity %}1 item{% plural %}{{ cart_quantity }} items{% endblocktrans %}
                            {% trans "in cart" %}
                        </span></a>
                    </div>
                    <!--/.nav-collapse -->
                    <div class="navbar-collapse collapse right" id="search-not-mobile" style="dispay: inline;">
                        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">{% trans "Toggle Search" %}</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
    </div>
                <div class="collapse clearfix" id="search">
                    {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
                </div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

{% block breadcrumb_menu %}
<ul class="breadcrumb">
{% spaceless %}
{% page_menu "pages/menus/breadcrumb.html" %}
{% endspaceless %}
</ul>
{% endblock %}

</div>

<div class="container">
<div class="row">
    {% block left_panel %}
        <div class="col-md-3 left">
            <div class="panel panel-default">{% page_menu "pages/menus/tree.html" %}</div>
        </div>
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block right_panel %}
        <div class="col-md-3 right">
        {% nevercache %}
        {% include "includes/language_selector.html" %}
        {% include "includes/user_panel.html" %}
        {% endnevercache %}
        <div class="panel panel-default">
        <div class="panel-body">
        {% ifinstalled mezzanine.twitter %}
        {% include "twitter/tweets.html" %}
        {% endifinstalled %}
        </div>
        </div>
    {% endblock %}
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}
</div>
<div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left"></p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right"></a>
                    </p>
                </div>
            </div>
        </div>
</footer>

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
{# <script src="{% static "js/jquery-1.11.0.min.js" %}"></script> #}
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>
<script src="{% static "js/bootstrap-hover-dropdown.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/front.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}



</body>
</html>
