{% extends "base.html" %} 
{% load pages_tags theme_tags keyword_tags mezzanine_tags i18n staticfiles %} 

{% block meta_title %}{% trans "Home" %} {% endblock %} 

{% block title %} {# {% trans "Home" %} #} {% endblock %} 

{% block breadcrumb_menu %} {% endblock %} 

{% block left_panel %} {% endblock %} 

{% block main %}
{% get_slideshow as images %}
	{% if images %}
	<div class="col-sm-12">
		<div id="main-slider">
		{% for image in images %}
			<div class="item">
				<img src="{{ MEDIA_URL }}/uploads/slideshow/{{ image }}" alt="" class="img-responsive">	
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
<div id="advantages">
                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: auto;">
                                <div class="icon"><i class="fa fa-shopping-cart"></i>
                                </div>
                                <h3><a href="/shop/">ХОЧУ КУПИТЬ</a></h3>
                                <p>We are known to provide best possible service ever</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: auto;">
                                <div class="icon"><i class="fa fa-money"></i>
                                </div>
                                <h3><a href="/create/">ХОЧУ ПРОДАТЬ</a></h3>
                                <p>Шкаф ломится от ненужной одежды? Освободите его для новых вещей.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box same-height clickable" style="height: auto;">
                                <div class="icon"><i class="fa fa-book"></i>
                                </div>
                                <h3><a href="/blog/">ХОЧУ ПОЧИТАТЬ</a></h3>
                                <p>Пишем по-дружески и просто: тренды, лайфхаки, советы стилистов. И чуть-чуть психологии.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
{% endblock %} 

{% block right_panel %} {% endblock %} 

{% block hotthisweek %}
{% shop_recent_products 4 as recent_products %}
{% if recent_products %}
<div class="container-fluid" id="hot">
	<div class="row">
		<div id="hot">
			<div class="box">
				<div class="container">
					<div class="col-md-12">
						<h2>Новинки</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row products" id="content">
	{% for product in recent_products %}
	{% spaceless %}
		<div class="col-xs-6 col-md-3">
			<div class="product">
			{% if product.image %}
				<div class="flip-container">
				<div class="flipper">
					<div class="front">
						<a href="{{ product.get_absolute_url }}">
							<img src="{{ MEDIA_URL }}{% thumbnail product.image 260 260 %}" alt="{{ product.image.description }}" class="img-responsive">
						</a>
					</div>
					<div class="back">
						<a href="{{ product.get_absolute_url }}">
							<img src="{{ MEDIA_URL }}{% thumbnail product.image 260 245 %}" alt="{{ product.image.description }}" class="img-responsive">
						</a>
					</div>
				</div>
				</div>
				<a href="{{ product.get_absolute_url }}" class="invisible">
					<img src="{{ MEDIA_URL }}{% thumbnail product.image 260 260 %}" alt="{{ product.image.description }}" class="img-responsive">
				</a>
			{% endif %}
				<div class="text">
					<h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
					{% if product.has_price %}
			            <p class="price">
			            {% if product.on_sale %}
			            	<span class="old-price">{{ product.unit_price|rub_currency }}</span>
			            {% endif %}
			            {{ product.price|rub_currency }}
			            </p>
		            {% else %}
		            	<p class="coming-soon">{% trans "Coming soon" %}</p>
		            {% endif %} 
				</div>
			</div>
		</div>
	{% endspaceless %}
	{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %} 

{% block getinspired %}
<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="box slideshow">
			<h3>Вдохновляйся</h3>
			<!-- <p class="lead">Get the inspiration from our world class designers</p> -->
			<div id="get-inspired" class="owl-carousel owl-theme">
				<div class="item">
					<a href="#">
						<img src="{% static 'img/getinspired1.jpg' %}" alt="Get inspired" class="img-responsive">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="{% static 'img/getinspired2.jpg' %}" alt="Get inspired" class="img-responsive">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="{% static 'img/getinspired3.jpg' %}" alt="Get inspired" class="img-responsive">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %} 

{% block fromblog %}
{% blog_recent_posts 2 as recent_posts %}
{% if recent_posts %}
<div class="container-fluid">
	<div class="row">
		<div class="box text-center" data-animate="fadeInUp">
			<div class="container">
				<div class="col-md-12">
					<h3 class="text-uppercase">Из нашего блога</h3>
					<p class="lead"><a href="/blog/">Подробнее</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="content">
	<div class="col-md-12" data-animate="fadeInUp">
			<div id="blog-homepage" class="row">
			{% for post in recent_posts %}
			{% spaceless %}
						<div class="col-sm-6">
							<div class="post">
								<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
								<p class="author-category">
								{% trans "Posted by" %}:
								{% with post.user as author %}
								<a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
								{% endwith %}
								{% with post.categories.all as categories %}
								{% if categories %}
								{% trans "in" %}
								{% for category in categories %}
								<a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
								{% endfor %}
								{% endif %}
								{% endwith %}
								</p>
								<hr>
								<p class="intro">{{ post.description_from_content|safe }}</p>
								<p class="read-more"><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
								</p>
							</div>
						</div>
			{% endspaceless %}
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
