{% extends "profiles/profile_settings.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}

{% block meta_title %}
  Изменить пароль
{% endblock %}

{% block breadcrumbs_title %}
<h2>Личный кабинет</h2>
{% endblock breadcrumbs_title %}
{% block breadcrumb_element %}
<li>Измененть пароль</li>
{% endblock breadcrumb_element %}
{% block main %}
<div class="twelve columns">
  <form class="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="change_password" value="{% trans 'Change password' %}">
  </form>
</div>
{% endblock %}
