{% extends "base.html" %}
{% load staticfiles mezzanine_tags theme_tags i18n %}

{% block meta_title %}
    Профиль {{ user.profile.get_full_name }}
{% endblock %}
{% block extra_css %}
{{ block.super }}
<style media="screen">
  .profile-background {
    background: #606060;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{ MEDIA_URL }}{% thumbnail user.profile.background 1290 200 %}');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
</style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block slider %}
<div class="fullwidth-element titlebar profile-background">
  <div class="container">
    <div class="three columns">
        <img src="{{ MEDIA_URL }}{% thumbnail user.profile.image 200 200 %}" alt="{{ user.profile }}" class="profile-image">
    </div>
    <div class="six columns margin-bottom-10">
      <h2>
        {{ user.profile.get_full_name }}
          <span class="profile-details green">{{ user.profile.get_status_display }}</span>
      </h2>
      <p>{{ user.profile.bio|truncatewords:30 }}</p>
      <span class="profile-details"><i class="fa fa-phone" aria-hidden="true"></i>{{ user.profile.phone }}</span>
      <span class="profile-details"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ user.profile.get_location }}</span>
    </div>
    <div class="four columns margin-bottom-10">
      <div class="data-widget">
        <div><span>Отзывов: </span><span class="pull-right">{{ reviews.master_reviews__count }}</span></div>
        <div><span>Мастерство: </span>
          <span class="pull-right">{{ reviews.master_reviews__mastery__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Пунктуальность: </span>
          <span class="pull-right">{{ reviews.master_reviews__punctuality__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Ответственность: </span>
          <span class="pull-right">{{ reviews.master_reviews__responsibility__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Рейтинг мастера: </span>
          <span class="pull-right">{{ reviews.master_reviews__avg_rating__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div class="margin-bottom-30">
          {% include "includes/star_widget.html" with value=9 %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    {% if user.profile.status == 1 %}
    <div class="three columns text-center">
      <a href="#" class="button light">Персональный заказ</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock slider %}


{% block leftsidebar %}
{% if user.shop %}
<div class="four columns">
  <div class="user-shop-div text-center">
    <div class="widget-inner-title margin-bottom-15">Магазин</div>
    <div class="margin-bottom-20">
      <a href="{{ user.shop.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% thumbnail user.shop.image 150 150 %}" class="shop-image" style="display: inherit;" width="150" height="150"></a>
    </div>
    <div class="shop-title-name margin-bottom-5">
      <a href="{{ user.shop.get_absolute_url }}">{{ user.shop.shopname }}</a>
      <br>
      <small>{{user.profile.get_location}}</small>
    </div>
    <div class="shop-stats">
      <div><i class="fa fa-heartbeat"></i>Понравилось: <span class="pull-right">117</span></div>
      <div><i class="fa fa-comment"></i>Отзывы: <span class="pull-right">3</span></div>
      <div><i class="fa fa-briefcase"></i>Всего товаров: <span class="pull-right">7</span></div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block main %}
<div class="{% if user.shop %}twelve{% else %}sixteen{% endif %} columns margin-bottom-20">
  <h3 class="headline">Информация</h3><span class="line margin-bottom-0"></span>
  <div class="clearfix"></div>
  <table class="basic-table margin-top-15">
    <tbody>
      <tr>
        <th>Имя</th>
        <td>{{ user.profile.get_full_name }}</td>
      </tr>
      <tr>
        <th>На сайте</th>
        <td>{{ user.date_joined|timesince  }}</td>
      </tr>
      <tr>
        <th>Выполнено работ</th>
        <td>22</td>
      </tr>
      <tr>
        <th>О себе</th>
        <td>{{ user.profile.bio|safe }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- blogposts widget !-->
{% if blogposts %}
<div class="sixteen columns margin-top-20">
  <h3 class="headline">Записи в Блоге</h3><span class="line margin-bottom-0"></span><div class="clearfix"></div>
</div>
<div class="user-blog-posts">
    {% for blog_post in blogposts|slice:":4" %}
    <div class="four columns half-columns margin-top-10">
      <article class="from-the-blog">
        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        {% block blog_post_list_post_featured_image %}
        <figure class="from-the-blog-image">
          <a href="{{ blog_post.get_absolute_url }}">
            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 200 %}" alt="{{ blog_post.title|capfirst }}" />
          </a>
          <div class="hover-icon"></div>
        </figure>
        {% endblock %}
        {% else %}
        <div class="post-quote">
          <a href="{{ blog_post.get_absolute_url }}">
          <blockquote>
            <i class="fa fa-camera-retro"></i>
          </blockquote>
          </a>
        </div>
        {% endif %}
        <section class="from-the-blog-content">
          {% block blog_post_list_post_title %}
            <a href="{{ blog_post.get_absolute_url }}"><h5>{{ blog_post.title|capfirst }}</h5></a>
          {% endblock %}
          {% block blog_post_list_post_metainfo %}
            {% with blog_post.user as author %}
            <i>{% trans "Posted by" %}: <a href="{% url "blog_post_list_author" author %}">{{ author.profile.get_full_name|default:author.username }}</a>,
            <br>
            {% blocktrans with sometime=blog_post.publish_date|date %}{{ sometime }}{% endblocktrans %}
            </i>
            {% endwith %}
            <br>
            {% if blog_post.keywords.all %}
              <span><i class="fa fa-tag"></i>
                  {% for tag in blog_post.keywords.all %}
                  {% if not forloop.first %}, {% endif %}
                  <a href="{% url "blog_post_list_tag" tag.keyword.slug %}">{{ tag.keyword }}</a>
                {% endfor %}
              </span>
            {% endif %}
          {% endblock %}
          <div class="clearfix"></div>
          {% block blog_post_list_post_content %}
            {% if blog_post.preview_content %}
              {{ blog_post.preview_content|safe|truncatewords_html:55 }}
            {% else %}
              {{ blog_post.description_from_content|safe }}
            {% endif %}
          {% endblock %}
          <div class="clearfix"></div>
          <a href="{{ blog_post.get_absolute_url }}" class="button gray margin-top-5">{% trans "read more" %}</a>
        </section>
      </article>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- end widget !-->

{% if master_reviews %}
<div class="sixteen columns margin-top-20">
  <h3 class="headline">Отзывы</h3><span class="line margin-bottom-0"></span><div class="clearfix"></div>
  <section class="comments">
    {% if reviews %}
      <ul>
      {% for review in reviews %}
        <li>
          <div class="avatar">
            {% if review.author__profile__image %}
              <img src="{{ MEDIA_URL }}{% thumbnail review.author__profile__image 70 70 %}" alt="">
            {% else %}
              <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
            {% endif %}
          </div>
          <div class="comment-content">
            <div class="arrow-comment"></div>
            <div class="comment-by">
              <strong>{{ review.author__profile__first_name }} {{ review.author__profile__last_name }}</strong>
              <span class="date"> {{ review.created_at|date:"d E Y" }} </span>
              <div>
                {% include "includes/star_widget.html" with value=review.rating %}
              </div>
            </div>
            <p> {{ review.content }} </p>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="margin-bottom-10">Отзывов ещё нет — ваш может стать первым.</p>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="#small-dialog" class="popup-with-zoom-anim button color {% if not reviews %}margin-left-0{% endif %}">Добавить отзыв</a>

    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
      <h3 class="headline">Добавить отзыв</h3><span class="line margin-bottom-25"></span>
      <div class="clearfix"></div>

      <!-- Form -->
      <form id="add-comment" class="add-comment" action="" method="POST">
        {% csrf_token %}
        {{ review_form }}
        <input type="submit" class="button" value="Добавить отзыв"/>
        <div class="clearfix"></div>
      </form>
    </div>
    {% endif %}
</section>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "js/rate.js" %}"></script>
{% endblock extra_js %}
