{% extends "base.html" %}
{% load staticfiles mezzanine_tags theme_tags i18n %}

{% block meta_title %}
    Профиль {{ user.profile.get_full_name }}
{% endblock %}
{% block extra_css %}
{{ block.super }}
<style media="screen">
  .profile-background {
    background: #606060;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{ MEDIA_URL }}{% thumbnail user.profile.background 1290 200 %}');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  .profile-background h2,
  .profile-background p {
    color: #fff;
    font-weight: 400;
    text-shadow: 0 1px 1px #555;
  }
  .profile-details {
    padding: 4px 10px;
    margin: 0 8px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  .data-widget {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 0 15px;
  }

  .user-shop-div {
    box-shadow: rgba(0,0,0,0.15) 0px 1px 2px;
    position: relative;
    border-top: 1px solid #efefef;
  }
  .widget-inner-title {
    padding: 10px;
    background: #f5f5f5;
    font-size: 20px;
  }
  .shop-title-name {
    font-size: 18px;
  }
  .shop-stats {
    text-align: left;
    margin: 0 auto 10px auto;
    padding: 5px 20px 20px 20px;
    line-height: 26px;
  }
  .user-shop-div .shop-stats > div {
    padding: 4px 10px;
  }
  .user-shop-div .shop-stats div:nth-child(even) {
    background: #f5f5f5;
  }
  .user-shop-div .shop-stats i, .profile-details i {
        margin-right: 5px;
  }
  .star-rating, .back-stars, .front-stars {
    display: flex;
  }
  .star-rating i {
    margin: 3px;
  }

  .star-rating {
    align-items: center;
    font-size: 1.6em;
    justify-content: center;
    /* margin-top: 50px; */
  }

  .back-stars {
    color: rgb(224, 224, 224);
    position: relative;
    /* text-shadow: 4px 4px 10px #505050; */
  }

  .front-stars {
    color: rgb(255, 199, 65);;
    overflow: hidden;
    position: absolute;
    /* text-shadow: 2px 2px 5px #d29b09; */
    top: 0;
  }
  @media only screen and (min-width: 768px) {
    .profile-background > .container {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;
    }
  }
</style>
{% endblock %}


{# {% block breadcrumbs_title %} #}
{# <h2>{{ user.profile.get_full_name }}</h2> #}
{# {% endblock breadcrumbs_title %} #}

{# {% block breadcrumb_element %} #}
{# <li>Профиль пользователя</li> #}
{# {% endblock breadcrumb_element %} #}

{% block breadcrumbs %}
{% endblock %}

{% block slider %}
<div class="fullwidth-element titlebar profile-background">
  <div class="container">
    <div class="three columns">
        <img src="{{ MEDIA_URL }}{% thumbnail user.profile.image 200 200 %}" alt="{{ user.profile }}" class="shop-image margin-right-5 margin-bottom-10">
    </div>
    <div class="six columns margin-bottom-10">
      <h2>
        {{ user.profile.get_full_name }}
          <span class="profile-details green">{{ user.profile.get_status_display }}</span>
      </h2>
      <p>{{ user.profile.bio|truncatewords:30 }}</p>
      <span class="profile-details"><i class="fa fa-phone" aria-hidden="true"></i>{{ user.profile.phone }}</span>
      <span class="profile-details"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ user.profile.get_location }}</span>
    </div>
    <div class="four columns margin-bottom-10">
      <div class="data-widget">
        <div><span>Отзывов: </span><span class="pull-right">{{ reviews.master_reviews__count }}</span></div>
        <div><span>Мастерство: </span>
          <span class="pull-right">{{ reviews.master_reviews__mastery__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Пунктуальность: </span>
          <span class="pull-right">{{ reviews.master_reviews__punctuality__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Ответственность: </span>
          <span class="pull-right">{{ reviews.master_reviews__responsibility__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div><span>Рейтинг мастера: </span>
          <span class="pull-right">{{ reviews.master_reviews__avg_rating__avg|floatformat:1|default:"0" }}</span>
        </div>
        <div class="">
          <div class="star-rating" title="{% widthratio reviews.master_reviews__avg_rating__avg|default:'0' 5 100 %}%">
            <div class="back-stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>

                <div class="front-stars" style="width: {% widthratio reviews.master_reviews__avg_rating__avg|default:'0' 5 100 %}%">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    {% if user.profile.status == 1 %}
    <div class="three columns text-center">
      <a href="#" class="button light">Персональный заказ</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock slider %}


{% block leftsidebar %}
{% if user.shop %}
<div class="four columns">
  <div class="user-shop-div text-center">
    <div class="widget-inner-title margin-bottom-15">Магазин</div>
    <div class="margin-bottom-20">
      <a href="{{ user.shop.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% thumbnail user.shop.image 150 150 %}" class="shop-image" style="display: inherit;" width="150" height="150"></a>
    </div>
    <div class="shop-title-name margin-bottom-5">
      <a href="{{ user.shop.get_absolute_url }}">{{ user.shop.shopname }}</a>
      <br>
      <small>{{user.profile.get_location}}</small>
    </div>
    <div class="shop-stats">
      <div><i class="fa fa-heartbeat"></i>Понравилось: <span class="pull-right">117</span></div>
      <div><i class="fa fa-comment"></i>Отзывы: <span class="pull-right">3</span></div>
      <div><i class="fa fa-briefcase"></i>Всего товаров: <span class="pull-right">7</span></div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block main %}
<div class="{% if user.shop %}twelve{% else %}sixteen{% endif %} columns margin-bottom-20">
  <h3 class="headline">Информация</h3><span class="line margin-bottom-0"></span>
  <div class="clearfix"></div>
  <table class="basic-table margin-top-15">
    <tbody>
      <tr>
        <th>Имя</th>
        <td>{{ user.profile.get_full_name }}</td>
      </tr>
      <tr>
        <th>Виды творчества</th>
        <td>Акксесуары, ручная работа, вышивание</td>
      </tr>
      <tr>
        <th>О себе</th>
        <td>{{ user.profile.bio|safe }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="sixteen columns margin-top-20">
  <h3 class="headline">Записи в Блоге</h3><span class="line margin-bottom-0"></span><div class="clearfix"></div>
</div>
<div class="user-blog-posts">
  {% if user.blogposts.all %}
    {% for blog_post in user.blogposts.all|slice:":4" %}
    <div class="four columns half-columns margin-top-10">
      <article class="from-the-blog">
        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        {% block blog_post_list_post_featured_image %}
        <figure class="from-the-blog-image">
          <a href="{{ blog_post.get_absolute_url }}">
            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 200 %}" alt="{{ blog_post.title }}" />
          </a>
          <div class="hover-icon"></div>
        </figure>
        {% endblock %}
        {% else %}
        <div class="post-quote">
          <a href="{{ blog_post.get_absolute_url }}">
          <blockquote>
            <i class="fa fa-camera-retro"></i>
          </blockquote>
          </a>
        </div>
        {% endif %}
        <section class="from-the-blog-content">
          {% block blog_post_list_post_title %}
            <a href="{{ blog_post.get_absolute_url }}"><h5>{{ blog_post.title|title }}</h5></a>
          {% endblock %}
          {% block blog_post_list_post_metainfo %}
            {% with blog_post.user as author %}
            <i>{% trans "Posted by" %}: <a href="{% url "blog_post_list_author" author %}">{{ author.profile.get_full_name|default:author.username }}</a>,
            <br>
            {% blocktrans with sometime=blog_post.publish_date|date %}{{ sometime }}{% endblocktrans %}
            </i>
            {% endwith %}
            <br>
            {% if blog_post.keywords.all %}
              <span><i class="fa fa-tag"></i>
                  {% for tag in blog_post.keywords.all %}
                  {% if not forloop.first %}, {% endif %}
                  <a href="{% url "blog_post_list_tag" tag.keyword.slug %}">{{ tag.keyword }}</a>
                {% endfor %}
              </span>
            {% endif %}
          {% endblock %}
          <div class="clearfix"></div>
          {% block blog_post_list_post_content %}
            {% if blog_post.preview_content %}
              {{ blog_post.preview_content|safe|truncatewords_html:55 }}
            {% else %}
              {{ blog_post.description_from_content|safe }}
            {% endif %}
          {% endblock %}
          <div class="clearfix"></div>
          <a href="{{ blog_post.get_absolute_url }}" class="button gray margin-top-5">{% trans "read more" %}</a>
        </section>
      </article>
    </div>
    {% endfor %}
  {% else %}
    <p style="font-size: 32px; text-align: center;" class="margin-top-20">Записи пока отсутствуют</p>
  {% endif %}
</div>
<div class="sixteen columns margin-top-20">
  <h3 class="headline">Отзывы</h3><span class="line margin-bottom-0"></span><div class="clearfix"></div>
  {% with user.master_reviews.all as master_reviews %}
  {% if master_reviews %}
    <section class="comments">
      <ul>
        {% for review in master_reviews %}
        <li>
          <div class="avatar">
            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
          </div>
          <div class="comment-content">
            <div class="arrow-comment"></div>
            <div class="comment-by"><strong>{{ review }}</strong>
              <span class="date">{{ review.created_at|timesince }} назад</span>
            </div>
            <p>{{ review.text_review }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

  {% else %}
    <p style="font-size: 32px; text-align: center;" class="margin-top-20">Отзывы пока отсутствуют</p>
  {% endif %}
  {% endwith %}
</div>

<!--  <h3 class="headline">Информация</h3><span class="line margin-bottom-3-"></span>
  <div class="clearfix"></div>

  <ul class="tabs-nav">
    <li class="active"><a href="#tab1">Записи в Блоге (9)</a></li>
    <li><a href="#tab2">Работы (15)</a></li>
    <li><a href="#tab3">Отзывы (55)</a></li>
  </ul>

  <div class="tabs-container">
    <div class="tab-content" id="tab1" style="display: block;">Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque.</div>
    <div class="tab-content" id="tab2" style="display: none;">Aenean dolor mi, luctus et laoreet hendrerit, condimentum faucibus mi. Nam et sem eros. Sed sed eros nec massa pellentesque accumsan in nec magna. Donec sollicitudin enim nec justo mollis bibendum. Nulla eleifend mollis velit. Ut sed risus eget metus
      egestas sagittis. Etiam vestibulum interdum turpis.</div>
    <div class="tab-content" id="tab3" style="display: none;">Suspendisse ut laoreet massa. Etiam vel dolor eu quam varius tempor eu eu mi. Duis auctor interdum ligula ut faucibus. Vivamus lorem ipsum dolor sit amet in tincidunt augue. Aenean at ligula justo, sed gravida metus. </div>
  </div> -->

{% endblock main %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "js/rate.js" %}"></script>
{% endblock extra_js %}
