{% extends "base.html" %}
{% load staticfiles theme_tags mezzanine_tags %}

{% block meta_title %}Личный кабинет{% endblock %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/jquery.flexdatalist.css' %}">
{% endblock %}

{% block breadcrumbs_class %}profile{% endblock %}
{% block breadcrumbs_title %}
<h2>Личный кабинет</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li>{{ user.email }}</li>
{% endblock breadcrumb_element %}

{% block main_containter %}


{% url 'profile-settings' as profile_settings %}
{% url 'product-list' as product_list %}
{% url 'ordertableitem-list' as ordertableitem_list %}

<!-- MENU !-->
<div class="row-tmp">
	<div class="container fullwidth-element row-shadow">
		<div class="container">
			<div class="sixteen columns">
				<div class="topnav" id="myTopnav">
					<a href="{{ profile_settings }}" class="{% active request profile_settings %}"><i class="fa fa-info-circle" aria-hidden="true"></i> Информация</a>
					{% if user.shop.id %}
					<div class="dropdown">
						<button class="dropbtn {% active request product_list %}"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Магазин <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'product-add' %}">Добавить новый товар</a>
							<a href="{{ product_list }}">Список моих товаров</a>
							<a href="{% url 'shop-update' user.shop.slug %}">Настройки магазина</a>
							<a href="{% url 'shop-view' user.shop.slug %}">Посмотреть магазин на сайте</a>
							<a href="{% url 'shop-order-list' user.shop.slug user.shop.pk %}">Список заказов</a>
						</div>
					</div>
					{% endif %}
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-pencil" aria-hidden="true"></i> Блог <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'blogpost-add' %}">Написать в блог</a>
							<a href="{% url 'blogpost-list' %}">Список моих статьей</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-book" aria-hidden="true"></i> Стол заказов <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="#">Добавить новую заявку</a>
							<a href="{{ ordertableitem_list }}">Список моих заявок</a>
							<a href="#">Список входящих откликов</a>
							<a href="#">Список исходящих откликов</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-address-book" aria-hidden="true"></i> Профиль <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'user-order-list' %}">Покупки</a>
							<a href="{% url 'profile-update' %}">Изменить данные профиля</a>
							<a href="#">Изменить пароль</a>
							<a href="{% url 'profile-detail' user.username %}">Посмотреть профиль на сайте</a>
						</div>
					</div>
					<a href="javascript:void(0);" class="icon responsive-toggle">&#9776;</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_content %}
<div class="flat-background">
	<div class="flat-row">
		<div class="container">

			<!-- fst widget !-->
			<div class="widget-card columns" id="adjust-1">
				<div class="widget-card-body">
					<div class="left-side">
						<div class="widget-card-image">
							<a href="{% url 'profile-detail' user.username %}">
								<img src="{{ MEDIA_URL }}{% thumbnail user.profile.image 200 200 %}" alt="{{ user.profile.get_full_name }}">
							</a>
								<div class="widget-card-title">{{ user.profile.get_full_name }}</div>
								<div class="widget-card-region">{{ user.profile.get_location }}</div>
								<div class="widget-card-action"><a href="{% url 'profile-update' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить</a></div>
						</div>
					</div>
					<div class="right-side">
						<div class="widget-card-content">
							<ul class="cycle margin-top-15">
								<li>Статус: </li>
								<li>{{ user.profile.get_status_display }} {% if user.shop %} / Владелец магазина{% endif %}</li>
								<li>Всего товаров: {{ user.shop.get_products_count|default:0  }}</li>
								<li>Доступно: {{ user.profile.allow_product_count }} <a href="#">Купить</a></li>
								<li>Записей в блоге: {{ blogposts_count }}</li>
								<li>Доступно: {{ blogposts_remain }} <a href="#">Купить</a></li>
								<li>Заявок для стола закаов: {{ ordertablitems_count }}</li>
								<li>Доступно: {{ ordertablitems_remain }} <a href="#">Купить</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<!--2nd widget !-->

			<div class="widget-card columns" id="adjust-2">
				{% if user.profile.status == 1 %}
				<div class="widget-card-body">
					<div class="top-side">
						<h2>Мастер</h2>
					</div>
					<div class="left-side">
						<div class="widget-card-content">
							<ul class="strong">
								<li>Рейтинг мастера: <span> {{ reviews.avg_rating|floatformat:1|default:0 }} </span> </li>
								<li>Количество отзывов: <span> <a href="#"> {{ reviews_count }} </a> </span> </li>
							</ul>
						</div>
					</div>
					<div class="right-side">
						<div class="widget-card-content">
							<ul>
								<li>Мастерство: <span> {{ reviews.mastery|floatformat:1|default:0  }} </span> </li>
								<li>Пунктуальность: <span> {{ reviews.punctuality|floatformat:1|default:0  }} </span> </li>
								<li>Ответственность: <span> {{ reviews.responsibility|floatformat:1|default:0  }} </span> </li>
							</ul>
						</div>
					</div>
				</div>
				{% else %}
				<a href=" {% url 'profile-status-toggle' %} ">
					<div class="content-box color-effect-1">
						<h2>Станьте мастером!</h2>
						<ul>
							<li>Получайте оповещения доступных работ.</li>
							<li>Принимайте личные заказы.</li>
						</ul>
					</div>
				</a>
				{% endif %}
			</div>



			<!--3rd widget !-->
			<div class="widget-card columns" id="adjust-3">
			{% if user.shop %}
			<div class="widget-card-body">
					<div class="left-side margin-top-15">
						<div class="widget-card-content">
							<h2>Магазин <a href="{% url 'shop-update' user.shop.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h2>
							<p class="strong">Нравится <span class="big-green"> 9269 </span> людям</p>
							<p class="strong">{% if user.shop.on_vacation %}
							<a href="{% url 'shop_toggle_vacation' %}" class="widget-button">Вернуться с каникул</a>
							{% else %}
							<a href="{% url 'shop_toggle_vacation' %}" class="widget-button error">Уйти на каникулы</a>
							{% endif %}</p>
							{# <p class="strong">Дневная выручка <span class="big-green"> 12₽</span></p> #}
						</div>
					</div>
					<div class="right-side margin-top-10">
						<div class="widget-card-content">
							<ul class="strong">
								<li>Всего заказов: <span> <a href="#">
									{{ orders_count }}</a> </span> </li>
							</ul>
							<ul>
								{% for order in orders.items %}
								<li>{{ order.1.label|title }}: <span> <a href="#"> {{ order.1.total }} </a> </span>	</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% else %}
					<a href=" {% url 'shop-add' %} ">
						<div class="content-box color-effect-3">
							<h2>Создайте собственный магазин!</h2>
							<ul>
								<li>Публикуйте свое товары.</li>
								<li>Продвигайте бизнес.</li>
							</ul>
						</div>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="flat-row">
		<div class="container">
			<div class="widget-card columns">
				<div class="widget-card-header">
					<h2>Стол заказов
						{% if ordertablitems_remain > 0 %}
						<a href="{% url 'ordertableitem-add' %}">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить новый
						</a>
						{% endif %}
					</h2>
				</div>
				<div class="widget-card-body">
					<div class="top-side">
						{% if ordertablitems_count %}
						<div class="limiter">
					    <div class="container-table100">
					      <div class="wrap-table100">
					        <div class="table">
										{% for ordertableitem in ordertablitems %}
										<div class="row">
											<div class="cell" data-title="Добавлено">
												{{ ordertableitem.created }}
											</div>
											<div class="cell" data-title="Название">
												<a href="{% url 'ordertableitem-update' ordertableitem.pk %}">{{ ordertableitem.title }}</a>
											</div>
											<div class="cell" data-title="Редактировать">
												<a href="{% url 'ordertableitem-update' ordertableitem.pk %}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
											</div>
											<div class="cell" data-title="Удалить">
												<a href="{% url 'ordertableitem-delete' ordertableitem.pk %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
											</div>
										</div>
										{% endfor %}
					        </div>
					      </div>
					    </div>
					  </div>
						{% endif %}
					</div>
					<div class="bottom-side">
						<a href="{% url 'ordertableitem-list' %}">Смотреть все заявки</a>
					</div>
				</div>
			</div>


			<div class="widget-card columns">
				<div class="widget-card-header">
					<h2>Блог
						{% if blogposts_remain > 0 %}
						<a href="{% url 'ordertableitem-add' %}">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить новый
						</a>
						{% endif %}
					</h2>
				</div>
				<div class="widget-card-body">
				{% if blogposts_count %}
					<div class="top-side">
						<div class="limiter">
							<div class="container-table100">
								<div class="wrap-table100">
									<div class="table">
										{% for blogpost in blogposts %}
										<div class="row">
											<div class="cell" data-title="Добавлено">
												{{ blogpost.publish_date }}
											</div>
											<div class="cell" data-title="Название">
												<a href="{% url 'blogpost-update' blogpost.pk %}">{{ blogpost.title }}</a>
											</div>
											<div class="cell" data-title="Редактировать">
												<a href="{% url 'blogpost-update' blogpost.pk %}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
											</div>
											<div class="cell" data-title="Удалить">
												<a href="{% url 'blogpost-delete' blogpost.pk %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-side">
						<a href="{% url 'blogpost-list' %}">Смотреть все записи</a>
					</div>
					{% else %}
					<p style="font-size: 32px; line-height:32px; text-align:center; margin: 55px 22px; ">
						Здесь будет отображаться список ваших последних записей в Блоге.
						<a href="{% url 'ordertableitem-add' %}" class="">Добавить запись</a>
					</p>

					{% endif %}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

<div class="flat-row">
	<div class="container">
		<div class="one-third column">
			<a href="#">
				<div class="content-box color-effect-3">
					<h3>Effect #3</h3>
					<div class="box-icon-wrap box-icon-effect-3 box-icon-effect-3a">
						<div class="box-icon"><i class="fa fa-cogs"></i></div>
					</div>
					<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
				</div>
			</a>
		</div>
		<div class="one-third column">
			<a href="#">
				<div class="content-box color-effect-4">
					<h3>Effect #4</h3>
					<div class="box-icon-wrap box-icon-effect-4 box-icon-effect-4a">
						<div class="box-icon"><i class="fa fa-paw"></i></div>
					</div>
					<p>Integer ultrices scelerisque nulla fringilla. Praesent leo massa, ullamcorper venenatis tempor.</p>
				</div>
			</a>
		</div>
		<div class="one-third column">
			<a href="#">
				<div class="content-box color-effect-2">
					<h3>Effect #2</h3>
					<div class="box-icon-wrap box-icon-effect-2 box-icon-effect-2a">
						<div class="box-icon"><i class="fa fa-globe"></i></div>
					</div>
					<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
				</div>
			</a>
		</div>
	</div>
</div>
</div>
	{% endblock %}
	{% block extra_js %}
	{{ block.super }}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dropdown').on('click touch', function () {
			$('.dropdown-content').not($(this).find('.dropdown-content')).removeClass('visible');
			$(this).find('.dropdown-content').toggleClass('visible');
		});
		$('.responsive-toggle').on('click touch', function () {
			$('.topnav').toggleClass('responsive-menu');
			$('.dropdown-content').removeClass('visible');
		});

		var card_1 = $("#adjust-1").find('.widget-card-body');
		var card_2 = $("#adjust-2").find('.widget-card-body').length ? $("#adjust-2").find('.widget-card-body') : $("#adjust-2").find('.content-box');
		var card_3 = $("#adjust-3").find('.widget-card-body').length ? $("#adjust-3").find('.widget-card-body') : $("#adjust-3").find('.content-box');
		$(window).bind("resize", function() {
			$(card_1).css('padding', '');
			$(card_2).css('padding', '');
			$(card_3).css('padding', '');
			if ($(this).width() > 751) {
				var card_1_height = $(card_1).height();
				var card_2_height = $(card_2).height();
				var card_3_height = $(card_3).height();
				var diff = card_1_height - card_2_height - card_3_height - 20
				if (diff > 0) {
					if ($("#adjust-2").find('.content-box').length && $("#adjust-3").find('.content-box').length) {
						$(card_2).css('padding', diff/4 + 'px 0 ' + diff/4 + 'px 0 ');
						$(card_3).css('padding', diff/4 + 'px 0 ' + diff/4 + 'px 0 ');
					}
					else {
						if (card_2_height > card_3_height) {
							$(card_3).css('padding', diff/2 + 'px 0 ' + diff/ 2 + 'px 0 ');
						}
						else {
							$(card_2).css('padding', diff/2 + 'px 0 ' + diff/ 2 + 'px 0 ');
						}
					}
				}
				else if(card_1_height < card_2_height + card_3_height + 20) {
					$(card_1).css('padding', (-diff/2) + 'px 0 ' + (-diff/ 2) + 'px 0 ');
				}
				else {
					// console.log('equal');
				}
			}

			else {
				$('.dropdown-content').removeClass('visible');
			}
		}).trigger('resize');
	});
</script>
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
  window.__admin_keywords_submit_url = '{% url "admin_keywords_submit" %}';
  window.__filebrowser_url = '{% url "fb_browse" %}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/AddFileBrowser.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/FB_FileBrowseField.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flexdatalist.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('.input-no-background input, .input-no-background textarea').bind('change', function () {
      if ($(this).val() != "") {
        $(this).addClass("has-content");
      } else {
        $(this).removeClass("has-content");
      }
    }).trigger('change');

		$('#id_keywords_1').flexdatalist({
			minLength: 2,
			searchIn: 'title',
			noResultsText: 'Ничего не найдено для "{keyword}"',
			maxShownResults: 10,
			selectionRequired: false,
			valuesSeparator: ',',
			url: '{% url "get-keywords-all" %}',
		});
		// duplicates bug? remove it.
		var duplicates = $('#id_keywords_1').val();
		if (typeof duplicates !== "undefined"){
			$('#id_keywords_1').val($.unique(duplicates.split(',')));
		}
		$('input#id_keywords_1-flexdatalist').focusin(function() {
			$('#id_keywords_1').addClass("has-content");
		});
  });
</script>
{% endblock %}
	{% block tmp %}
	<div class="twelve columns margin-bottom-25">
		{% if not user.shop.id %} 1. Создать магазин {% endif %} Здравствуйте, {{ user.profile.first_name }}!
		<div class="container">
			<div class="eleven columns">
				<section>
					<h2>Личный кабинет</h2>
					<p>
						Для того, чтоб в полной мере воспользоваться всеми полезными функциями нашего сайта Вам необходимо заполнить данные в Личном кабинете, чем более полно Вы заполните свои данные, тем больше о Вас узнают Ваши потенциальные покупатели. Функции сайта в полной
						мере станут доступными после того, как Вы загрузите свое <strong>фото</strong>, а также заполните следующие разделы: <strong>Имя, Фамилия, Страна, Регион, Город, Телефон, О себе</strong>.
					</p>
				</section>
			</div>
			<div class="eleven columns">
				<section>
					<h2>Магазин <a href="#">уйти на каникулы</a> </h2>
					<p>Чтобы Ваш магазин стал популярным, выглядел эффектно и приобрел поклонников, необходимо, чтоб он выглядел привлекательно.</p>
					<p>
						<ul class="list-2">
							<li>Для этого Вам следует загрузить <strong>логотип и обложку</strong>, замечательно, если Вы имеете свой отличительный логотип, символизирующий Ваш бренд, но если нет – подойдет любое фото, дающее понять, что Вы продаете.</li>
							<li>Если у Вашего бренда есть <strong>название</strong> – также укажите его, если нет – название магазина может быть любым, отражающим ваш стиль и категорию товаров. </li>
							<li>Обязательно придумайте <strong>описание</strong> для вашего магазина, какие он имеет отличительные черты, что лежит в основе бренда, на каких покупателей он ориентирован. </li>
							<li>Очень важно указать <strong>правила</strong> магазина: принят ли в Вашем магазине возврат или обмен товара, на каких условиях, укажите прочие принципы и правила функционирования Вашего магазина.</li>
							<li>Не забудьте отразить <strong>способы доставки и способы оплаты</strong></li>
						</ul>
					</p>
				</section>
			</div>
			<div class="eleven columns">
				<section>
					<h2>Товары</h2>
					<p>Чтоб покупатель быстро нашел Ваш товар необходимо внимательно заполнить информацию о товаре:</p>
					<p>
						<ul class="list-2">
							<li><strong>Название</strong></li>
							<li><strong>Цена</strong></li>
							<li><strong>Состояние</strong>, под состоянием товара имеется ввиду есть ли он у Вас в наличие на момент предложения к продаже, либо Вы готовы сделать подобный под заказ – для этого следует выбрать один из двух предложенных вариантов: либо «в наличии»,
								либо «под заказ».</li>
							<li>Укажите <strong>материал</strong>, из которого сделан Ваш товар</li>
							<li>Включите курсор «для примера», если представленный товар будет отличаться от итогового варианта</li>
							<li>Внимательно подойдите к заполнению разделов <strong>категория и подкатегория</strong>, для начала ознакомьтесь со всеми, чтоб понять к какой именно относится Ваш товар, чтоб наиболее точно разместить его в каталоге, в этом случае покупатель быстрее
								найдет Ваш товар </li>
							<li>Фотографии — одна из основных составляющих успеха вашего магазина.</li>
							<li>Дополнительная информация о товарах: не забывайте обновлять свой магазин, если товар продан или отсутствует – обязательно удаляйте его, чтоб быстрей продать товары, попробуйте менять фото, может они станут выглядеть более привлекательно для покупателя.
								Прежде чем размещать товар, ознакомьтесь пожалуйста с <a href="{% url 'true_index' %}"><span class="highlight light">Правилами сайта</span></a></li>
						</ul>
					</p>
				</section>
			</div>
			<div class="eleven columns">
				<section>
					<h2>Стол заказов</h2>
					<p>Если Вы хотите сделать заказ у мастера, совсем не важно, есть ли у вас свой магазин, достаточно заполнить информацию в личном кабинете и Вам будет доступна функция оформления заказа. Необходимые данные для оформления заявки:</p>
					<p>
						<ul class="list-2">
							<li><strong>Название</strong> желаемого товара</li>
							<li><strong>Цена</strong></li>
							<li><strong>Состояние</strong>, под состоянием товара имеется ввиду есть ли он у Вас в наличие на момент предложения к продаже, либо Вы готовы сделать подобный под заказ – для этого следует выбрать один из двух предложенных вариантов: либо «в наличии»,
								либо «под заказ».</li>
							<li>Укажите <strong>материал</strong>, из которого сделан Ваш товар</li>
							<li>Включите курсор «для примера», если представленный товар будет отличаться от итогового варианта</li>
							<li>Внимательно подойдите к заполнению разделов <strong>категория и подкатегория</strong>, для начала ознакомьтесь со всеми, чтоб понять к какой именно относится Ваш товар, чтоб наиболее точно разместить его в каталоге, в этом случае покупатель быстрее
								найдет Ваш товар </li>
							<li>Фотографии — одна из основных составляющих успеха вашего магазина.</li>
							<li>Дополнительная информация о товарах: не забывайте обновлять свой магазин, если товар продан или отсутствует – обязательно удаляйте его, чтоб быстрей продать товары, попробуйте менять фото, может они станут выглядеть более привлекательно для покупателя.
								Прежде чем размещать товар, ознакомьтесь пожалуйста с <a href="{% url 'true_index' %}"><span class="highlight light">Правилами сайта</span></a></li>
						</ul>
					</p>
				</section>
			</div>
			<div class="eleven columns">
				<section>
					<h2>Запись в блог</h2>
					<p>Если Вы хотите делиться с другими полезной информацией или просто желаете писать на темы, связанные с рукоделием, творчеством или искусством, Вы можете вести свой собственный блог, тем самым привлечь больше внимание к своим товарам. Для того, чтоб
						сделать запись в блог, следует заполнить следующую информацию:</p>
				</section>
			</div>
		</div>
	</div>
	{% endblock tmp %}


	{% block leftsidebar_tmp %}
	{% url 'profile-settings' as profile_settings %}
	{% url 'profile-add' as profile_add %}
	{% url 'profile-update' as profile_update %}
	{% url 'ordertableitem-list' as ordertableitem_list %}
	{% url 'ordertableitemoutrequest-list' 	as ordertableitem_out_request_list %}
	{% url 'ordertableitemrequest-list' as ordertableitem_request_list %}
	<div class="four columns margin-bottom-25">
		<div class="widget margin-top-0">
			<h3 class="headline">Профиль</h3><span class="line"></span>
			<div class="clearfix"></div>
			<ul class="nav-categories">
				<li><a href="{{ profile_settings }}" class="{% active request profile_settings %}">Моя активность</a></li>
				<li><a href="{% url 'user-order-list' %}" class="">Мои покупки</a></li>
				<li><a href="{{ profile_update }}" class="{% active request profile_update %}">Изменить данные</a></li>
				<li><a href="{% url 'profile-detail' user.username %}">Посмотреть профиль на сайте</a></li>
				<li><a href="{% url 'change_fck_password' %}">Изменить пароль</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="widget">
			<h3 class="headline">Блог</h3><span class="line"></span>
			<div class="clearfix"></div>
			<ul class="nav-categories">
				<li><a href="{% url 'blogpost-list' %}">Мои статьи</a></li>
				<li><a href="{% url 'blogpost-add' %}">Написать в блог</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="widget">
			<h3 class="headline">Магазин</h3><span class="line"></span>
			<div class="clearfix"></div>
			<ul class="nav-categories">
				{% if user.shop.id %}
				<li><a href="{% url 'product-list' %}">Список моих товаров</a></li>
				<li><a href="{% url 'product-add' %}">Добавить новый товар</a></li>
				<li><a href="{% url 'shop-update' user.shop.slug %}">Настройки магазина</a></li>
				<li><a href="{% url 'shop-view' user.shop.slug %}">Посмотреть магазин на сайте</a></li>
				<li><a href="{% url 'shop-order-list' user.shop.slug user.shop.pk %}">Список заказов</a></li>
				{% else %}
				<li><a href="{% url 'shop-add' %}">Создать магазин</a> {% endif %}
			</ul>
		</div>

		<div class="clearfix"></div>
		<div class="widget">
			<h3 class="headline">Стол заказов</h3><span class="line"></span>
			<div class="clearfix"></div>
			<ul class="nav-categories">
				<li><a href="{{ ordertableitem_list }}" class="{% active request ordertableitem_list %}">Список моих заявок</a></li>
				<li><a href="{% url 'ordertableitem-add' %}">Добавить новую заявку</a></li>
				<li><a href="{{ ordertableitem_request_list }}" class="{% active request ordertableitem_request_list %}">Список входящих откликов</a></li>
				<li><a href="{{ ordertableitem_out_request_list }}" class="{% active request ordertableitem_out_request_list %}">Список исходящих откликов</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	{% endblock %}
