{% extends "base.html" %}
{% load staticfiles theme_tags mezzanine_tags %}

{% block meta_title %}Личный кабинет{% endblock %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/jquery.flexdatalist.css' %}">
{% endblock %}

{% block breadcrumbs_class %}profile{% endblock %}
{% block breadcrumbs_title %}
<h2>Личный кабинет</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li>{{ user.email }}</li>
{% endblock breadcrumb_element %}

{% block main_containter %}


{% url 'profile-settings' as profile_settings %}
{% url 'product-list' as product_list %}
{% url 'ordertableitem-list' as ordertableitem_list %}

<!-- MENU !-->
<div class="row-tmp">
	<div class="container fullwidth-element row-shadow">
		<div class="container">
			<div class="sixteen columns">
				<div class="topnav" id="myTopnav">
					<a href="{{ profile_settings }}" class="{% active request profile_settings %}"><i class="fa fa-info-circle" aria-hidden="true"></i> Информация</a>
					{% if user.shop.id %}
					<div class="dropdown">
						<button class="dropbtn {% active request product_list %}"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Магазин <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'product-add' %}">Добавить новый товар</a>
							<a href="{{ product_list }}">Список моих товаров</a>
							<a href="{% url 'shop-update' user.shop.slug %}">Настройки магазина</a>
							<a href="{% url 'shop-view' user.shop.slug %}">Посмотреть магазин на сайте</a>
							<a href="{% url 'shop-order-list' user.shop.slug user.shop.pk %}">Список заказов</a>
						</div>
					</div>
					{% endif %}
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-pencil" aria-hidden="true"></i> Блог <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'blogpost-add' %}">Написать в блог</a>
							<a href="{% url 'blogpost-list' %}">Список моих статьей</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-book" aria-hidden="true"></i> Стол заказов <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'ordertableitem-add' %}">Добавить новую заявку</a>
							<a href="{{ ordertableitem_list }}">Список моих заявок</a>
							<a href="#">Список входящих откликов</a>
							<a href="#">Список исходящих откликов</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn"><i class="fa fa-address-book" aria-hidden="true"></i> Профиль <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a href="{% url 'user-order-list' %}">Покупки</a>
							<a href="{% url 'profile-update' %}">Изменить данные профиля</a>
							<a href="#">Изменить пароль</a>
							<a href="{% url 'profile-detail' user.username %}">Посмотреть профиль на сайте</a>
						</div>
					</div>
					<a href="javascript:void(0);" class="icon responsive-toggle">&#9776;</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_content %}
<div class="flat-background">
	<div class="flat-row">
		<div class="container">

			<!-- fst widget !-->
			<div class="widget-card columns" id="adjust-1">
				<div class="widget-card-body">
					<div class="left-side">
						<div class="widget-card-image">
							<a href="{% url 'profile-detail' user.username %}">
								<img src="{{ MEDIA_URL }}{% thumbnail user.profile.image 200 200 %}" alt="{{ user.profile.get_full_name }}">
							</a>
								<div class="widget-card-title">{{ user.profile.get_full_name }}</div>
								<div class="widget-card-region">{{ user.profile.get_location }}</div>
								<div class="widget-card-action"><a href="{% url 'profile-update' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить</a></div>
						</div>
					</div>
					<div class="right-side">
						<div class="widget-card-content">
							<ul class="cycle margin-top-15">
								<li>Статус: </li>
								<li>{{ user.profile.get_status_display }} {% if user.shop %} / Владелец магазина{% endif %}</li>
								<li>Всего товаров: {{ user.shop.get_products_count|default:0  }}</li>
								<li>Доступно: 0 <a href="#">Купить</a></li>
								<li>Записей в блоге: {{ blogposts_count }}</li>
								<li>Доступно: {{ blogposts_remain }} <a href="#">Купить</a></li>
								<li>Заявок для стола заказов: {{ ordertablitems_count }}</li>
								<li>Доступно: {{ ordertablitems_remain }} <a href="#">Купить</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<!--2nd widget !-->

			<div class="widget-card columns" id="adjust-2">
				{% if user.profile.status == 1 %}
				<div class="widget-card-body">
					<div class="top-side">
						<h2>Мастер</h2>
					</div>
					<div class="left-side">
						<div class="widget-card-content">
							<ul class="strong">
								<li>Рейтинг мастера: <span> {{ reviews.avg_rating|floatformat:1|default:0 }} </span> </li>
								<li>Количество отзывов: <span> <a href="#"> 0 </a> </span> </li>
							</ul>
						</div>
					</div>
					<div class="right-side">
						<div class="widget-card-content">
							<ul>
								<li>Мастерство: <span> {{ reviews.mastery|floatformat:1|default:0  }} </span> </li>
								<li>Пунктуальность: <span> {{ reviews.punctuality|floatformat:1|default:0  }} </span> </li>
								<li>Ответственность: <span> {{ reviews.responsibility|floatformat:1|default:0  }} </span> </li>
							</ul>
						</div>
					</div>
				</div>
				{% else %}
				<a href=" {% url 'profile-status-toggle' %} ">
					<div class="content-box color-effect-1">
						<h2>Станьте мастером!</h2>
						<ul>
							<li>Получайте оповещения о доступных работах.</li>
							<li>Принимайте личные заказы.</li>
						</ul>
					</div>
				</a>
				{% endif %}
			</div>



			<!--3rd widget !-->
			<div class="widget-card columns" id="adjust-3">
			{% if user.shop %}
			<div class="widget-card-body">
					<div class="left-side margin-top-15">
						<div class="widget-card-content">
							<h2>Магазин <a href="{% url 'shop-update' user.shop.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h2>
							<p class="strong">Нравится <span class="big-green"> 0 </span> людям</p>
							<ul class="strong">
								<li>Рейтинг товаров: <span> 0 </span></li>
							</ul>
							<p class="strong">
								{% if user.shop.on_vacation %}
									<a href="{% url 'shop_toggle_vacation' %}" class="widget-button">Вернуться с каникул</a>
								{% else %}
									<a href="{% url 'shop_toggle_vacation' %}" class="widget-button error">Уйти на каникулы</a>
								{% endif %}
								</p>
							{# <p class="strong">Дневная выручка <span class="big-green"> 12₽</span></p> #}
						</div>
					</div>
					<div class="right-side margin-top-10">
						<div class="widget-card-content">
							<ul class="strong">
								<li>Всего заказов: <span> <a href="#">
									{{ orders_count }}</a> </span> </li>
							</ul>
							<ul>
								{% for order in orders.items %}
								<li>{{ order.1.label|capfirst }}: <span> <a href="#"> {{ order.1.total }} </a> </span>	</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% else %}
					<a href=" {% url 'shop-add' %} ">
						<div class="content-box color-effect-3">
							<h2>Создайте собственный магазин!</h2>
							<ul>
								<li>Публикуйте свое товары.</li>
								<li>Продвигайте бизнес.</li>
							</ul>
						</div>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="flat-row">
		<div class="container" id="masonry-wrapper">

			{% if ordertablitems_count %}
			<!-- order table !-->
			<div class="widget-card columns masonry-item">
				<div class="widget-card-header">
					<h2>Стол заказов
						{% if ordertablitems_remain > 0 %}
						<a href="{% url 'ordertableitem-add' %}">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить новый
						</a>
						{% endif %}
					</h2>
				</div>

				<div class="widget-card-body">
					{% if ordertablitems_count %}
					<div class="top-side">
						<div class="limiter">
					    <div class="container-table100">
					      <div class="wrap-table100">
					        <div class="table">
										{% for ordertableitem in ordertablitems %}
										<div class="row">
											<div class="cell" data-title="Добавлено">
												{{ ordertableitem.created|date:"d.m.Y" }}
											</div>
											<div class="cell" data-title="Название заявки">
												<a href="{{ ordertableitem.get_absolute_url }}">{{ ordertableitem.title|capfirst }}</a>
											</div>
											<div class="cell" data-title="Редактировать">
												<a href="{% url 'ordertableitem-update' ordertableitem.pk %}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
											</div>
											<div class="cell" data-title="Удалить">
												<a href="{% url 'ordertableitem-delete' ordertableitem.pk %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
											</div>
										</div>
										{% endfor %}
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="bottom-side">
						<a href="{% url 'ordertableitem-list' %}">Смотреть все заявки</a>
					</div>
					{% else %}
					<div class="widget-info">
						<p>
							Здесь будет отображаться список ваших последних заявок для Стола Заказов.
						</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			<!-- order table end !-->

			<!-- blog post !-->
			{% if blogposts_count %}
			<div class="widget-card columns masonry-item">
				<div class="widget-card-header">
					<h2>Блог
						{% if blogposts_remain > 0 %}
						<a href="{% url 'blogpost-add' %}">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить новый
						</a>
						{% endif %}
					</h2>
				</div>
				<div class="widget-card-body">
				{% if blogposts_count %}
					<div class="top-side">
						<div class="limiter">
							<div class="container-table100">
								<div class="wrap-table100">
									<div class="table">
										{% for blogpost in blogposts %}
										<div class="row">
											<div class="cell" data-title="Добавлено">
												{{ blogpost.publish_date|date:"d.m.Y" }}
											</div>
											<div class="cell" data-title="Название статьи">
												<a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title|capfirst }}	</a>
											</div>
											<div class="cell" data-title="Редактировать">
												<a href="{% url 'blogpost-update' blogpost.pk %}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
											</div>
											<div class="cell" data-title="Удалить">
												<a href="{% url 'blogpost-delete' blogpost.pk %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-side">
						<a href="{% url 'blogpost-list' %}">Смотреть все записи</a>
					</div>
					{% else %}
					<div class="widget-info">
						<p>
							Здесь будет отображаться список ваших последних записей в Блоге.
						</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			<!-- blogpost end !-->
			{% if user.shop.id %}
			<!-- products !-->
			{% if products_count %}
			<div class="widget-card columns masonry-item">
				<div class="widget-card-header">
					<h2>Список моих товаров
						{% if products_remain > 0 %}
						<a href="{% url 'product-add' %}">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить новый
						</a>
						{% endif %}
					</h2>
				</div>
				<div class="widget-card-body">
				{% if products_count %}
					<div class="top-side">
						<div class="limiter">
							<div class="container-table100">
								<div class="wrap-table100">
									<div class="table">
										{% for product in products %}
										<div class="row">
											<div class="cell" data-title="Добавлено">
												{{ product.date_added|date:"d.m.Y" }}
											</div>
											<div class="cell" data-title="Название товара">
												<a href="{{ product.get_absolute_url }}">{{ product.title|capfirst }}</a>
											</div>
											<div class="cell" data-title="Редактировать">
												<a href="{% url 'product-update' product.pk %}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
											</div>
											<div class="cell" data-title="Удалить">
												<a href="{% url 'product-delete' product.pk %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-side">
						<a href="{% url 'product-list' %}">Смотреть все товары</a>
					</div>
					{% else %}
					<div class="widget-info">
						<p>
							Здесь будет отображаться список товаров из вашего магазина.
						</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			<!-- products end  !-->

			<!-- orders !-->
			{% if orders_count %}
			<div class="widget-card columns masonry-item">
				<div class="widget-card-header">
					<h2>Заказы для магазина
					</h2>
				</div>
				<div class="widget-card-body">
				{% if orders_count %}
					<div class="top-side">
						<div class="limiter">
							<div class="container-table100">
								<div class="wrap-table100">
									<div class="table">
										{% for order in orders %}
										<div class="row">
											<div class="cell" data-title="Поступил">
												{{ order.time|date:"d.m.Y" }}
											</div>
											<div class="cell" data-title="Пользователь">
												{{ order.user_first_name }} {{ order.user_last_name }}
											</div>
											<div class="cell" data-title="Доставка">
												{{ order.shipping_type }}
											</div>
											<div class="cell" data-title="Сумма заказа">
												{{ order.total|rub_currency }}
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-side">
						<a href="{% url 'order-list' %}">Смотреть все заказы</a>
					</div>
					{% else %}
					<div class="widget-info">
						<p>
							Здесь будет отображаться список заказов для магазина.
						</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			<!-- orders end !-->
		{% endif %}
		</div>
	</div>
	{# <div class="margin-top-50"></div> #}
</div>
	{% endblock %}
	{% block extra_js %}
	{{ block.super }}
<script type="text/javascript">
	$(document).ready(function() {
		$('.dropdown').on('click touch', function () {
			$('.dropdown-content').not($(this).find('.dropdown-content')).removeClass('visible');
			$(this).find('.dropdown-content').toggleClass('visible');
		});
		$('.responsive-toggle').on('click touch', function () {
			$('.topnav').toggleClass('responsive-menu');
			$('.dropdown-content').removeClass('visible');
		});

		var card_1 = $("#adjust-1").find('.widget-card-body');
		var card_2 = $("#adjust-2").find('.widget-card-body').length ? $("#adjust-2").find('.widget-card-body') : $("#adjust-2").find('.content-box');
		var card_3 = $("#adjust-3").find('.widget-card-body').length ? $("#adjust-3").find('.widget-card-body') : $("#adjust-3").find('.content-box');
		$(window).bind("resize", function() {
			$(card_1).css('padding', '');
			$(card_2).css('padding', '');
			$(card_3).css('padding', '');
			if ($(this).width() > 751) {
				var card_1_height = $(card_1).height();
				var card_2_height = $(card_2).height();
				var card_3_height = $(card_3).height();
				var diff = card_1_height - card_2_height - card_3_height - 20
				if (diff > 0) {
					if ($("#adjust-2").find('.content-box').length && $("#adjust-3").find('.content-box').length) {
						$(card_2).css('padding', diff/4 + 'px 0 ' + diff/4 + 'px 0 ');
						$(card_3).css('padding', diff/4 + 'px 0 ' + diff/4 + 'px 0 ');
					}
					else {
						if (card_2_height > card_3_height) {
							$(card_3).css('padding', diff/2 + 'px 0 ' + diff/ 2 + 'px 0 ');
						}
						else {
							$(card_2).css('padding', diff/2 + 'px 0 ' + diff/ 2 + 'px 0 ');
						}
					}
				}
				else if(card_1_height < card_2_height + card_3_height + 20) {
					$(card_1).css('padding', (-diff/2) + 'px 0 ' + (-diff/ 2) + 'px 0 ');
				}
				else {
					// console.log('equal');
				}
			}

			else {
				$('.dropdown-content').removeClass('visible');
			}
		}).trigger('resize');
	});
</script>
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
  window.__admin_keywords_submit_url = '{% url "admin_keywords_submit" %}';
  window.__filebrowser_url = '{% url "fb_browse" %}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/AddFileBrowser.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/FB_FileBrowseField.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.ns-autogrow.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flexdatalist.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('.input-no-background input, .input-no-background textarea').bind('change', function () {
      if ($(this).val() != "") {
        $(this).addClass("has-content");
      } else {
        $(this).removeClass("has-content");
      }
    }).trigger('change');
		$('textarea').autogrow({vertical: true, horizontal: false});

		//flexdata
		$('#id_keywords_1').flexdatalist({
			minLength: 2,
			searchIn: 'title',
			noResultsText: 'Ничего не найдено для "{keyword}"',
			maxShownResults: 10,
			selectionRequired: false,
			valuesSeparator: ',',
			url: '{% url "get-keywords-all" %}',
		});
		// duplicates bug? remove it.
		var duplicates = $('#id_keywords_1').val();
		if (typeof duplicates !== "undefined"){
			$('#id_keywords_1').val($.unique(duplicates.split(',')));
		}
		$('input#id_keywords_1-flexdatalist').focusin(function() {
			$('#id_keywords_1').addClass("has-content");
		});
		//flexdata_ned
  });
</script>
{% endblock %}
