{% extends "profiles/profile_settings.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}

{% block meta_title %}
    Изменение данных
{% endblock %}

{% block breadcrumbs_title %}
<h2>Личный кабинет</h2> {% endblock breadcrumbs_title %} {% block breadcrumb_element %}
<li>Изменение данных</li>
{% endblock breadcrumb_element %}
{% block extra_content %}
<form method="post" enctype="multipart/form-data" class="input-no-background">
    {% csrf_token %}
    <div class="flat-background">
    	<div class="flat-row padding-top-50">
    		<div class="container fullwidth-element">
            <div class="shop-images">
        			{{ form.background }}
        		</div>
        		<div class="shop-images">
        			{{ form.image }}
        		</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="container">
      <div class="ten columns">
        <div class="four columns alpha margin-top-20 margin-bottom-15">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="four columns omega margin-top-20 margin-bottom-15">
          {{ form.last_name|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
        <div class="eight columns alpha margin-top-20 margin-bottom-15">
          {{ form.country|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
        <div class="eight columns alpha margin-top-20 margin-bottom-15">
          {{ form.region|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
        <div class="eight columns alpha margin-top-20 margin-bottom-15">
          {{ form.city|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
        <div class="four columns alpha margin-top-20 margin-bottom-15">
          {{ form.phone|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
        <div class="seven columns alpha margin-top-20 margin-bottom-15">
          {{ form.bio|as_crispy_field }}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="six columns sticky margin-top-50">
          <div class="action-bar">
            <div class="save">
              <input type="submit" class="button" value="Сохранить профиль"/>
            </div>
          </div>
      </div>
    </div>
</form>
<div class="margin-top-50"></div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $(".mask").mask('+0 (000) 000 0000');
});
</script>
<script src="{% static 'smart-selects/js/bindfields.js' %}"></script>
<script src="{% static 'smart-selects/js/chainedfk.js' %}"></script>
<script src="{% static 'smart-selects/js/chainedm2m.js' %}"></script>
{% endblock extra_js %}
