{% extends "base.html" %}
{% load mezzanine_tags blog_tags pages_tags keyword_tags theme_tags %}

{% block meta_title %}
{% if page %}
	{{ page.meta_title }}
{% else %}
	Блог
{% endif %}
{% endblock %}


{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumbs_title %}
<h2>Блог</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
{% if tag or category %}
<li>
{% spaceless %}
	{% if tag %}
    Тег: {{ tag.title|capfirst }}
	{% else %}
		{% if category %}
    		Категория: {{ category.title|capfirst }}
		{% endif %}
	{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}
<div class="twelve columns">
	<div class="extra-padding">
		{% if blogpost_list %}
		{% for blogpost in blogpost_list %}
		<article class="post">
			<figure class="post-img">
				<a href="{{ blogpost.get_absolute_url }}">
					{% if blogpost.featured_image %}
						<img src="{{ MEDIA_URL }}{% thumbnail blogpost.featured_image 860 250 %}" alt="{{ blogpost.title|capfirst }}"/>
					{% endif %}
					<div class="hover-icon"></div>
				</a>
			</figure>
			<section class="date">
				<span class="day">{{ blogpost.publish_date|date:"d" }}</span>
				<span class="month">{{ blogpost.publish_date|date:"E" }}</span>
			</section>
			<section class="post-content">
				<header class="meta">
					<h2><a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title|capfirst }}</a></h2>
					<span><i class="fa fa-user"></i>
						<a href="{{ blogpost.user.profile.get_absolute_url }}">
						{{ blogpost.user.profile.get_full_name }}</a></span>
						{% with tags=blog_post.keywords.all %}
						{% if tags %}
						<span><i class="fa fa-tag"></i>
							{% for tag in tags %}
							 <a href="{% url "blogpost-list-tag" tag.keyword.slug %}" class="tag">{{ tag }}</a>
							 {% if not forloop.last %}, {% endif %}
							 {% endfor %}
						</span>
						{% endif %}
						{% endwith %}
					{% if blogpost.allow_comments %}
					<span><i class="fa fa-comment"></i>
						<a href="{{ blogpost.get_absolute_url }}#comment">{{ blogpost.comments_count|rupluralize:"комментарий,комментария,комментариев" }}</a>
					</span>
					{% endif %}
				</header>
				{% if blogpost.preview_content %}
					{{ blogpost.preview_content|safe }}
				{% else %}
					<p>{{ blogpost.description_from_content|safe }}</p>
				{% endif %}
				<br>
				<a href="{{ blogpost.get_absolute_url }}" class="button color">Читать далее</a>
			</section>
		</article>
		{% endfor %}
		{% else %}
		<section id="not-found">
			<h2><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h2>
			<p>Записей в Блоге не найдено</p>
		</section>
		{% endif %}
		<div class="clearfix"></div>
		{% if is_paginated %}
		<div class="pagination-container">
			<nav class="pagination">
				<ul>
										{% for i in page_obj.paginator.page_range %}
											{% if page_obj.number == i %}
												<li><a href="#" class="current-page">{{ i }}</a></li>
											{% else %}
												<li><a href="?page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endfor %}
								</ul>
						</nav>
						<nav class="pagination-next-prev">
							<ul>
										{% if page_obj.has_previous %}
												<li><a href="?page={{ page_obj.previous_page_number }}" class="prev"></a></li>
										{% endif %}
										{% if page_obj.has_next %}
												<li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
										{% endif %}
								</ul>
						</nav>
				</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block rightsidebar %}
	{% include "includes/blog_right_sidebar.html" with size="four" %}
{% endblock %}
