{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}
{% block meta_title %}
{% if object %}
    Изменение {{ object.title }}
{% else %}
    Новая запись
{% endif %}
{% endblock %}
{% block breadcrumbs_title %}
<h2>Блог</h2>
{% endblock breadcrumbs_title %}
{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li><a href="{% url 'blogpost-list' %}">Список моих записей</a></li>
<li>{% if object %}{{ object }}{% else %}Новая запись в блог{% endif %}</li>
{% endblock %}


{% block main %}
<div class="sixteen columns">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="action-bar">
        <a href="{% url 'blogpost-list' %}" class="button dark">Назад</a>
        {% if object %}
            <a href="{% url 'blogpost-delete' object.pk %} " class="button dark">Удалить</a>
        {% endif %}
        <input type="submit" class="button" value="Сохранить"/>
    </div>
</form>
</div>
{% endblock main %}
{% block extra_js %} {{ block.super }}
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
  window.__admin_keywords_submit_url = '{% url "admin_keywords_submit" %}';
  window.__filebrowser_url = '{% url "fb_browse" %}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/AddFileBrowser.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/FB_FileBrowseField.js" %}"></script>
<!--<script type="text/javascript" src="{% static "filebrowser/js/FB_TinyMCE.js" %}"></script>-->
<script type="text/javascript" src="{% static "admin/js/mezz/keywords_field.js" %}"></script>
<script type="text/javascript" src="{% static "mezzanine/tinymce/tinymce.min.js" %}"></script>
<script type="text/javascript" src="{% static "mezzanine/js/tinymce_setup.js" %}"></script>
{% endblock extra_js %}
