{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags keyword_tags i18n disqus_tags theme_tags blog_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ blog_post.title|title }}
{% endblock %}

{% block breadcrumb_element %}
<li>{{ blog_post.title|title }}</li>
{% endblock %}


{% block main %}
<div class="twelve columns">
	<div class="extra-padding">
		<article class="post single">
			<section class="post-content">
			<section class="date">
			{% with day=blog_post.publish_date|date:"d"  month=blog_post.publish_date|date:"M"  %} 
				<span class="day">{{day}}</span>
				<span class="month">{{month}}</span>
			{% endwith %}
			</section>
			{% block blog_post_detail_postedby %}
				<header class="meta">
					<h2>{{ blog_post.title|title }}</h2>
					<span><i class="fa fa-user"></i>{% trans "Posted by" %}: 
					{% with blog_post.user as author %}
						<a href="{% url 'blog_post_list_author' author %}">{{ author.get_full_name|default:author.username }}</a></span>
					{% endwith %}
					{% keywords_for blog_post as tags %}
					{% if tags %}
						<span><i class="fa fa-tag"></i>
								{% for tag in tags %}
								{% if not forloop.first %}, {% endif %}
								<a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>
							{% endfor %}
						</span>
					{% endif %}
					{% if blog_post.allow_comments %}
						{% if settings.COMMENTS_DISQUS_SHORTNAME %}
						<span><i class="fa fa-comment"></i>(Число)</span>
						{% endif %}
					{% endif %} 
					
				</header>
			{% endblock %}
			{% block blog_post_detail_content %}
				{{ blog_post.content|richtext_filters|safe }}
			{% endblock %}

	
			<div class="clearfix"></div>

			</section>

		</article>
		{% if blog_post.allow_comments %}
			{% if settings.COMMENTS_DISQUS_SHORTNAME %}
				{% include "generic/includes/disqus_comments.html" %}
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}

