{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags keyword_tags i18n comment_tags theme_tags blog_tags pages_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{# {% block title %} #}
{# {{ blog_post.title|title }} #}
{# {% endblock %} #}

{# {% block breadcrumb_element %} #}
{# <li>{{ blog_post.title|title }}</li> #}
{# {% endblock %} #}

{# {% block titlebar_class %}parallax-titlebar fullwidth-element{% endblock %} #}
{# {% block titlebar_style %} #}
{# background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url({{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1200 200 %}); #}
{# {% endblock %} #}

{% block breadcrumbs %}
<section class="parallax-titlebar fullwidth-element" style="">
{% if blog_post.featured_image %}
<img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1290 200 %}" alt="" />
{% endif %}
<div class="parallax-overlay"></div>
<div class="parallax-content">
	<h2>{{ blog_post.title|capfirst }}
		<span>
			{{ blog_post.user.profile.get_full_name }}
		</span>
	</h2>
	<nav id="breadcrumbs">
		<ul>
			{% page_menu "pages/menus/breadcrumb.html" %}
		</ul>
	</nav>
</div>
</section>
{% endblock %}



{% block main %}
<div class="twelve columns">
	<div class="extra-padding">
		<article class="post single">
			<section class="post-content">
			<section class="date">
				<span class="day">{{ blog_post.publish_date|date:"d" }}</span>
				<span class="month">{{ blog_post.publish_date|date:"E" }}</span>
			</section>
				<header class="meta">
					<h2>{{ blog_post.title|capfirst }}</h2>
					<span><i class="fa fa-user"></i>
						<a href="{{ blog_post.user.profile.get_absolute_url }}">
						{{ blog_post.user.profile.get_full_name }}</a></span>
						{% with tags=blog_post.keywords.all %}
						{% if tags %}
						<span><i class="fa fa-tag"></i>
							{% for tag in tags %}
							 <a href="{% url "blogpost-list-tag" tag.keyword.slug %}" class="tag">{{ tag }}</a>
							 {% if not forloop.last %}, {% endif %}
							 {% endfor %}
						</span>
						{% endif %}
						{% endwith %}
						{% if blog_post.allow_comments %}
						<span><i class="fa fa-comment"></i>
							<a href="#comment">{{ blog_post.comments_count|rupluralize:"комментарий,комментария,комментариев" }}</a>
						</span>
						{% endif %}
				</header>
				{{ blog_post.content|richtext_filters|safe }}
			<div class="clearfix"></div>
			</section>
		</article>
		{% if blog_post.allow_comments %}
				{# {% comments_for blog_post %} #}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
