{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags pages_tags theme_tags i18n %}

{% block meta_title %}{% trans "Your Cart" %}{% endblock %}
{# {% block title %}{% trans "Your Cart" %}{% endblock %} #}
{% block body_id %}cart{% endblock %}

{% block breadcrumbs_title %}
	<h2>{% trans "Your Cart" %}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
	<li>{% trans "Your Cart" %}</li>
{% endblock %}



{% block main %}
<div class="container cart">

	<div class="sixteen columns">

		<!-- Cart -->
		{% if cart_formset.forms %}
		<form method="post" class="cart-form">
		{% csrf_token %}
		{% if cart_formset.errors %}
		{% for error in cart_formset.errors %}
		{% if error.values.0 %}{{ error.values.0 }}{% endif %}
		{% endfor %}
		{% endif %}
		{{ cart_formset.management_form }}

		<table class="stacktable small-only">
		    <tbody>
		    {% for form in cart_formset.forms %}
				{% with form.instance as item %}
				<tr class="st-space">
		            <td></td>
		            <td></td>
		        </tr>
		        <tr class="st-new-item">
		            <td class="st-key"></td>
		            <td class="st-val st-head-row">
		            	{{ form.id }}
						{% if item.image %}
						<a href="{{ item.get_absolute_url }}">
							<img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
						</a>
						{% endif %}
					</td>
		        </tr>
		        <tr>
		            <td class="st-key">Название</td>
		            <td class="st-val"><a href="{{ item.get_absolute_url }}">{{ item.description }}</a></td>
		        </tr>
		        <tr>
		            <td class="st-key">Цена</td>
		            <td class="st-val">{{ item.unit_price|rub_currency }}</td>
		        </tr>
		        <tr>
		            <td class="st-key">Кол-во</td>
		            <td class="st-val">
		                <form action="#">
		                    <div class="qtyminus"></div>
		                    <input type="text" name="quantity" value="1" class="qty">
		                    <div class="qtyplus"></div>
		                </form>
		                {{ form.quantity }}
		            </td>
		        </tr>
		        <tr>
		            <td class="st-key">Всего</td>
		            <td class="st-val">{{ item.total_price|rub_currency }}</td>
		        </tr>
		        <tr>
		            <td class="st-key"></td>
		            <td class="st-val">
		            	<!--<a href="#" class="cart-remove"></a>-->
		            	{{ form.DELETE }}
		            </td>
		        </tr>
				{% endwith %}
			{% endfor %}
		    </tbody>
		</table>

		<table class="cart-table responsive-table stacktable large-only">
		    <tbody>
		        <tr>
		            <th>Товар</th>
		            <th></th>
		            <th>Цена</th>
		            <th>Кол-во</th>
		            <th>Всего</th>
		            <th></th>
		        </tr>
		        {% for form in cart_formset.forms %}
				{% with form.instance as item %}
				<tr>
					<td>
						{{ form.id }}
						{% if item.image %}
						<a href="{{ item.get_absolute_url }}">
							<img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
						</a>
						{% endif %}
					</td>
					<td class="cart-title">
						<a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
					</td>
					<td>{{ item.unit_price|rub_currency }}</td>
					<td>
					    <form action="#">
					        <div class="qtyminus"></div>
					        <input type="text" name="quantity" value="1" class="qty">
					        <div class="qtyplus"></div>
					    </form>
					    {{ form.quantity }}
					</td>
					<td class="cart-total">{{ item.total_price|rub_currency }}</td>
					<td><a href="#" class="cart-remove">{{ form.DELETE }}</a></td>
				</tr>
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>

		<!-- Apply Coupon Code / Buttons -->
		<table class="cart-table bottom">
		    <tbody>
		        <tr>
		            <th>
		                {% if discount_form %}
		                <form action="#" method="get" class="apply-coupon">
		                    <input class="search-field" type="text" placeholder="Coupon Code" value="">
		                    <a href="#" class="button gray">Apply Coupon</a>
		                </form>
		                {% endif %}
		                <div class="cart-btns">
		                    <!--<a href="checkout-billing-details.html" class="button color cart-btns proceed">Proceed to Checkout</a>-->
		                    <a href="{% url "shop_checkout" %}" class="button color cart-btns proceed">
											{% if request.session.order.step %}Вернуться к оплате{% else %}{% trans "Go to Checkout" %}{% endif %}
										</a>
		                    <!--<a href="#" class="button gray cart-btns">Update Cart</a>-->
		                    <input type="submit" name="update_cart" class="button gray cart-btns" value="{% trans " Update Cart " %}">
		                </div>
		            </th>
		        </tr>
		    </tbody>
		</table>
		</form>
		{% order_totals %}
	{% else %}
			<p>{% trans "Your Cart is empty." %}</p>
		{% endif %}
	</div>
	<!-- Cart Totals -->

</div>


{% endblock %}
