{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags pages_tags theme_tags i18n %}

{% block meta_title %}{% trans "Your Cart" %}{% endblock %}
{# {% block title %}{% trans "Your Cart" %}{% endblock %} #}

{% block breadcrumbs_title %}
	<h2>{% trans "Your Cart" %}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
	<li>{% trans "Your Cart" %}</li>
{% endblock %}



{% block main %}
<div class="container cart">

	<div class="sixteen columns">

		<!-- Cart -->
		{% if cart_formset.forms %}
		<form method="post" class="cart-form">
		{% csrf_token %}
		{% if cart_formset.errors %}
		{% for error in cart_formset.errors %}
		{% if error.values.0 %}{{ error.values.0 }}{% endif %}
		{% endfor %}
		{% endif %}
		{{ cart_formset.management_form }}
		<table class="cart-table responsive-table stacktable large-only">
		    <tbody>
		        <tr>
		            <th></th>
		            <th>Товар</th>
		            <th>Цена</th>
		            <th>Кол-во</th>
		            <th>Итого</th>
		            <th>Удалить</th>
		        </tr>
				{% for form in cart_formset.forms %}
				{% with form.instance as item %}
				{# {{ item.sku }} #}
				<tr>
					<td>
						{{ form.id }}
						{% if item.image %}
						<a href="{{ item.get_absolute_url }}">
							<img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
						</a>
						{% endif %}
					</td>
					<td class="cart-title">
						<a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
					</td>
					<td>{{ item.unit_price|rub_currency }}</td>
					<td>
					    {{ form.quantity }}
					</td>
					<td class="cart-total">{{ item.total_price|rub_currency }}</td>
					<td>{{ form.DELETE }}</td>
				</tr>
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>

		<!-- Apply Coupon Code / Buttons -->
		<table class="cart-table bottom">
		    <tbody>
		        <tr>
		            <th>
		                {% if discount_form %}
		                <form action="#" method="get" class="apply-coupon">
		                    <input class="search-field" type="text" placeholder="Coupon Code" value="">
		                    <a href="#" class="button gray">Apply Coupon</a>
		                </form>
		                {% endif %}
		                <div class="cart-btns">
		                    <a href="{% url "shop_checkout" %}" class="button color cart-btns proceed">
											{% if request.session.order.step %}К оплате
											{% else %}Далее{% endif %}
										</a>
		                    <input type="submit" name="update_cart" class="button gray cart-btns" value="Обновнить">
		                </div>
		            </th>
		        </tr>
		    </tbody>
		</table>
		</form>
		{# {% order_totals %} #}
	{% else %}
			<p>{% trans "Your Cart is empty." %}</p>
		{% endif %}
	</div>
	<!-- Cart Totals -->

</div>


{% endblock %}
