{% extends "shop/base.html" %}
{% load shop_tags theme_tags mezzanine_tags i18n %}

{% block meta_title %}{% trans "Checkout" %} - {{ step_title }}{% endblock %}
{% block title %}
{% trans "Checkout" %} - {% trans "Step" %} {{ step }} {% trans "of" %} {{ steps|length }}
{% endblock %}

{% block extra_js %}
<script>
var _gaq = [['_trackPageview', '{{ request.path }}{{ step_url }}/']];
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block breadcrumbs_title %}
    <h2>{{ step_title }} - {% trans "Step" %} {{ step }} {% trans "of" %} {{ steps|length }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcumbs_menu %}
{% for step in steps %}
<li>
    {% if step.title == step_title %}
    <strong>{{ step.title|capfirst }}</strong>
    {% else %}
    {{ step.title|capfirst }}
    {% endif %}
</li>
{% endfor %}
<li style="font-weight: inherit">{% trans "Complete" %}</li>
<!--<li></li>-->
{% endblock %}

{% block messages %}
    {{ block.super }}
     {% if not request.user.is_authenticated %}
        {% ifinstalled mezzanine.accounts %}
        <div class="container">
        <div class="sixteen columns">
            <div class="notification info margin-bottom-10 text-center">
                <p>{% url "login" as login_url %}{% url "signup" as signup_url %}
                {% with request.path as next %}
                    Если у вас есть существующая учетная запись или вы хотите ее создать, 
                    <a href="{{ login_url }}?next={{ next }}">войдите</a> в систему или <a href="{{ signup_url }}?next={{ next }}">зарегистрируйтесь</a>.
                {% endwith %}
                </p>
            </div>
        </div>
        </div>
        {% endifinstalled %}
    {% endif %}
{% endblock messages %}

{% block main %}
<div class="eight columns ">
<form method="post" class="checkout-form">
{% csrf_token %}
    <!-- Billing Details Content -->
    {% block fields %}{% endblock %}
    <!--<div class="checkout-section active"><span></span> Контактная информация</div>-->
        <!--<div class="checkout-content">-->
        <!--<div class="clearfix"></div>-->
        <!--</div>-->
    {% block nav-buttons %}
        <div class="clearfix"></div>
        {% if request.cart.has_items %}
            <div class="form-actions">
                <input type="submit" class="button color pull-right" value="{% trans "Next" %}" style="width: 46%;">
                {% if not CHECKOUT_STEP_FIRST %}
                    <input type="submit" class="button dark pull-left" name="back" value="{% trans "Back" %}" style="width: 46%;">
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
</form>
</div>

{% if request.cart.has_items %}
<div class="eight columns">
        <div class="checkout-section cart">Корзина</div>
            <table class="checkout cart-table responsive-table">
                <tr>
                    <th class="hide-on-mobile">Товар</th>
                    <th></th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                </tr>
            {% for item in request.cart %}
            <tr>
                <td class="hide-on-mobile">
                    {% if item.image %}
                        <img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 60 60 %}">
                    {% endif %}
                </td>
                <td class="cart-title"><a href="{{ item.get_absolute_url }}"> {{ item.description }}</a></td>
                <td class="qty-checkout">{{ item.quantity }}</td>
                <td>{{ item.total_price|rub_currency }}</td>
            </tr>
            {% endfor %}
            </table>
            <table class="cart-table bottom">
                <tbody>
                    <tr>
                        <th class="checkout-totals">
                            <div class="checkout-subtotal">
                               <a class="pull-right" href="{% url "shop_cart" %}">Редактировать корзину</a>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="margin-top-5"></div>
            {% order_totals %}
</div>
{% else %}
<div class="sixteen columns text-center">
    <section id="not-found">
        <p>{% trans "Your cart is empty." %}</p>
        <p>Приносим свои извинения за доставленные неудобства.</p>
        <a class="button color" href="{% url "page" "catalog" %}">Продолжить покупки</a>
    </section>
</div>
{% endif %}

{% block after-form %}{% endblock %}
{% endblock %}





{% block exstra_js %}
{{ block.super }}
<script>
var _gaq = [['_trackPageview', '{{ request.path }}{{ step_url }}/']];
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}
