{% extends "shop/base.html" %}
{% load i18n %}

{% block body_id %}complete{% endblock %}

{% block meta_title %}{% trans "Order Complete" %}{% endblock %}

{% block footer_js %}
{{ block.super }}
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
<script>

var decimal = function(amount) {
    if (amount.toString().indexOf('.') == -1) {
        amount += '.00';
    }
    return String(amount);
};

ga('require', 'ecommerce');     // Load the ecommerce plug-in.

// Add transaction data.
ga('ecommerce:addTransaction', {
    'id': '{{ order.id }}',
    'affiliation': '',
    'revenue': decimal({{ order.item_total }}{% if order.discount_total %} - {{ order.discount_total }}{% endif %}),
    'shipping': decimal({{ order.shipping_total }}),
    'tax': decimal({% if order.tax_total %}{{ order.tax_total }}{% else %}0{% endif %})
});

// Add item data for each item.
{% for item in items %}
ga('ecommerce:addItem', {
    // order ID (not item)
    'id': '{{ order.id }}',
    'name': '{{ item.name|escapejs }}',
    'sku': '{{ item.sku }}',
    'category': '{{ item.description|escapejs }}',
    // unit price (not total)
    'price': decimal({{ item.unit_price }}),
    'quantity': '{{ item.quantity }}'
});
{% endfor %}

// submits transaction to the Analytics servers
ga('ecommerce:send');

</script>
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
<h2>{% trans "Order Complete" %}</h2>
{% endblock %}

{% block breadcrumb_element %}
<li><strong>{% trans "Complete" %}</strong></li>
{% endblock %}


{% block main %}
<div class="sixteen columns text-center margin-bottom-50">
<div class="notification closeable success">
    <p>Ваш заказ принят на исполнение.</p>
    <a class="close"></a>
</div>
<section>
<p>Мы отправили Вам чек по электронной почте.</p>
<p>Вы также можете просмотреть свой счет, используя одну из приведенных ниже ссылок.</p>
<a class="button dark" target="_blank" href="{% url "shop_invoice" order.id %}">{% trans "View invoice in your browser" %}</a>
    <form class="order-complete-form" method="post" action="{% url "shop_invoice_resend" order.id %}?next={{ request.path }}">
        {% csrf_token %}
        {% if has_pdf %}
            <a class="button color" href="{% url "shop_invoice" order.id %}?format=pdf">Скачать PDF-файл</a>
        {% endif %}
        <input type="submit" class="button color" value="Повторно отправить письмо">
    </form>  
</section>

</div>
{% endblock %}
