{% extends "shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags pages_tags theme_tags rating_tags i18n %}

{% block meta_title %}{{ product.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in product.keywords.all %}
	{% if not forloop.first %}, {% endif %}
	{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ product.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{{ block.super }}
<!-- <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}"> -->
{% endblock %}

{% block extra_js %}
{{ block.super }}
<!--<script>var variations = {{ variations_json|safe }};</script>
<script src="{% static "cartridge/js/product_variations.js" %}"></script>-->
{% endblock %}

{% block breadcrumbs_title %}
	<h2>{{ product.title }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
	<li><a href="/catalog/">Каталог</a></li>
	<li>{{ product.title }}</li>
{% endblock %}

{% block leftsidebar %}
{% if images %}
	<div class="seven columns">
		<div class="slider-padding">
			<div id="product-slider" class="royalSlider rsDefault">
			{% for image in images %}
				<a href="{{ MEDIA_URL }}{% thumbnail image.file 0 0 True 80 %}" class="mfp-gallery" title="{{product.title}}">
					<img class="rsImg" src="{{ MEDIA_URL }}{% thumbnail image.file 485 485 True 80 %}" 
					data-rsTmb="{{ MEDIA_URL }}{% thumbnail image.file 96 96 True 80 %}" alt="{{ image.description }}" />
				</a>
			 {% endfor %}
			 </div>
			 <div class="clearfix"></div>
		</div>
	</div>
{% endif %}
{% endblock %}


{% block main %}
<div class="{% if images %}nine {% else %} fourteen {% endif %}columns">
	<div class="product-page">
		
	<!-- Headline -->
		<section class="title">
			<h2>{{ product }}</h2>
			{% if product.pre_order %}
				<div class="product-example">Для примера</div>
			{% endif %}
			{% if product.has_price %}
				{% if product.on_custom_sale %}
					<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
				{% else %}
					<span class="product-price">{{ product.price|rub_currency }}</span>
				{% endif %}
			{% endif %}
		</section>
		<section>
			<p class="margin-reset">
				{% if product.content %}
					{{ product.content|richtext_filters|safe }}
				{% else %}
					Описание товара отсутствует
				{% endif %}
			</p>
			{% if not on_vacation %}
				{% errors_for add_product_form %}
				<section>
				<form method="post" id="add-cart" class="shop-form">
				    {% fields_for add_product_form %}
				    <div class="form-actions">
				        <input type="submit" class="button dark adc" name="add_cart" value="{% trans "Buy" %}" {% if product.user.shop.on_vacation %}disabled{% endif %}>
				        {% if settings.SHOP_USE_WISHLIST %}
				        	<input type="submit" class="button dark adc" name="add_wishlist" value="{% trans "Save for later" %}">
				        {% endif %}
				    </div>
				</form>
				<div class="clearfix"></div>
				</section>
			{% else %}
				<p class="error-msg">{% trans "This product is currently unavailable." %}</p>
			{% endif %}
		<div class="clearfix"></div>

		{% if product.keywords.all %}
			<div class="widget margin-top-0">
				<h3 class="headline">{% trans "Tags" %}</h3><span class="line"></span><div class="clearfix"></div>	
				<nav class="tags">
					{% for tag in product.keywords.all %}
					    <a href="/search/?q={{tag}}" class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
					{% endfor %}
				</nav>
			</div>
		{% endif %}
		<div class="widget margin-top-10">
			<h3 class="headline">Информация о магазине</h3><span class="line"></span><div class="clearfix"></div>
			{% if product.user.shop.on_vacation %}
				<div class="product-example red">Магазин на каникулах</div>
			{% endif %}
			<a href="{{ product.user.shop.get_absolute_url }}">
				<img src="{{ MEDIA_URL }}{% thumbnail product.user.shop.image 80 80 %}" class="pull-left margin-right-5">
				<h2>{{ product.user.shop.shopname }}</h2>
			</a>
			<p><i class="fa fa-map-marker"></i> <strong>{{ product.user.profile.get_location }}</strong><p>
		</div>	
	</section>
	</div>
</div>
{% endblock %}

{% block extra_content %}
<div class="container">
	<div class="sixteen columns margin-top-5">
			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab2">Характеристики</a></li>

				{% get_fields product.user.shop starts_with="express" as express_fields %}
    			{% if express_fields|any_is_true %}
					<li><a href="#tab4">Доставка</a></li>
				{% endif %}
				{% if product.user.shop.rules %}
					<li><a href="#tab5">Правила магазина</a></li>
				{% endif %}
				
				<li><a href="#tab3">Отзывы <span class="tab-reviews"></span></a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">
				<div class="tab-content" id="tab2">
					<table class="basic-table">
					<tr>
						<th>Материал</th>
						<td>
						{% if product.material %}
							{{ product.material|title }}
						{% else %}
							Не указан
						{% endif %}</td>
					</tr>
					<tr>
						<th>Состояние</th>
						<td>{{ product.condition }}</td>
					</tr>
					
					</table>
				</div>
				<div class="tab-content" id="tab3">
					{% if settings.COMMENTS_DISQUS_SHORTNAME %}
						{# {% include "generic/includes/disqus_comments.html" %} #}
					{% endif %}
				</div>
				{% if express_fields %}
				<div class="tab-content list-1" id="tab4">
			        <ul>
			            {% for fields in express_fields|grouped %} 
			                {% if fields.0.value %}
			                <li> {{ fields.0.label }}: <span style="white-space: nowrap;">{{ fields.1.value|rub_currency }}</span> </li>
			                {% endif %} 
			            {% endfor %}
			        </ul>
			        <p>{{ product.user.shop.express_other }}</p>
			    </div>
				{% endif %}
				<div class="tab-content" id="tab5">
				<p>{{ product.user.shop.rules|safe }}</p>
				</div>

			</div>
	</div>
</div>
<!-- Related Products -->
<div class="container margin-top-5">

	<!-- Products -->
	<span class="line margin-bottom-0"></span>
	<div class="sixteen columns products">
            {% for product in product.user.product_set.all|slice:"5" %}
			<div class="three shop columns custom_column">
				<figure class="product">
					<div class="badges">
					{% if product.pre_order %}
						<div class="product-example">Для примера</div>
					{# {% else %} #}
						<!--<div class="product-ready">Готовый вариант</div>-->
					{% endif %}
					{% if product.on_custom_sale %}
						<div class="product-discnt">СКИДКА</div>
					{% endif %}
					</div>
					{% with product.images.all|slice:"2" as images %}
					<div class="mediaholder {% if not images or images.count == 1 %}no-anim{%endif%}">
					<a href="{{ product.get_absolute_url }}">
						{% if images %}
						<img alt="" src="{{ MEDIA_URL }}{% thumbnail images.0 250 330 %}">
							{% if product.image.count != 1 %}
							<div class="cover">
									<img alt="" src="{{ MEDIA_URL }}{% thumbnail images.1 300 380 %}">
							</div>
							{% endif %}
						{% else %}
						<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}">
						{% endif %}
					</a>
					<a href="{{ product.get_absolute_url }}" class="product-button"><i class="fa fa-share"></i>Подробнее</a>
					</div>
					{% endwith %}
					<a href="{{ product.get_absolute_url }}">
						<section>
							<h5>{{ product.title|title|truncatechars:34 }}</h5>
							<a href="{{ product.user.shop.get_absolute_url }}" class="shopname">{{ product.user.shop.shopname }}</a>
							<!--<span class="product-category">
							</span>-->
							{% if product.on_custom_sale %}
								<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
							{% else %}
							<span class="product-price">{{ product.price|rub_currency }}</span>
							{% endif %}
						</section>
					</a>
				</figure>
			</div>
			{% endfor %}
		
	</div>
</div>
{% endblock %}
