{% extends "shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags pages_tags theme_tags rating_tags i18n %}

{% block meta_title %}{{ product.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in product.keywords.all %}
	{% if not forloop.first %}, {% endif %}
	{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ product.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{{ block.super }}
<!-- <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}"> -->
{% endblock %}

{% block extra_head %}
{{ block.super }}

<!-- <script>var variations = {{ variations_json|safe }};</script>
<script src="{% static "cartridge/js/product_variations.js" %}"></script> -->
{% endblock %}

{% block breadcrumbs_title %}
	<h2>{{ product.title }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
	<li><a href="/catalog/">Каталог</a></li>
	<li>{{ product.title }}</li>
{% endblock %}

{% block sidebar %}
{% if images %}
	<div class="eight columns">
		<div class="slider-padding">
			<div id="product-slider-vertical" class="royalSlider rsDefault">
			{% for image in images %}
				<a href="{{ MEDIA_URL }}{% thumbnail image.file 450 400 %}" class="mfp-gallery" title="{{product.title}}">
					<img class="rsImg" src="{{ MEDIA_URL }}{% thumbnail image.file 450 400 %}" 
					data-rsTmb="{{ MEDIA_URL }}{% thumbnail image.file 100 100 %}" alt="{{ image.description }}" />
				</a>
			 {% endfor %}
			 </div>
			 <div class="clearfix"></div>
		</div>
	</div>
{% endif %}
{% endblock %}


{% block main %}
<div class="{% if images %}eight {% else %} fourteen {% endif %}columns">
	<div class="product-page">
		
	<!-- Headline -->
		<section class="title">
			<h2>{{ product }}</h2>
			{% if product.has_price %}
				{% if product.on_custom_sale %}
					<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
				{% else %}
					<span class="product-price">{{ product.price|rub_currency }}</span>
				{% endif %}
			{% endif %}
		</section>

			<!-- Text Parapgraph -->
		<section style="padding-bottom: 55px">
			<p class="margin-reset">
			{% if product.content %}
				{{ product.content|richtext_filters|safe }}
			{% else %}
				Описание товара отсутствует
			{% endif %}
			</p>

				<!-- Share Buttons -->
			<a href="{% url "true_index" %}" class="button">Купить</a>
			<!--<div class="share-buttons">
				<ul>
					<li><a href="#">Поделиться</a></li>
					<li class="share-facebook"><a href="#">Facebook</a></li>
					<li class="share-twitter"><a href="#">Twitter</a></li>
					<li class="share-gplus"><a href="#">Google Plus</a></li>
					<li class="share-pinit"><a href="#">Pin It</a></li>
				</ul>
			</div>-->
			<div class="clearfix"></div>
			{% if product.keywords.all %}
				<div class="widget margin-top-10">
					<h3 class="headline">{% trans "Tags" %}</h3><span class="line"></span><div class="clearfix"></div>	
					<nav class="tags">
					{% for tag in product.keywords.all %}
					    <a href="/search/?q={{tag}}" class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
					{% endfor %}
					</nav>
				</div>
			{% endif %}
			<div class="widget margin-top-10">
			{% get_shop product.user as shop %}
			    <h3 class="headline">Информация о магазине</h3><span class="line"></span><div class="clearfix"></div>
				<a href="{% url 'shop_view' shop.shopname %}">
				<img src="
				{% if shop.image %}
					{{ MEDIA_URL }}{% thumbnail shop.image 80 80 %}
				{% else %}
					{% gravatar_url profile_user.email 100 %}
				{% endif %}
				" style="border: 0; float: left; margin-right: 15px">
				<h2>
					{{ shop.shopname }}
				</h2>
				</a>
				<p><i class="fa fa-map-marker"></i> <strong>{{shop.country}}, {{ shop.city }}</strong><p>
				<!--<a class="button color" href="#"> Задать вопрос </a>-->
			</div>	
		</section>

	</div>
</div>
{% endblock %}
{% block product_info %}
	<div class="sixteen columns margin-top-25">
			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab2">Характеристики</a></li>
				<li><a href="#tab4">Доставка</a></li>
				<li><a href="#tab3">Комментарии <span class="tab-reviews"></span></a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">
				<div class="tab-content" id="tab2">
					<table class="basic-table">
					<tr>
						<th>Материал</th>
						<td>
						{% if product.material %}
							{{ product.material|title }}
						{% else %}
							Не указан
						{% endif %}</td>
					</tr>
					<tr>
						<th>Состояние</th>
						<td>{{ product.condition }}</td>
					</tr>
					
					</table>
				</div>
				<div class="tab-content" id="tab3">
					{% if settings.COMMENTS_DISQUS_SHORTNAME %}
						{% include "generic/includes/disqus_comments.html" %}
					{% endif %}
				</div>
				<div class="tab-content" id="tab4">
					{% get_shop product.user as shop %}
					<ul>
			            {% for fields in shop.get_express_fields|grouped %}
            <li>
                {% for field in fields %} {% if field.value == True %}
                <span> {{ field.label }}: </span> {% else %}
                <span style="white-space: nowrap">{{ field.value|rub_currency }} </span> {% endif %} 
            {% endfor %}
            </li>
            {% endfor %}
			        </ul>
				</div>

			</div>
	</div>
{% endblock %}

{% block related_products %}
{% if settings.SHOP_USE_RELATED_PRODUCTS and related_products %}
<!-- Related Products -->
<div class="container margin-top-5">

	<!-- Headline -->
	<div class="sixteen columns">
		<h3 class="headline">Похожие товары</h3>
		<span class="line margin-bottom-0"></span>
	</div>

	<!-- Products -->
	<div class="products">
	{% for product in related_products %}

		<div class="four columns">
			<figure class="product">
				{% if product.on_custom_sale %}
					<div class="product-discount">СКИДКА</div>
				{% endif %}
				<div class="mediaholder">
				<a href="{{ product.get_absolute_url }}">
					{% if product.image %}
					<img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 250 330 %}">
					<div class="cover">
						<img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 300 380 %}">
					</div>
					{% else %}
					<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}">
					<div class="cover">
						<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 300 380 %}">
					</div>
					{% endif %}
				</a>
				<a href="{{ product.get_absolute_url }}" class="product-button"><i class="fa fa-share"></i>Подробнее</a>
				</div>
				<a href="{{ product.get_absolute_url }}">
					<section>
						<span class="product-category">Готовый или под заказ <!-- {{product|get_product_category}} --></span>
						<h5>{{ product.title }}</h5>
						{% if product.on_custom_sale %}
							<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
						{% else %}
						<span class="product-price">{{ product.price|rub_currency }}</span>
						{% endif %}
					</section>
				</a>
			</figure>
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}
<div class="margin-top-50"></div>
{% endblock %}