{% extends "order/order_list.html" %}
{% load mezzanine_tags keyword_tags i18n disqus_tags theme_tags blog_tags %}

{% block meta_title %}{{ order.title }}{% endblock %}


{% block meta_description %}{% metablock %}
{{ order.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ order.title|title }}
{% endblock %}

{% block breadcrumbs_title %}
	<h2>{{ order.title }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li><a href="{% url 'order_list' %}">Стол заказов</a></li>
<li>{{ order.title|title }}</li>
{% endblock %}


{% block main %}
{% if order.featured_image %}
	<div class="six columns">
		<div class="slider-padding">
			<div id="product-slider-vertical" class="royalSlider rsDefault">
				<a href="{{ MEDIA_URL }}{% thumbnail order.featured_image 0 0 %}" class="mfp-image" title="{{ order.title|title }}">
					<img class="rsImg" src="{{ MEDIA_URL }}{% thumbnail order.featured_image 400 400 %}"
					data-rsTmb="{{ MEDIA_URL }}{% thumbnail order.featured_image 100 100 %}" alt="{{ order.featured_image.description }}" />
				</a>
			 </div>
			 <div class="clearfix"></div>
		</div>
	</div>
	<div class="ten columns">
{% else %}
	<div class="sixteen columns">
{% endif %}
		<div class="product-page">
			<h3 class="headline">Описание</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>
			<section class="project-section">
				<table class="basic-table">
					<tr>
						<th>Статус</th>
						<td>
							{% if order.active %}
								Открыт
							{% else %}
								Закрыт
							{% endif %}
						</td>
					</tr>
					<tr>
						<th><i class="fa fa-user"></i> Заказчик</th>
						<td>
							<a href="{% url 'shop_view' order.author|get_shop_slug %}">{{ order.author.get_full_name }}</a>
						</td>
					</tr>
					<tr>
						<th><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Добавлено </th>
						<td>
							{{ order.created }}
						</td>
					</tr>
					<tr>
						<th>
							<i class="fa fa-hourglass-end" aria-hidden="true"></i> Крайний срок 
						</th>
						<td>
							{{ order.ended|not_none }}
						</td>
					</tr>
					<tr>
						<th>
							<i class="fa fa-rub" aria-hidden="true"></i> Бюджет
						</th>
						<td>
							{{ order.price|rub_currency }}
						</td>
					</tr>
					<tr>
						<th>
							<i class="fa fa-wrench" aria-hidden="true"></i> Вид работы
						</th>
						<td>
						{% for place in order.categories.all %}
					    	{{ place }}
					    	{% if not forloop.last %}
                            	,
                         	{% endif %}
						{% endfor %}
						</td>
					</tr>
					<tr>
						<th>
							<i class="fa fa-hashtag" aria-hidden="true"></i> Количество
						</th>
						<td>
							{{ order.count }}
						</td>
					</tr>
					{% if order.size_suggest %}
					<tr>
						<th>
							<i class="fa fa-arrows-v" aria-hidden="true"></i> Пожелания к размеру
						</th>
						<td>
							{{ order.size_suggest }}
						</td>
					</tr>
					{% endif %}
					
					{% if order.color_suggerst %}
					<tr>
						<th>
							<i class="fa fa-paint-brush" aria-hidden="true"></i> Пожелания к цвету
						</th>
						<td>
							{{ order.color_suggerst }}
						</td>
					</tr>
					{% endif %}
					{% if order.material_suggest %}
					<tr>
						<th>
							<i class="fa fa-scissors" aria-hidden="true"></i> Пожелания к материалу
						</th>
						<td>
							{{ order.material_suggest }}
						</td>
					</tr>
					{% endif %}
					
					<tr>
						<td colspan="2">
							{{order.description|safe }}
						</td>
					</tr>
				</table>
				<div class="clearfix"></div>
			</section>
		</div>
	</div>
{% endblock %}
