{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}

{% block meta_title %}
{% if object %}
    Изменение {{ object.title }}
{% else %}
    Новая заявка
{% endif %}
{% endblock %}

{% block breadcrumbs_title %}
<h2>Стол заказов</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li><a href="{% url 'ordertableitem-list' %}">Список моих заявок</a></li>
<li>{% if object %}{{ object }}{% else %}Новая заявка{% endif %}</li>
{% endblock %}


{% block main %}
<div class="sixteen columns">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="ordertableitemimages">
    {{ ordertableitemimage|crispy }}
    </div>
    <div class="action-bar">
        <input type="submit" class="button pull-right margin-right-10" value="Сохранить"/>
        {% if object %}
            <a href="{% url 'blogpost-delete' object.pk %} " class="button dark pull-right margin-right-5">Удалить</a>
        {% endif %}
        <a href="{% url 'ordertableitem-list' %}" class="button dark pull-right margin-right-5">Назад</a>
    </div>
</form>
</div>
{% endblock main %}
{% block extra_js %}
 {{ block.super }}
<script type="text/javascript">
  window.__filebrowser_url = '{% url "fb_browse" %}';
</script>
<script type="text/javascript" src="{% static 'filebrowser/js/AddFileBrowser.js' %}"></script>
<script type="text/javascript" src="{% static 'filebrowser/js/FB_FileBrowseField.js' %}"></script>
<script type="text/javascript" src="{% static 'mezzanine/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mezzanine/js/tinymce_setup.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
  $(function() {
    $("#id_ended").datepicker({
      dateFormat: "dd/mm/yy",
      monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
    });
    $('.ordertableitemimages').formset({
      uiText: {
        addPrompt: 'Добавить',
        removePrompt: 'Удалить',
      },
      prefix: 'images'
    });
  });
</script>

{% endblock extra_js %}
