{% extends "profiles/profile_settings.html" %} {% load i18n mezzanine_tags pages_tags staticfiles %}
{% block meta_title %} Список заявок {% endblock %}
{% block breadcrumbs_title %}
<h2>Стол заказов</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li>Список моих заявок</li>
{% endblock %}

{% block extra_content %}
<div class="flat-background">
	<div class="flat-row list-header">
		<div class="container">
			<div class="margin-top-20 margin-bottom-15">
				<div class="ten columns">
					<h2> Осталось доступных заявок: {{ remain }} </h2>
				</div>
				<div class="three columns margin-top-15">
					  <a class="" href="{% url 'ordertableitem-add' %}"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Добавить новую заявку</a>
				</div>
				<div class="three columns margin-top-15">
					<a class="" href="{% url 'ordertableitem-list' %}"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> Получить больше заявок</a>
				</div>
				{# <hr> #}
	      <div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="flat-row">
		<div class="container">
			{% if ordertableitem_list %}
			<div id="masonry-wrapper">
			    {% for ordertableitem in ordertableitem_list %}
						<div class="object-list columns masonry-item">
							<figure class="object-image">
								{% if not ordertableitem.available %}
								<div class="badge red">
									Проверяется
								</div>
								{% else %}
								<div class="badge green">
									Опубликовано
								</div>
								{% endif %}
								<a href="{{ ordertableitem.get_absolute_url }}">
									{% if ordertableitem.main_image %}
										<img src="{{ MEDIA_URL }}{% thumbnail ordertableitem.main_image 300 200 %}" alt="{{ ordertableitem.title|capfirst }}">
									{% else %}
									<div class="post-quote">
										<blockquote>
											<span><i class="fa fa-camera fa-5x" aria-hidden="true"></i></span>
										</blockquote>
									</div>
									{% endif %}
								</a>
								<div class="hover-icon"></div>
							</figure>
							<section class="object-content">
								<a href="{% url 'ordertableitem-update' ordertableitem.pk %}"><h5> {{ ordertableitem.title|capfirst }} </h5></a>
								<i>Добавлено: {{ ordertableitem.created|date:"d.m.Y"  }}</i>
								<p><strong>Статус:</strong>
									{{ ordertableitem.get_status_display }}
								</p>
								<p><strong>Кол-во откликов: </strong>
									{{ ordertableitem.order_requests.count }}
								</p>
								<p><strong>Исполнитель: </strong>
									{% if ordertableitem.performer.id %}
									<a href="{{ ordertableitem.performer.profile.get_absolute_url }}">
										{{ ordertableitem.performer.profile.get_full_name }}
									</a>
									{% else %}
									не назначен
									{% if ordertableitem.order_requests.count > 0 %}
									<br>
										<a href="{% url 'ordertableitemrequest-list' ordertableitem.pk %}" class="green-color"><i class="fa fa-user-o" aria-hidden="true"></i> Выбрать исполнителя</a>
									{% endif %}
									{% endif %}
								</p>
								<p>
									<strong>Бюджет: </strong>
									{% if ordertableitem.price %}
									{{ ordertableitem.price }} <span>руб</span>
									{% else %}
									не указан
									{% endif %}
								</p>
								<p>{{ ordertableitem.description|truncatewords:20|truncatechars:200 }}</p>
								<a href="{% url 'ordertableitem-update' ordertableitem.pk %}" class="button outline"><i class="fa fa-pencil" aria-hidden="true"></i> Изменить</a>
								<a href="{% url 'ordertableitem-delete' ordertableitem.pk %}" class="button outline"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить</a>
							</section>
						</div>
			    {% endfor %}
			</div>
			{% else %}
			<section id="not-found">
			    <p>Заявки для стола заказов пока отсутствуют</p>
			</section>
			{% endif %}
			{% if is_paginated %}
	        <div class="pagination-container masonry">
	            <nav class="pagination">
	                <ul>
	                    {% for i in page_obj.paginator.page_range %}
	                      {% if page_obj.number == i %}
	                        <li><a href="#" class="current-page">{{ i }}</a></li>
	                      {% else %}
	                        <li><a href="?page={{ i }}">{{ i }}</a></li>
	                      {% endif %}
	                    {% endfor %}
	                </ul>
	            </nav>
	            <nav class="pagination-next-prev full-width">
	                <ul>
	                    {% if page_obj.has_previous %}
	                        <li><a href="?page={{ page_obj.previous_page_number }}" class="prev"></a></li>
	                    {% endif %}
	                    {% if page_obj.has_next %}
	                        <li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
	                    {% endif %}
	                </ul>
	            </nav>
	        </div>
	    {% endif %}
		</div>
	</div>
</div>
{% endblock %}
