{% extends "profiles/profile_settings.html" %} {% load i18n mezzanine_tags pages_tags staticfiles %}
{% block breadcrumbs_title %}
<h2>Стол заказов</h2>
{% endblock breadcrumbs_title %}
{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li>Отклики на мои заявки</li>
{% endblock %} {% block main %} {% if ordertableitemrequest_list %}
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table">
        <div class="row header">
          <div class="cell">
            Название
          </div>
          <div class="cell">
            Добавлено
          </div>
          <div class="cell">
            Статус
          </div>
          <div class="cell">
            Исполнитель
          </div>
        </div>
        {% for ordertableitem in ordertableitems %}
        <div class="row">
          <div class="cell" data-title="Название">
            <a href="{% url 'order_detail' ordertableitem.pk %}">{{ ordertableitem.title|title }}</a>
          </div>
          <div class="cell" data-title="Добавлено">
            {{ ordertableitem.created }}
          </div>
          <div class="cell" data-title="Статус">
            {% if ordertableitem.active %}
              открыта
            {% else %}
              закрыта
            {% endif %}
          </div>
          <div class="cell" data-title="Исполнитель">
            {% if ordertableitem.performer %}
              {{ ordertableitem.performer }}
            {% else %}
            {% for req in ordertableitemrequest_list %}
              {% if req.order == ordertableitem %}
                {{ req.performer }}
                <a href="{% url 'order_request_assign' ordertableitem.pk req.performer.pk %}">Одобрить</a>
                <a href="{% url 'order_request_delete' ordertableitem.pk req.performer.pk %}">Отказать</a>
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<section id="not-found">
  <p>Отклики пока отсутствуют</p>
</section>
{% endif %} {% if is_paginated %}
<div class="pagination-container masonry">
  <nav class="pagination">
    <ul>
      {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
      <li><a href="#" class="current-page">{{ i }}</a></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  <nav class="pagination-next-prev full-width">
    <ul>
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="prev"></a></li>
      {% endif %} {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %} {% endblock main %}
