{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags pages_tags staticfiles %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
<ul class="breadcrumb">
{% spaceless %}
{% page_menu "pages/menus/breadcrumb.html" %}
{% endspaceless %}
<li>{{ profile_user|username_or:"get_full_name" }}</li>
</ul>
{% endblock %}


{% block main %}
<div class="col-md-9 box"> 
<div class="row">
<div class="profile-image col-md-3">
    <img class="img-thumbnail" src="{% gravatar_url profile_user.email 128 %}">
    {% if profile_user == request.user %}
    <br><a class="btn btn-primary" href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
    {% endif %}
</div>
<div class="profile-content col-md-9">
    <h2>{{ profile_user.get_full_name }}</h2>
    {% for field, value in profile_user|profile_fields %}
	    {% if field == 'Изображение' %}
	    	<img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail value 150 150 %}">
	    {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block right_panel %}
{% endblock %}