{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags pages_tags staticfiles %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}Профиль пользователя{% endblock %}

{% block breadcrumb_element %}
<li>{{ profile_user|username_or:"get_full_name" }}</li>
{% endblock %}


{% block main %}
<div class="seven columns">
<div class="extra-padding">
	<article>
	<img src="
				{% if profile_user.myprofile.image %}
					{{ MEDIA_URL }}{% thumbnail profile_user.myprofile.image 150 150 %}
				{% else %}
					{% gravatar_url profile_user.email 150 %}
				{% endif %}
				" style="border: 0; float: left; margin-right: 15px">
				<h3>
					{% if profile_user.first_name %}
						{{ profile_user.get_full_name|safe }}	
					{% else %}
						{{ profile_user.username }}				
					{% endif %}
				</h3>
				</a>
				{% if profile_user.myprofile.city %}
					<p><i class="fa fa-map-marker"></i> <strong>{{ profile_user.myprofile.city|safe }}</strong><p>
				{% endif %}
			<div>
				{% if profile_user.email or profile_user.myprofile.phone %}
				{% if profile_user.email or allowed %}
					<a href="mailto:{{ profile_user.email|safe }}">{{ profile_user.email|safe }}</a> <br>
				{% endif %}
				{% if profile_user.myprofile.phone %}
					<i class="fa fa-phone"></i> {{ profile_user.myprofile.phone|safe }}
				{% endif %}
				{% else %}
					<p>Информации нет</p>
				{% endif %}
			</div>		

	</article>
	</div>
</div>
<div class="nine columns">
	<div class="widget margin-top-0">
		<h3 class="headline">Личная информация</h3><span class="line"></span><div class="clearfix"></div>
		{% if profile_user.myprofile.bio  %}
			{{ profile_user.myprofile.bio|safe }}
		{% else %}
			<p>Не указана</p>
		{% endif %}
	</div>
</div>

<div class="sixteen columns margin-top-50">
	{% include "accounts/includes/user_widget.html" %}
</div>
{% endblock %}
