{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags %}

{% block meta_title %}{{ title }}{% endblock %}


{% block main %}
{% errors_for form %}
<div class="six columns centered">
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} class="login">
    <fieldset>
    <!-- <legend>{{ title }}</legend> -->
    {% fields_for form %}
    <div class="form-actions">
        {% block account_form_actions %}
        <input class="button" type="submit" value="{{ title }}">
        {% endblock %}
    </div>
    </fieldset>
</form>
</div>
{% endblock %}



{% block right_panel %}
{% endblock %}