{% extends "product/product.html" %}
{% load staticfiles mezzanine_tags theme_tags pages_tags crispy_forms_tags %}

{% block meta_title %} {{ product.title|capfirst }} {% endblock %}
{% block meta_keywords %}
{% metablock %}
{% for keyword in product.keywords.all %}
	{% if not forloop.first %}, {% endif %} {{ keyword }}
{% endfor %}
{% endmetablock %}
{% endblock %}
{% block meta_description %}
{% metablock %}
{{ product.description }}
{% endmetablock %}
{% endblock %}

{% block breadcrumbs_title %}
<h2>{{ product.title|capfirst }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
{% for category in product.get_categories %}
	<li><a href="{{category.get_absolute_url}}">{{ category.title|capfirst }}</a></li>
{% endfor %}
<li>{{ product.title|capfirst }}</li>
{% endblock %}

{% block product_info %}
		<div class="container">
			<div class="sixteen columns">
				<div class="widget margin-top-10 margin-bottom-10">
					<h3 class="headline">Отзывы ({{ product.reviews_count }})</h3><span class="line"></span>
					<div class="clearfix"></div>
					<div class="widget-content">
						<section class="comments">
							{% if reviews %}
								<ul>
								{% for review in reviews %}
									<li>
										<div class="avatar">
											{% if review.author__profile__image %}
												<img src="{{ MEDIA_URL }}{% thumbnail review.author__profile__image 70 70 %}" alt="">
											{% else %}
												<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
											{% endif %}
										</div>
										<div class="comment-content">
											<div class="arrow-comment"></div>
											<div class="comment-by">
												<strong>{{ review.author__profile__first_name }} {{ review.author__profile__last_name }}</strong>
												<span class="date"> {{ review.created_at|date:"d E Y" }} </span>
												<div>
													{% include "includes/star_widget.html" with value=review.rating %}
												</div>
											</div>
											<p> {{ review.content }} </p>
										</div>
									</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="margin-bottom-10">Отзывов ещё нет — ваш может стать первым.</p>
							{% endif %}
							{% if request.user.is_authenticated %}
							<a href="#small-dialog" class="popup-with-zoom-anim button color {% if not reviews %}margin-left-0{% endif %}">Добавить отзыв</a>

							<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
								<h3 class="headline">Добавить отзыв</h3><span class="line margin-bottom-25"></span>
								<div class="clearfix"></div>

								<!-- Form -->
								<form id="add-comment" class="add-comment" action="" method="POST">
									{% csrf_token %}
									{{ review_form }}
									<input type="submit" class="button" value="Добавить отзыв"/>
									<div class="clearfix"></div>
								</form>
							</div>
							{% endif %}
					</section>
					{% if is_paginated %}
							<div class="pagination-container margin-top-20">
									<nav class="pagination">
											<ul>
													{% for i in page_obj.paginator.page_range %}
														{% if page_obj.number == i %}
															<li><a href="#" class="current-page">{{ i }}</a></li>
														{% else %}
															<li><a href="?page={{ i }}">{{ i }}</a></li>
														{% endif %}
													{% endfor %}
											</ul>
									</nav>
									<nav class="pagination-next-prev full-width">
											<ul>
													{% if page_obj.has_previous %}
															<li><a href="?page={{ page_obj.previous_page_number }}" class="prev"></a></li>
													{% endif %}
													{% if page_obj.has_next %}
															<li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
													{% endif %}
											</ul>
									</nav>
							</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}



{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "js/add_to_cart.js" %}"></script>
{% endblock %}
