{% extends "profiles/profile_settings.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}
{% block meta_title %}
{% if object %}
    Изменение {{ object.title }}
{% else %}
    Новый товар
{% endif %}
{% endblock %}


{% block breadcrumbs_title %}
<h2>Магазин</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li><a href="{% url 'product-list' %}">Список моих товаров</a></li>
<li>{% if object %}{{ object }}{% else %}Новый товар{% endif %}</li>
{% endblock %}


{% block extra_content %}
<form method="post" class="input-no-background">
  {% csrf_token %}
  <div class="flat-background">
    <div class="container">
      <div class="sixteen columns">
        <div class="formset-images">
          <div class="header">
            <h1>{% if object %}{{ object }}{% else %}Новый товар{% endif %} <a href="#"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> Советы по заполнению карточки товара</a></h1>
          </div>
          <p> Фотографии — это самая важная часть в вашем будущем магазине. Покупатели не смогут потрогать, примерить или рассмотреть поближе ваши товары. Всё, что у них есть, — это изображения вашей вещи. Помните об этом, когда отбираете фотографии для магазина. </p>
          <div class="image-row">
              {{ productimage|crispy }}
          </div>
          <div class="clearfix"></div>
          <p>
            Размер фотографии не должен быть меньше 600 пикселей по меньшей стороне и 1500 по большей.
            <br>
            Рекомендованные пропорции — 3:2.
            <br>
            Фотографии должны быть в формате jpeg или jpg со степенью сжатия изображения 75–80
            <br>
            <a href="#">Посмотреть требования к фотографиям</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container margin-top-50 margin-bottom-50">
    <div class="ten columns">
      <div class="ten columns alpha margin-top-15 margin-bottom-15">
          {{ form.title|as_crispy_field }}
      </div>
      <div class="clearfix"></div>
      <div class="seven columns alpha margin-top-15 margin-bottom-15">
          {{ form.material|as_crispy_field }}
      </div>
      <div class="three columns omega margin-top-15 margin-bottom-15">
          {{ form.price|as_crispy_field }}
      </div>
      <div class="clearfix"></div>
      <div class="seven columns alpha margin-top-15 margin-bottom-15">
          {{ form.categories|as_crispy_field }}
      </div>
      <div class="clearfix"></div>

      <div class="seven columns alpha margin-top-15 margin-bottom-15">
          {{ form.condition|as_crispy_field }}
      </div>
      <div class="clearfix"></div>

      <div class="seven columns alpha margin-top-15 margin-bottom-15">
          {{ form.keywords|as_crispy_field }}
      </div>
      <div class="clearfix"></div>

      <div class="ten columns alpha margin-top-15 margin-bottom-15">
          {{ form.description|as_crispy_field }}
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="six columns sticky">
      <div class="action-bar">
        <div class="save">
          <input type="submit" class="button" value="{% if object %}Сохранить товар{% else %}Создать товар{% endif %}"/>
        </div>
        <div class="delete">
          <a href="#" class="button dark">Назад</a>
          {% if object %}
              <a href="{% url 'product-delete' object.pk %} " class="button dark">Удалить</a>
          {% endif %}
        </div>
      </div>
  </div>
</div>
</form>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/mezz/keywords_field.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.chained.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.chained.select.js" %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $.fn.get_categories("{% url 'get_categories' %}");
  $('#id_material').flexdatalist({
    minLength: 2,
    searchIn: 'title',
    noResultsText: 'Ничего не найдено для "{keyword}"',
    maxShownResults: 10,
    selectionRequired: false,
    valuesSeparator: ',',
    url: '{% static "data.json/material.json" %}',
  });
});
</script>

{# <script type="text/javascript" src="{% static "mezzanine/tinymce/tinymce.min.js" %}"></script> #}
{# <script type="text/javascript" src="{% static "mezzanine/js/tinymce_setup.js" %}"></script> #}
{# <script type="text/javascript" src="{% static "js/jquery.formset.js" %}" ></script> #}

{% endblock extra_js %}
