{% extends "base.html" %}
{% load staticfiles mezzanine_tags theme_tags pages_tags crispy_forms_tags %}

{% block meta_title %} {{ product.title|capfirst }} {% endblock %}
{% block meta_keywords %}
{% metablock %}
{% for keyword in product.keywords.all %}
	{% if not forloop.first %}, {% endif %} {{ keyword }}
{% endfor %}
{% endmetablock %}
{% endblock %}
{% block meta_description %}
{% metablock %}
{{ product.description }}
{% endmetablock %}
{% endblock %}

{% block breadcrumbs_title %}
<h2>{{ product.title|capfirst }}</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
{% for category in product.get_categories %}
	<li><a href="{{category.get_absolute_url}}">{{ category.title|capfirst }}</a></li>
{% endfor %}
<li>{{ product.title|capfirst }}</li>
{% endblock %}

{% block main_containter %}
<div class="row-tmp">
	<div class="container fullwidth-element row-shadow">
		<div class="container">
			{% with images=product.images.all %} {% if images %}
			<div class="eight columns">
				<div class="slider-padding">
					<div id="product-slider" class="royalSlider rsDefault">
						{% for image in images %}
						<a href="{{ MEDIA_URL }}{% thumbnail image.file 800 0 True 80 %}" class="mfp-gallery" title="{{product.title}}">
						<img class="rsImg" src="{{ MEDIA_URL }}{% thumbnail image.file 450 450 True 80 %}"
						data-rsTmb="{{ MEDIA_URL }}{% thumbnail image.file 96 96 True 80 %}" alt="{{ product.title|capfirst }}" />
					</a> {% endfor %}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			{% endif %}

			<div class="{% if images %}eight{% else %}sixteen{% endif %} columns">
				{% endwith %}
				<div class="product-page">
					<section class="title">
						<h2>{{ product.title|capfirst }}</h2>
						<span class="product-price">{{ product.price|rub_currency }}</span>
						{% include "includes/star_widget.html" with value=product.reviews_average %}
						<br>
						<span class="reviews-counter">
							<a href="{% url 'product-reviews' product.slug %}">{{ product.reviews_count|rupluralize:"отзыв,отзыва,отзывов" }}</a>
						</span>
						<div class="clearfix"></div>
					</section>

					<section>
						<p class="margin-reset">
							{% if product.description %} {{ product.description }} {% else %} Описание отсутствует. {% endif %}
						</p>
					</section>

					<section class="linking">
						<form class="add-to-cart-form" action="{% url 'get_cart' %}" method="post">
							{{ add_to_cart_form }}
							<a href="{% url 'shop-cart' %}" class="button adc add-to-cart">В корзину</a>
						</form>


						<div class="clearfix"></div>
					</section>

					{% with tags=product.keywords.all %}
					{% if tags %}
					<div class="widget margin-top-10">
						<h3 class="headline">Теги</h3><span class="line"></span>
						<div class="clearfix"></div>
						<nav class="tags">
							{% for tag in tags %}
								<a href="/{{ tag.keyword.slug }}" class="tag">{{ tag }}</a>
							{% endfor %}
						</nav>
					</div>
					{% endif %}
					{% endwith %}

					<div class="widget margin-top-10 margin-bottom-10">
						<h3 class="headline">Магазин</h3><span class="line"></span>
						<div class="clearfix"></div>
						<div class="widget-content">
							<div class="image-content pull-left">
								<a href="{{ product.shop.get_absolute_url }}">
							<img src="{{ MEDIA_URL}}{% thumbnail product.shop.image 100 100 %}" alt="{{ product.shop.shopname }}" class="shop-image">
						</a>
							</div>
							<div class="text-content pull-left">
								<h2><a href="{{ product.shop.get_absolute_url }}">
							{{ product.shop.shopname }}
						</a></h2>
								<span>{{ product.shop.user.profile.get_location }}</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="sixteen columns">
				<div class="widget margin-top-10 margin-bottom-10">
					<h3 class="headline">Отзывы ({{ product.reviews_count }})</h3><span class="line"></span>
					<div class="clearfix"></div>
					<div class="widget-content">
						<section class="comments">
							{% if reviews %}
								<ul>
								{% for review in reviews %}
									<li>
										<div class="avatar">
											{% if review.author__profile__image %}
												<img src="{{ MEDIA_URL }}{% thumbnail review.author__profile__image 70 70 %}" alt="">
											{% else %}
												<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
											{% endif %}
										</div>
										<div class="comment-content">
											<div class="arrow-comment"></div>
											<div class="comment-by">
												<strong>{{ review.author__profile__first_name }} {{ review.author__profile__last_name }}</strong>
												<span class="date"> {{ review.created_at|date:"d E Y" }} </span>
												<div>
													{% include "includes/star_widget.html" with value=review.rating %}
												</div>
											</div>
											<p> {{ review.content }} </p>
										</div>
									</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="margin-bottom-10">Отзывов ещё нет — ваш может стать первым.</p>
							{% endif %}
							{% if request.user.is_authenticated %}
							<a href="#small-dialog" class="popup-with-zoom-anim button color {% if not reviews %}margin-left-0{% endif %}">Добавить отзыв</a>

							<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
								<h3 class="headline">Добавить отзыв</h3><span class="line margin-bottom-25"></span>
								<div class="clearfix"></div>

								<!-- Form -->
								<form id="add-comment" class="add-comment" action="" method="POST">
									{% csrf_token %}
									{{ review_form }}
									<input type="submit" class="button" value="Добавить отзыв"/>
									<div class="clearfix"></div>
								</form>
							</div>
							{% endif %}
					</section>
					{% if is_paginated %}
							<div class="pagination-container margin-top-20">
									<nav class="pagination">
											<ul>
													{% for i in page_obj.paginator.page_range %}
														{% if page_obj.number == i %}
															<li><a href="#" class="current-page">{{ i }}</a></li>
														{% else %}
															<li><a href="?page={{ i }}">{{ i }}</a></li>
														{% endif %}
													{% endfor %}
											</ul>
									</nav>
									<nav class="pagination-next-prev full-width">
											<ul>
													{% if page_obj.has_previous %}
															<li><a href="?page={{ page_obj.previous_page_number }}" class="prev"></a></li>
													{% endif %}
													{% if page_obj.has_next %}
															<li><a href="?page={{ page_obj.next_page_number }}" class="next"></a></li>
													{% endif %}
											</ul>
									</nav>
							</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_content %}
<div class="flat-background">
	<div class="flat-row">
		<div class="margin-top-25"></div>
		{% include "includes/additional_products.html" with related_products=product.shop.get_related_products limited=True %}
	<div class="margin-top-10"></div>
</div>
{% endblock %}



{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "js/add_to_cart.js" %}"></script>
{% endblock %}
