/** Your theme modifications here **/

#blog-post img {
	width: 100%;
	height: auto;
}

#top ul.menu > li {
	color: white;
}

footer {
    background: #e0e0e0;
    width: 100%;
    padding: 0 0 0 0;
}

footer ul {
  padding-left: 0;
  list-style: none;
}
footer ul a {
  color: #999999;
  padding-left: 7px;

}
footer ul li:first-child a{
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 18px;
    padding-left: 0;
}
footer .social {
  text-align: left;
}
footer .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
  background-color: #555555;
}

footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}
footer .social a.facebook:hover {
  background-color: #4460ae;
}
footer .social a.gplus:hover {
  background-color: #c21f25;
}
footer .social a.twitter:hover {
  background-color: #3cf;
}
footer .social a.instagram:hover {
  background-color: #cd4378;
}
footer .social a.email:hover {
  background-color: #4a7f45;
}

.nav-footer {
	padding: 15px;
}

.nav-footer > ul > li {
	padding: 2px 0;
}

.box.slideshow {
	padding: 15px 30px 0px 30px;
}


#content .panel.sidebar-menu .active > a {
  background-color: #4fbfa8;
  color: #ffffff;
}

ul.nav.nav-list.navlist-menu-level-1 a {
  padding-left: 15px;
}
ul.nav.nav-list.navlist-menu-level-2 {
	/*background-color: #f5f5f5;*/
}
ul.nav.nav-list.navlist-menu-level-2 a{
  padding-left: 25px;
  color: #959595;
}
ul.nav.nav-list.navlist-menu-level-3 {
	/*background-color: #e8e8e8;*/
}
ul.nav.nav-list.navlist-menu-level-3 a {
  padding-left: 35px;
}


li > ul {
	display: none;
}
li.active-branch > ul {
	display: block;
}

.dropdown-menu {
	left: auto;
	padding: 0;
}
.dropdown-menu > li > a {
	padding: 10px 20px;
}

.dropdown-submenu > .dropdown-menu {
	margin-top: -1px;
	margin-left: 0px;
}

.dropdown-menu>.active > a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #4fbfa8;
}


.form-actions {
  background-color: #ffffff;
  border-top: #ffffff;
}

.comment-author {
  background-color: #effffa;
}

#content #productMain .buttons .btn {
  margin-right: 5px;
  max-width: 100%;
  white-space: normal;
}
.form-group > input[type="number"] {
  display: inline;
  margin: 7px;
  width: auto;
  max-width: 100%;
}

.const_width {
  width: 100%;
}

#comments, .rating {
  margin: 0 0;
}
.blog-list-detail {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#content #productMain .price del {
  color: #999999;
  font-size: 25px;
}

#content .product .text .buttons .btn {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.product-sorting select {
  margin-left: 0;
  width: auto;
  max-width: 100%;
}
.shop-category-list .caption {
  padding: 10px 0px;
  text-align: center;
}
.shop-category-list a {
  color: black;
}

.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding-left: 10px;
}

.panel-title {
  margin-left: 15px;
}

.panel-body {
  /*padding: 5px 15px 5px 0px;*/
}