.sticky {
  position: sticky;
  top: 50px;
}

/* slider */

.bss-slides {
  position: relative;
  display: block;
  width: 100%;
  max-height: 350px;
}

.bss-slides:focus {
  outline: 0;
}

.bss-slides figure {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.bss-slides figure:first-child {
  position: relative;
}

.bss-slides figure img {
  display: inherit;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  width: auto !important;
  height: 350px !important;
  max-width: inherit !important;
  /*margin:0 -100%;*/
  /*transform: translateX(-50%);*/
}

.bss-slides .bss-show {
  z-index: 2;
}

.bss-slides .bss-show img {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.bss-slides figcaption {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: .25em;
  border-radius: 2px;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  /*text-shadow: 1px 1px 2px black, 0 0 1em black;*/
}

.bss-slides .bss-show figcaption {
  z-index: 3;
  opacity: 1;
}

.bss-slides figcaption strong {
  color: #fff;
  font-weight: 700;
}

.bss-slides figcaption h1, .bss-slides figcaption h2, .bss-slides figcaption h3, .bss-slides figcaption h4, .bss-slides figcaption h5, .bss-slides figcaption h6, .bss-slides figcaption a, .bss-slides figcaption p {
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 500;
  display: block;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.35);
}

.bss-slides figcaption h1 {
  font-size: 46px;
}

.bss-slides figcaption h2 {
  font-size: 40px;
}

.bss-slides figcaption h3 {
  font-size: 34px;
}

.bss-slides figcaption h4 {
  font-size: 28px;
}

.bss-slides figcaption h5, .bss-slides figcaption h6, .bss-slides figcaption p {
  font-size: 22px;
}

.bss-next, .bss-prev {
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 4;
  font-size: 2em;
  line-height: 1.2em;
  margin-top: -1.2em;
  opacity: .5;
  padding: 5px 10px 11px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
}

.bss-next:hover, .bss-prev:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #3acf87;
}

.bss-next {
  right: 0;
}

.bss-prev {
  left: 0;
}

.input_price {
  display: inline-block;
  position: relative;
  width: calc(50% - 2px);
}

.input_price span {
  position: absolute;
  top: 6px;
  left: 6px;
  color: #bbb;
}

.input_price input[type="number"] {
  padding-left: 24px;
}

ul.profile-user-list>li {
  margin-top: 5px;
}

.content-box h4 {
  line-height: 26px;
  padding-bottom: 2px;
  color: #fff;
  font-weight: 300;
}

#logo {
  margin-bottom: 5px;
  margin-top: 15px
}

.top-bar-menu-wrapper {
  background: #505050;
  z-index: 30;
}

a.button.light {
  background-color: #fff;
  color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.button.light:hover {
  /* color: #999; */
  background-color: #f5f5f5;
}

#style-switcher {
  background: #606060;
  width: 167px;
  position: absolute;
  top: 155px;
  z-index: 26;
  left: -167px;
  transition: all .5s ease-out;
}

#style-switcher.show {
  left: 0px;
}

#style-switcher a {
  color: #fff;
  display: block;
}

#style-switcher h2 {
  background-color: #505050;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 0 7px 7px;
  line-height: 25px;
}

#style-switcher i.fa.fa-cog.fa-2x {
  padding: 6px;
}

#settings, #open-switcher {
  position: absolute;
  background-color: #505050;
  border-left: 1px solid #606060;
  color: #fff;
  display: block;
  height: 40px;
  width: 40px;
  right: -80px;
  top: 0;
  /*border: 0;*/
  /*outline: 0;*/
}

#open-switcher.toggle, #settings {
  right: -40px;
}

#style-switcher div {
  /*padding: 2px 18px 10px 18px;*/
  border: 1px solid #505050;
}

#style-switcher ul {
  /*padding: 6px;*/
}

#style-switcher ul li {
  padding: 8px 0px 8px 16px;
  border-bottom: 1px solid #505050;
}

.list-2 li {
  margin-left: 15px;
  line-height: 19px;
}

.arrow.right {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 18px;
  margin-left: 7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.menu {
  background-color: #505050;
  margin: 0
}

.item-description {
  padding: 5px 0;
}

.item-description span, .item-description h5 {
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 23px;
  text-transform: none;
  line-height: 15px;
  overflow: hidden;
}

.item-description h5 {
  font-weight: 500;
}

#portfolio-wrapper figure:hover {
  border-bottom: 2px solid #3acf87;
}

.product section {
  padding: 3px 0
}

.hide-top-search {
  display: none
}

.img-caption figcaption {
  padding: 17px 0 17px 5px
}

.selectric {
  min-width: 240px
}

.width-100 {
  width: 100%
}

.margin-right-10 {
  margin-right: 10px !important;
}

/*.tp-banner,
.tp-bgimg,
.home-slider {
    max-height: 380px!important
}*/

.help-block {
  color: red
}

.blue {
  background: #2db2ea !important
}

h5 {
  line-height: 34px
}

.product section h5 {
  height: 20px;
  padding: 0 8px;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*word-break: break-word;*/
}

.product-price-discount {
  padding: 1px 0 5px
}

.product-price-discount i {
  margin: -4px 0 -4px 5px;
  padding: 4px 5px
}

.active-link {
  color: #3acf87 !important
}

#categories li {
  line-height: 23px
}

#categories>li {
  border-bottom: 1px solid #eee
}

#categories li li a.active:hover {
  color: #777
}

#categories li a {
  border-bottom: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

#categories li ul li a, #categories li ul li a:hover {
  padding: 3px 3px 4px 25px;
  width: 86%
}

#categories li a.active {
  background-color: transparent !important;
  color: #3acf87;
  font-weight: 600
}

#categories li a:hover {
  background-color: transparent !important;
  color: #777;
  margin-left: 5px
}

.nav-categories li a.active, .nav-categories li a:hover {
  color: #3acf87;
  margin-left: 5px;
}

.open_nav {
  cursor: pointer;
  float: right;
  font-family: FontAwesome;
  height: 20px;
  line-height: 30px;
  width: 20px
}

li.child-1>.open_nav {
  line-height: 46px
}

ul.widget-tabs>li:hover a {
  color: #3acf87;
}

p, .widget-text {
  word-wrap: break-word
}

.footer-links>li>a {
  display: inline
}

.footer-links>li {
  padding-top: 6px
}

li.dropdown ul li ul {
  left: 198px
}

.menu>li .current {
  color: #fff
}

.menu>li a {
  width: 100%;
}

#jPanelMenu-menu li li a {
  padding-left: 30px
}

.disabled {
  opacity: .2
}

.disabled:hover {
  background-color: #2f2f2f !important;
  cursor: not-allowed
}

.product-author {
  background-color: #f4f4f4;
  overflow: hidden;
  padding: 15px
}

.product-author h3 {
  line-height: 28px
}

.product-author section h3:hover {
  color: #3acf87
}

.onoffswitch {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  position: relative;
  width: 58px
}

.onoffswitch-checkbox {
  display: none !important
}

.onoffswitch-label {
  background-color: #eee;
  border: 2px solid #999;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  transition: background-color .3s ease-in
}

.onoffswitch-label:before {
  background: #fff;
  border: 2px solid #999;
  border-radius: 30px;
  bottom: 0;
  content: '';
  display: block;
  margin: 0;
  position: absolute;
  right: 26px;
  top: 0;
  transition: all .3s ease-in 0;
  width: 30px
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: #2ee8a7
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before {
  border-color: #2ee8a7
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
  right: 0
}

figure.blue-effect {
  background: #dcffee
}

figure.blue-effect:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: all .35s;
  opacity: .8;
  transform: scale(1.1);
  transition: all .35s
}

figure.blue-effect img {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -webkit-transition: all .35s;
  opacity: 1;
  transform: scale(1.0);
  transition: all .35s
}

.portfolio-item img {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -webkit-transition: all .35s;
  transform: scale(1.0);
  transition: all .35s
}

.portfolio-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: all .35s;
  transform: scale(1.1);
  transition: all .35s
}

.hover-icon:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: xx-large;
  height: 19px;
  left: 20px;
  position: relative;
  top: 12px;
  width: 19px
}

#logo a img {
  height: 100px
}

.caption-btn {
  -moz-box-shadow: 0 0 27px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 27px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 27px -10px rgba(0, 0, 0, 0.75)
}

.badges {
  position: absolute;
  right: 0;
  top: 0;
  width: 162px;
  z-index: 20
}

.product-discnt, .product-ready, .product-example {
  color: #fff;
  display: block;
  float: right;
  font-weight: 700;
  padding: 5px 9px;
  text-transform: uppercase;
  z-index: 20
}

.white {
  background-color: #fff;
  color: #999;
}

.red, .product-discnt {
  background-color: #f94a46;
  color: #fff;
}

.blue, .product-example {
  background-color: #3ac3cf;
  color: #fff;
}

.green, .product-ready {
  background-color: #3acf87;
  color: #fff;
}

.order-container {
  overflow: auto
}

.order-thumb {
  float: left;
  margin: 8px 0
}

.order-thumb img {
  display: block;
  margin-bottom: 8px;
  width: 200px
}

.text-center, .order-info {
  text-align: center
}

.object-list.columns.masonry-item {
  width: 280px;
}


/* .form-group {
  width: 50%;
  float: left;
  padding: 0px 10px 5px 5px;
} */

/* .form-group input, .form-group select {
  width: 100%;
  padding: 10px 5px; */
  /*font-size: 15px;*/
/* } */

/* .custom-field {
  padding: 0px 10px 0px 5px;
} */

/* label.form-control-label {
  font-size: 20px;
}

.action-bar, div#div_id_description, div#div_id_preview_content, div#div_id_content {
  width: 100%;
  float: left;
}

.action-bar>input[type="button"], input[type="submit"], button, a.button {
  display: inline-table;
} */

input.vFileBrowseField, input#id_featured_image {
  display: none;
}

div.shop-images {
  position: relative;
}

.shop-background-preview {
  position: absolute;
  width: 100%;
  top: 0px;
  overflow: hidden;
}

.shop-image-preview {
  position: absolute;
  right: 15px;
  top: -150px;
}

.profile-image-preview {
  position: absolute;
  left: 0px;
  top: 0px;
}

img.profile-image-preview-image {
  margin-top: 31px;
  margin-left: 5px;
}

.shop-background-preview .shop-background-preview-image {
  height: 200px !important;
  max-width: unset !important;
}

.shop-image-preview .shop-image-preview-image {
  border-radius: 50%;
  border: 3px #e9e9e9 solid;
  width: 200px;
  height: 200px;
}

.shop-background-preview:hover, a.shop-background-image:hover, a.shop-image:hover, .shop-image-preview .shop-image-preview-image:hover {
  border-color: #3acf87;
  color: #3acf87;
}

a.shop-background-image {
  border: 2px dashed;
  width: 100%;
  display: block;
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 32px;
  background: #e9e9e9;
  color: #888;
}

a.shop-image {
  border: 2px solid;
  border-radius: 50%;
  float: right;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 18px;
  text-align: center;
  background: #f5f5f5;
  color: #888;
  position: absolute;
  right: 15px;
  top: -150px;
}

a.profile-image {
  display: block;
  border: 1px dashed;
  width: 300px;
  height: 200px;
  background: #f5f5f5;
}

/* a.fb_show {
  border: 1px dashed;
  display: inline-block;
  width: 300px;
  text-align: center;
  height: 200px;
  background: #f5f5f5;
  padding: 87px 68px;
} */

/* a.fb_show:after {
  content: "Добавить";
  line-height: 188px;
}

.multiField>div>div {
  position: relative;
}

.add-row {
  display: block;
}

.multiField, .ordertableitemimages, .multiField>div>div span {
  display: inline-block;
}

.mezz-fb-thumbnail {
  position: absolute;
  top: 39px;
}

.multiField .mezz-fb-thumbnail {
  top: 0px;
  left: 0px;
}

.mezz-fb-thumbnail img {
  max-width: none !important;
} */

@media (max-width: 767px) {
  /* .form-group {
    width: 100%;
    float: left;
    padding: 10px;
  }
  .custom-field {
    padding: 10px;
  }
  img.profile-image-preview-image {
    margin-top: 41px;
    margin-left: 10px;
  } */
  .sticky {
    position: inherit;
    top: auto;
  }
  #style-switcher {
    top: 292px;
  }
  .cd-dropdown-wrapper {
    width: 100%;
  }
  .cd-dropdown-trigger::before {
    left: 95px;
    /*right: 63%;*/
  }
  .cd-dropdown-trigger::after {
    left: 100px;
    /*right: calc(63% - 5px);*/
  }
  .bss-slides figcaption h1 {
    font-size: 36px;
  }
  .bss-slides figcaption h2 {
    font-size: 30px;
  }
  .bss-slides figcaption h3 {
    font-size: 24px;
  }
  .bss-slides figcaption h4 {
    font-size: 18px;
  }
  .bss-slides figcaption h5, .bss-slides figcaption h6 {
    font-size: 14px;
  }
}

#categories li a.active {
  color: #3acf87 !important;
  padding-left: 3px
}

.icon-box h3 {
  line-height: 22px;
  margin-left: 72px;
  margin-top: 12px
}

.icon-box:hover h3 {
  color: gray
}

.icon-box span.color-effect-1 {
  background-color: #38c782
}

.icon-box span.color-effect-2 {
  background-color: #0e83cd
}

.icon-box span.color-effect-3 {
  background-color: #a558a6
}

.icon-box span.color-effect-4 {
  background-color: #ffba35
}

.icon-box:hover span.color-effect-1 {
  background-color: #3acf87
}

.icon-box:hover span.color-effect-2 {
  background-color: #3acf87
}

.icon-box:hover span.color-effect-3 {
  background-color: #3acf87
}

.icon-box:hover span.color-effect-4 {
  background-color: #3acf87
}

.icon-box span.color-effect-1 i, .icon-box span.color-effect-2 i, .icon-box span.color-effect-3 i, .icon-box span.color-effect-4 i {
  color: #fff
}

.disabled span i, .disabled span, .disabled:hover span {
  background-color: #f5f5f5 !important;
  color: #888 !important
}

/*.js .inputfile {
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1
}*/

/*.inputfile+label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.no-js .inputfile+label {
    display: none
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px
}

.inputfile-1+label {
    background-color: silver;
    background-image: url();
    background-position: 50% center;
    background-size: cover;
    border-bottom: 3px solid silver;
    border-top: 3px solid silver;
    height: 100%;
    text-align: center;
    width: 100%
}

.inputfile-1+label span {
    background-color: #606060;
    border-radius: 2px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 150px;
    padding: 10px
}

.inputfile-1+label:hover span {
    background-color: #3acf87;
    color: #fff;
    opacity: 1
}

.inputfile-2:focus+label,
.inputfile-2.has-focus+label,
.inputfile-2+label:hover {
    background-color: #3acf87;
    border-bottom: 3px solid #3acf87;
    border-top: 3px solid #3acf87
}

.inputfile-2+label {
    background-color: silver;
    background-image: url();
    background-position: 50% center;
    background-size: cover;
    border-bottom: 3px solid silver;
    border-top: 3px solid silver;
    height: 100%;
    text-align: center;
    width: 100%
}

.inputfile-2+label span {
    background-color: #606060;
    border-radius: 2px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 10px
}

.inputfile-2+label:hover span {
    background-color: #3acf87;
    color: #fff;
    opacity: 1
}

.inputfile-2:focus+label,
.inputfile-2.has-focus+label,
.inputfile-2+label:hover {
    background-color: #3acf87;
    border-bottom: 3px solid #3acf87;
    border-top: 3px solid #3acf87
}

.inputfile-4+label {
    color: #d3394c;
    float: right;
    margin-right: 10px
}

.inputfile-4+label span {
    margin-left: 15px
}

.inputfile-4+label figure {
    background-color: silver;
    border: 2px solid #606060;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: 0 auto 10px;
    padding: 5px;
    width: 150px
}

.inputfile-4+label figure img {
    border-radius: 50%;
}

.inputfile-4+label figure.profile-image {
    height: auto;
    max-width: 100%;
}

.inputfile-4+label figure.profile-image,
.inputfile-4+label figure.profile-image img {
    border-radius: 0;
}

.inputfile-4:focus+label figure,
.inputfile-4.has-focus+label figure,
.inputfile-4+label:hover figure {
    background-color: #3acf87
}

.inputfile-4+label svg {
    fill: #f1e5e6;
    height: 100%;
    width: 100%
}

.inputfile-5+label {
    color: #d3394c
}

.inputfile-5:focus+label,
.inputfile-5.has-focus+label,
.inputfile-5+label:hover {
    color: #722040
}

.inputfile-5+label figure {
    background-color: #d3394c;
    display: block;
    height: 135px;
    margin: 0 auto 10px;
    padding: 30px;
    position: relative;
    width: 100px
}

.inputfile-5:focus+label figure,
.inputfile-5.has-focus+label figure,
.inputfile-5+label:hover figure {
    background-color: #722040
}

.inputfile-5+label figure::before,
.inputfile-5+label figure::after {
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0
}

.inputfile-5+label figure::before {
    border-left: 20px solid transparent;
    border-top: 20px solid #dfc8ca
}

.inputfile-5+label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent
}

.inputfile-5:focus+label figure::after,
.inputfile-5.has-focus+label figure::after,
.inputfile-5+label:hover figure::after {
    border-bottom-color: #d3394c
}

.background-image {
    overflow: hidden;
    width: 100%
}

.logo-image img {
    height: 150px!important;
    width: 150px!important;
}
*/

.input-no-background .form-group {
  position: relative;
  /* margin: 15px auto; */
}


.input-no-background .multiField label,
.input-no-background .multiField .help-text,
.input-no-background textarea,
.input-no-background .keywords-field {
  display: none;
}
.price-input {
  height: 35px;
}

.input-no-background input[type="text"],
.input-no-background input[type="number"],
.input-no-background select,
.input-no-background textarea {
  background: none;
  color: #6d6d6d;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c0c0c0;
  resize: none;
}

.input-no-background input[type="text"]:focus,
.input-no-background input[type="number"]:focus,
.input-no-background select:focus,
.input-no-background textarea:focus {
  outline: none;
  background: none;
  border: none;
}
.input-no-background a.blogpost-image-input {
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 55px;
  color: #515151;
  text-align: center;
  display: block;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  border: dashed 2px #a4a4a4;
}
.input-no-background a.blogpost-image-input:hover{
    color:#3acf87;
    border-color: #3acf87;
}

.input-no-background input[type="text"]:focus ~ label,
/* .input-no-background input[type="text"]:valid ~ label, */
.input-no-background input[type="text"].has-content ~ label,
.input-no-background input[type="number"]:focus ~ label,
/* .input-no-background input[type="number"]:valid ~ label, */
.input-no-background input[type="number"].has-content ~ label,
/* .input-no-background select:focus ~ label, */
.input-no-background select ~ label,
/* .input-no-background select.has-content ~ label, */
.input-no-background textarea:focus ~ label,
.input-no-background textarea.has-content ~ label
/* .input-no-background textarea:valid ~ label */
{
  top: -14px;
  font-size: 12px;
  color: #3dc182;
}
.input-no-background input[type="text"]:focus ~ .bar:before,
.input-no-background input[type="number"]:focus ~ .bar:before,
.input-no-background select:focus ~ .bar:before,
.input-no-background textarea:focus ~ .bar:before {
  width: 100%;
}
.input-no-background input[type="password"] {
  letter-spacing: 0.3em;
}
.input-no-background .help-text {
  font-size: 13px;
  color: #b3b3b3;
  margin: 0;
}
.input-no-background label {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

div#div_id_categories > label,
.input-no-background label.label-default {
  position: inherit;
  pointer-events: auto;
}

.input-no-background .bar {
  position: relative;
  display: block;
  width: 100%;
}
.input-no-background .bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #3dc182;
  transition: 300ms ease all;
  left: 0%;
}
.input-no-background .has-danger .bar:before {
  background: #ef2929;
  width: 100%;
}
.input-no-background .has-danger label {
  color: #ef2929;
}
.input-no-background .has-danger span {
  color: #ef2929;
}
.input-no-background .has-danger input[type="text"]:focus ~ label, .input-no-background .has-danger input[type="text"]:valid ~ label,
.input-no-background .has-danger input[type="number"]:focus ~ label,
.input-no-background .has-danger input[type="number"]:valid ~ label,
.input-no-background .has-danger select:focus ~ label,
/* .input-no-background .has-danger select:focus ~ label, */
.input-no-background .has-danger textarea:focus ~ label {
/* .input-no-background .has-danger textarea:valid ~ label { */
  color: #ef2929;
}


.image-row {
  text-align: center;
}

.multiField {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 auto 30px auto;
}
.multiField input {
  display: none;
}
.multiField a {
  /* margin: 5px 10px; */
}
.multiField .clear-button {
  color: #989898;
  font-size: 13px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* left: 0px; */
}
.multiField .image-input {
  display: block;
  width: 175px;
  height: 150px;
  margin: 0 10px;
  border: dashed 1px #a4a4a4;
  text-align: center;
  line-height: 150px;
  font-size: 37.5px;
  color: #656565;
  font-weight: 300;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}


.formset-images .header {
  margin: 40px 0;
}
.formset-images .header h1 {
  font-size: 25px;
  color: #000000;
  line-height: 1.2;
  font-weight: 500;
}
.formset-images .header a {
  float: right;
  font-size: 14px;
  color: #3dc182;
}
.formset-images p {
  margin: 30px 0;
  color: #515151;
}

.action-bar > .delete {
  text-align: center;
}
.action-bar > .delete > .button {
  width: 30%;
  /* margin: 5px; */
  background-color: #fff;
  color: #999;
  font-weight: 500;
}
.action-bar > .delete > .button:hover {
  background-color: inherit;
  color: #3acf87;
}
.action-bar > .save > .button {
  display: block;
  margin: 5px auto;
  width: 80%;
}


/* ----------------------------------------  */


textarea, .input-full-width input[type="text"] {
  resize: none;
  width: 100%;
  min-height: 20px;
  overflow: hidden;
}

.input-full-width select {
  padding: 10px 12px;
  width: 100%;
}

input[type="number"] {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #999;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 10px 12px;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0
}

.express {
  float: left;
  margin: 5px 0;
  width: 100%
}

.express_text, .express_price {
  float: left
}

.express_text {
  width: 63%
}

.express_price {
  text-align: center;
  width: 37%
}

/*** forced fixed in input-no-background form */
/* div.checkbox {
  display: inline-block;
      margin: 30px 15px 0 0;
}

div.checkbox label {
  position: relative!important;
  font-size: 15px;
} */
/*** ---------------------------------------- */
.control {
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  pointer-events: auto!important;
}

.control input {
  opacity: 0;
  position: absolute;
  z-index: -1
}

.control__indicator {
  background: #f5f5f5;
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.control--radio .control__indicator {
  border-radius: 50%
}

.control:hover input~.control__indicator, .control input:focus~.control__indicator {
  background: #f2f2f2
}

.control input:checked~.control__indicator {
  background: #3acf87
}

.control:hover input:not([disabled]):checked~.control__indicator, .control input:checked:focus~.control__indicator {
  background: #3acf87
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  pointer-events: none
}

.control__indicator:after {
  content: '';
  display: none;
  position: absolute
}

.control input:checked~.control__indicator:after {
  display: block
}

.control--checkbox .control__indicator:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  height: 10px;
  left: 6px;
  top: 3px;
  transform: rotate(45deg);
  width: 8px;
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b
}

input::placeholder {
  color: #d7d7d7
}

::-webkit-input-placeholder {
  color: #d7d7d7
}

::-moz-placeholder {
  color: #d7d7d7
}

:-ms-input-placeholder {
  color: #d7d7d7
}

:-moz-placeholder {
  color: #d7d7d7
}

input.error {
  border-bottom: 1px solid #ff7373
}

.error {
  color: #ff7373
}

.product a.shopname {
  display: block;
  color: #aaa;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}

.product a.shopname:hover {
  color: #777;
  text-decoration: underline
}

textarea, input[type="text"], input[type="submit"], input[type="password"], [type="email"] {
  -moz-border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0
}

.img-caption figcaption h4, .img-caption figcaption ul li, .img-caption figcaption time {
  color: #f4f4f4
}

.img-caption figcaption ul li, .img-caption figcaption time {
  opacity: .8
}

/* .userpanel img {
  position: relative
}

.userpanel figure {
  max-height: 432px;
  overflow: hidden;
  position: relative
}

.userpanel figcaption {
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: block;
  padding: 30px;
  position: absolute;
  transition: background-color .2s ease-in-out;
  width: 100%
}

.userpanel figcaption h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px
}

.userpanel figcaption h3 a {
  color: #fff
}

.userpanel .lead-post:first-child {
  margin-bottom: 5px
}

.userpanel .lead-post figcaption {
  padding: 20px
}

.userpanel .lead-post figcaption h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: -2px
}

.userpanel time, .userpanel span {
  color: #f4f4f4;
  opacity: .8
}

.userpanel ul {
  margin-top: 15px;
  overflow: hidden
}

.userpanel ul li {
  float: left;
  margin-right: 10px
}

.userpanel figcaption:hover time {
  opacity: 1
}

.userpanel figcaption:hover {
  background-color: #3acf87
}

.userpanel figcaption:hover .button {
  background-color: #606060
}

.userpanel figcaption:hover .button:hover {
  background-color: silver
} */

.rsMainSlideImage {
  width: 100%;
}

.products figure:hover .no-anim .cover {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.products figure:hover .mediaholder.no-anim img {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.main-page-category.columns:nth-child(5n+1) {
  margin-left: 0px;
}

.main-page-category.columns {
  width: 232px;
  /*height: 250px;*/
  margin-right: 0px;
  margin-bottom: 10px;
}

.main-page-category a.img-caption {
  margin: 0;
}

.main-page-category a.img-caption figcaption {
  padding: 10px;
  width: 95%;
}

.container .widget-card {
  width: 580px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.widget-card-body .top-side, .widget-card-body .bottom-side {
  width: 580px;
  float: left
}

.widget-card-body .left-side, .widget-card-body .right-side {
  width: 290px;
  float: left;
}

/* profile -settings */

.flat-background {
  background: #e9e9e9;
  padding-bottom: 25px;
}

.row-shadow {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px -8px rgba(96, 96, 96, 0.5);
  -moz-box-shadow: 0 10px 20px -8px rgba(96, 96, 96, 0.5);
  box-shadow: 0 10px 20px -8px rgba(96, 96, 96, 0.5);
}

.flat-row {
  padding-top: 20px;
  background-color: #e9e9e9;
}

.padding-top-25 {
  padding-top: 25px;
}
.padding-top-50 {
  padding-top: 50px;
}

.widget-card .top-side, .widget-card .left-side, .widget-card .right-side, .widget-card .bottom-side {
  padding-left: 30px;
  padding-right: 30px;
}

.widget-card .top-side {
  padding-top: 25px;
}

.widget-card .bottom-side {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.widget-card .left-side, .widget-card .right-side {
  padding-top: 10px;
  padding-bottom: 20px;
}

.widget-card-body {
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
  -moz-box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
  box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
}
.content-box {
  -webkit-box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
  -moz-box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
  box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.5);
}
.widget-card-body.success {
  background-color: #38c782;
  color: #fff;
}
.widget-card-body .widget-button {
  cursor: pointer;
  padding: 0 6px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}
.widget-card-body .widget-button.error {
  color: #de5959;
}
.widget-card-header h2 {
  font-size: 25px;
  color: #000;
}

.widget-card-body h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.widget-card .bottom-side {
  border-top: solid 1px #e6e6e6;
}

.widget-card-image {
  text-align: center;
}

.widget-card-image img {
  border-radius: 50%;
  border: 3px #e9e9e9 solid;
  margin: auto;
}

/* .widget-card-image > .overlap {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.35);
  padding: 10px;
  width: 100%;
} */

.widget-card-image>div {
  margin-top: 10px;
}

.widget-card-image .widget-card-title {
  font-size: 32px;
  letter-spacing: normal;
  line-height: 32px;
  font-weight: 700;
}

.widget-card-image .widget-card-region {
  font-size: 18px;
  font-weight: 600;
}

.widget-card-content {
  color: #4b4b4b;
}
.widget-card-body p.strong {
  margin: 15px 0 5px 0;
  font-size: 17px;
  font-weight: 600;
}

.widget-card-content>ul {
  font-size: 14px;
  font-weight: 500;
}

.widget-card-content>ul>li {
  padding: 5px 0;
}

.widget-card-content>ul>li>span {
  float: right;
  font-weight: 500;
}

.widget-card-content>ul.cycle>li:nth-child(2n+1), .widget-card-content>ul.strong {
  font-size: 16px;
  font-weight: 600;
}

.widget-card-content>ul.strong>li {
  padding: 10px 0;
}

.widget-card-content>ul.cycle>li:nth-child(2n + 3) {
  padding-top: 20px;
}

.widget-card-header a,
.widget-card-body a {
  color: #3acf87;
}

.widget-card-header a {
  float: right;
  font-size: 15px;
}

.widget-card-content>ul>li a {
  margin-left: 15px;
}

/* .widget-card-content p>span {} */

span.big-green {
  color: #3acf87;
  font-size: 32px;
  font-weight: 300;
  margin: auto 8px;
}

@media only screen and (min-width: 1040px) and (max-width: 1389px) {
  /* .userpanel .two-third figure {
    width: 648px
  }
  .userpanel .one-third figure {
    width: 362px
  } */
  .multiField .image-input {
    width: 136px;
    height: 120px;
    line-height: 120px;
  }
  .item-description span, .item-description h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .item-description span {
    height: 34px;
  }
  .item-description h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 7px;
  }
  .main-page-category.columns {
    width: 184px;
    /*height: 196px;*/
  }
  .object-list.columns.masonry-item {
    width: 300px;
  }
  .widget-card-body .top-side, .widget-card-body .bottom-side, .container .widget-card {
    width: 460px;
  }
  .widget-card-body .left-side, .widget-card-body .right-side {
    width: 230px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1039px) {
  /* .container.fullwidth-element.userpanel {
    width: 960px
  }
  .userpanel .two-third figure {
    width: 603px
  }
  .userpanel .one-third figure {
    width: 336px
  } */
  .multiField .image-input {
    width: 136px;
    height: 120px;
    line-height: 120px;
  }

  .item-description span, .item-description h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .item-description span {
    height: 34px;
  }
  .item-description h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 7px;
  }
  .main-page-category.columns {
    width: 182px;
    /*height: 182px;*/
  }
  /* .object-list.columns.masonry-item {
    width: 300px;
  } */
  .widget-card-body .top-side, .widget-card-body .bottom-side, .container .widget-card {
    width: 460px;
  }
  .widget-card-body .left-side, .widget-card-body .right-side {
    width: 230px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* .container.fullwidth-element.userpanel {
    width: 768px
  } */
  /* .userpanel .one-third figure {
    width: 374px
  }
  .column.omega, .columns.omega {
    margin-left: 0;
    margin-right: 10px
  } */
  .multiField .image-input {
    width: 104px;
    height: 91px;
    line-height: 91px;
  }

  #categories li a, #categories li ul li a, #categories li ul li a:hover {
    width: 85%
  }
  .item-description span, .item-description h5 {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
    overflow: hidden;
  }
  .half-columns {
    width: 236px !important;
  }
  .main-page-category.columns:nth-child(5n+1) {
    margin-left: 10px;
  }
  .main-page-category.columns:nth-child(3n+1) {
    margin-left: 0px;
  }
  .main-page-category.columns:last-child {
    display: none;
  }
  .main-page-category.columns {
    width: 246px;
    /*height: 246px;*/
  }
  .object-list.columns.masonry-item {
    width: 236px;
  }
  .widget-card-body .top-side, .widget-card-body .bottom-side, .widget-card-body .left-side, .widget-card-body .right-side, .container .widget-card {
    width: 364px;
  }
  .widget-card .left-side {
    padding-bottom: 5px;
  }
  .widget-card .right-side {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .custom_column {
    margin-left: 3px !important;
    margin-right: 3px !important;
    width: 144px !important
  }
  /* .object-list.columns.masonry-item {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
  } */
  /*
    .product h5 {
        font-size: 15px
    }*/
  /*.product span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }*/
  .product section {
    padding: 3px 0;
    padding-left: 5px
  }
  .product .product-category {
    font-weight: 600;
    padding: 0 6px 2px 0;
    word-break: break-word
  }
  .product .product-price {
    padding: 0 6px 6px 0;
    white-space: nowrap
  }
  /*.item-description span {
        font-size: 11px;
        font-weight: 500
    }*/
  /*.item-description h5 {
        font-size: 14px
    }
*/
  a.menu-trigger {
    background: #505050;
    padding-right: 15px;
    width: calc(100% - 7px);
  }
  #cart, .top-search {
    margin: 18px 0 0
  }
  .hide-top-search {
    display: block
  }
  #jPanelMenu-menu>li>a {
    border-bottom: 1px solid #5a5a5a
  }
  .active_branch ul {
    display: block !important
  }
  ul.dropdown-menu>li>a {
    padding-left: 15px !important
  }
  ul.dropdown-menu>li ul {
    display: none
  }
  ul.dropdown-menu>li ul a {
    border-bottom: 1px solid #5a5a5a;
    padding-left: 35px !important
  }
  ul.dropdown-menu>li ul li ul a {
    border-bottom: 1px solid #5a5a5a;
    padding-left: 55px !important
  }
  .caret {
    border-top: 11px solid transparent;
    float: right;
    position: relative;
    vertical-align: middle;
    width: 20px
  }
  .main-page-category.columns:nth-child(5n+1) {
    margin-left: 10px;
  }
  .main-page-category.columns:nth-child(2n+1) {
    margin-left: 0px;
  }
  .main-page-category.columns {
    width: 205px;
    /*height: 205px;*/
    margin-left: 10px;
  }
  .widget-card .left-side {
    padding-bottom: 5px;
  }
  .widget-card .right-side {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* .container.fullwidth-element.userpanel {
    width: 420px
  } */
  .multiField .image-input {
    width: 120px;
    height: 105px;
    line-height: 105px;
  }

  .custom_column {
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 200px !important
  }
  /* .top-search input { */
  /* width: 195px */
  /* } */
  .item-description span, .item-description h5 {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
    overflow: hidden;
  }
  .half-columns {
    width: 200px !important;
  }
  .half-columns:nth-child(even) {
    margin-left: 20px !important;
  }
  .widget-card-body .top-side, .widget-card-body .bottom-side, .widget-card-body .left-side, .widget-card-body .right-side, .container .widget-card {
    width: 420px;
  }
  .object-list.columns.masonry-item {
    width: 200px;
    margin-bottom: -10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 479px) {

  .multiField .image-input {
    width: 130px;
    height: 114px;
    line-height: 114px;
  }

  .item-description span, .item-description h5 {
    font-size: 13px;
    line-height: 16px;
    height: 40px;
    overflow: hidden;
  }
  .item-description h5 {
    font-size: 14px;
  }
  .img-caption figcaption h3 {
    font-size: 15px;
    line-height: 22px;
  }
  .product section h5 {
    font-size: 14px;
    height: 37px;
    white-space: normal;
    text-overflow: inherit;
  }
  .main-page-category.columns {
    width: calc(50% - 5px);
    /*height: auto;*/
    margin-left: 10px;
  }
  .object-list.columns.masonry-item {
    width: 300px;
    /* margin-left: 0; */
    /* margin-right: 5px; */
    /* margin-bottom: -10px; */
  }
  a.fb_show {
    width: 100%;
    height: 187px;
  }
  .half-columns {
    width: 145px !important;
  }
  .half-columns:nth-child(even) {
    margin-left: 10px !important;
  }
  .widget-card-body .top-side, .widget-card-body .bottom-side, .widget-card-body .left-side, .widget-card-body .right-side, .container .widget-card {
    width: 300px;
  }
}

.red {
  background-color: #c62020;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

input[name=quantity] {
  width: 82px;
}

/****** Style Star Rating Widget *****/

.rating-star {
  border: none;
}

.rating-star>input {
  display: none;
}

.rating-star>label:after {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating-star>.half:after {
  content: "\f089";
  position: absolute;
}

.rating-star>label {
  color: #ddd;
  display: initial;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating-star>input:checked~label,
/* show gold star when clicked */

.rating-star:not(:checked)>label:hover,
/* hover current star */

.rating-star:not(:checked)>label:hover~label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating-star>input:checked+label:hover,
/* hover current star when changing rating */

.rating-star>input:checked~label:hover, .rating-star>label:hover~input:checked~label,
/* lighten current selection */

.rating-star>input:checked~label:hover~label {
  color: #FFED85;
}

/*** date picker style **/

.ui-datepicker {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-top: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  min-width: 17em;
  width: auto;
  z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
  margin-left: -1px;
}

body.wp-admin.rtl .ui-datepicker {
  margin-right: -1px;
}

.ui-datepicker * {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui-datepicker table {
  font-size: 13px;
  margin: 0;
  border: none;
  border-collapse: collapse;
}

.ui-datepicker .ui-widget-header, .ui-datepicker .ui-datepicker-header {
  background-image: none;
  border: none;
  color: #fff;
  font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: relative;
  top: 0;
  height: 34px;
  width: 26px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev, .ui-datepicker .ui-state-hover.ui-datepicker-next {
  border: none;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev-hover {
  left: 0;
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover {
  right: 0;
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
  display: none;
}

.ui-datepicker .ui-datepicker-prev {
  float: left;
}

.ui-datepicker .ui-datepicker-next {
  float: right;
}

.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before {
  font: normal 26px/34px FontAwesome;
  padding-left: 9px;
  color: #fff;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 26px;
  height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
  content: "\f104";
}

.ui-datepicker .ui-datepicker-next:before {
  content: "\f105";
}

.ui-datepicker .ui-datepicker-prev-hover:before, .ui-datepicker .ui-datepicker-next-hover:before {
  opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 33%;
}

.ui-datepicker thead {
  color: #fff;
  font-weight: 600;
}

.ui-datepicker th {
  padding: 10px;
}

.ui-datepicker td {
  padding: 0;
  border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
  border: transparent;
}

.ui-datepicker tr:first-of-type td {
  border-top: 1px solid #5e5e5e;
}

.ui-datepicker td.ui-datepicker-week-end {
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
  background-color: #c1c1c0;
}

.ui-datepicker td.ui-datepicker-current-day {
  background: #faffbf;
}

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: block;
  padding: 5px 10px;
  font-weight: normal;
  color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
  opacity: 0.5;
}

.ui-datepicker .ui-widget-header, .ui-datepicker .ui-datepicker-header {
  background: #3acf87;
}

.ui-datepicker thead {
  background: #5f5f5f;
}

.ui-datepicker td .ui-state-hover {
  background: #5f5f5f;
  color: #fff
}

.loader {
  display: none;
}

.loading-image {
  display: inline-block;
}

td.delete>input[type="checkbox"] {
  display: none;
}

td.cart-qty>input[type="number"] {
  width: 25px;
  height: 22px;
  text-align: center;
  float: left;
  padding: 8px 9px;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: #999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #999;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 500;
  text-transform: inherit;
}

.topnav .active {
  /* background-color: #4CAF50; */
  color: #3acf87;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-top: 1px solid #e9e9e9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 25;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  /* background-color: #555; */
  color: #3acf87;
}

.dropdown-content a:hover {
  border-left: 2px solid #3acf87;
  color: #3acf87;
}

.dropdown .dropdown-content.visible {
  display: block;
}

@media screen and (max-width: 767px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .topnav.responsive-menu {
    position: relative;
  }
  .topnav.responsive-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive-menu a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive-menu .dropdown {
    float: none;
  }
  .topnav.responsive-menu .dropdown-content {
    position: relative;
  }
  .topnav.responsive-menu .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
