.limiter {
  width: 100%;
  margin: 0 auto;
}

.qtyplus:before,
.qtyminus:before {
  top: 14px;
}

.container-table100 {
  width: 100%;
}

.wrap-table100 {
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .table {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .table-767 {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

@media screen and (max-width: 480px) {
  .row {
    display: block;
  }
  .row.header {
    padding: 0;
    height: 0px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell:before {
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .row-767 {
    display: block;
  }
  .row-767.header-767 {
    padding: 0;
    height: 0px;
  }
  .row-767.header-767 .cell {
    display: none;
  }
  .row-767 .cell:before {
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 480px) {
  .cell {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .cell-767 {
    display: block;
  }
}

.row .cell {
  font-size: 15px;
  color: #222;
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  vertical-align: middle;
}

.cell i {
  color: #888;
}

.cell>a>i {
  color: #666;
  margin: 10px;
}

.cell a:hover {
  color: #4b4b4b;
}

.cell a:hover>i {
  color: #3acf87;
}

.row.header .cell {
  text-align: left;
  padding: 15px;
  color: #606060;
  vertical-align: top;
  font-size: 14px;
  font-weight: 600;
  background-color: #f6f6f6;
}

.table, .row {
  width: 100% !important;
}

.row:last-child .cell {
  border-bottom: none;
}

@media (max-width: 480px) {
  .row {
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    margin: 0;
  }
  .row .cell {
    border: none;
    padding: 10px 0;
  }
  .row .cell {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
  }
  .table, .row, .cell {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .row-767 {
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    margin: 0;
  }
  .row-767 .cell-767 {
    border: none;
    padding: 10px 0;
  }
  .row-767 .cell-767 {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
  }
  .table-767, .row-767, .cell-767 {
    width: 100%;
    text-align: center;
  }
  .cell-767 img {
    margin: 0 auto;
  }
  a.cart-remove {
    display: inline-block;
    margin: 0 auto;
    float: inherit;
  }
  .quantity-wrapper {
    display: inline-block;
  }
  .qtyplus:before, .qtyminus:before {
    left: 0;
    top: 13px;
  }
  .cart-remove:before {
    left: 0;
    top: 10px;
  }
}
