{% load mezzanine_tags %}
<div class="card-profile" id="user-info">
    <div class="image">
        {% if profile.image %}
        <img src="{{ MEDIA_URL }}{% thumbnail profile.image 420 300 %}" alt="Фото профиля" /> {% else %}
        <img src="{{ STATIC_URL }}{% thumbnail 'images/no-order-image.jpg' 420 300 %}" alt="no-image" /> {% endif %}
    </div>
    <div class="content">
        <div class="meta">
            <h2>{{ profile.get_full_name }}</h2>
            <i>{{ profile.user.email }}</i>
        </div>
        <table>
            <tr>
                <td><strong>Страна: </strong></td>
                <td>{% if profile.country %}{{ profile.country }}{% else %} не указана {% endif %}</td>
            </tr>
            <tr>
                <td><strong>Регион: </strong></td>
                <td>{% if profile.region %}{{ profile.region }}{% else %} не указана {% endif %}</td>
            </tr>
            <tr>
                <td><strong>Город: </strong></td>
                <td>{% if profile.city %}{{ profile.city }}{% else %} не указан {% endif %}</td>
            </tr>
            <tr>
                <td><strong>Телефон: </strong></td>
                <td>{% if profile.phone %}{{ profile.phone }}{% else %} не указан {% endif %}</td>
            </tr>
            <tr>
                <td><strong>О себе: </strong></td>
                <td> {% if profile.bio %}{{ profile.bio }}{% endif %} </td>
            </tr>
        </table>
        <button class="button dark" id="form-trigger">Изменить</button>
    </div>
</div>