{% load i18n mezzanine_tags accounts_tags theme_tags %}
{% get_user_products as products %}
{% get_user_blog_posts as posts %}
{% get_user_by_url as author %}
    <ul class="tabs-nav my-account">
        <li class="active"><a href="#tab1">Публикации ({{posts|length}})</a></li>
        <li class=""><a href="#tab2">Товары ({{products|length}})</a></li>
        <li class=""><a href="#tab3">Отзывы</a></li>
    </ul>

    <div class="tabs-container">

        <div class="tab-content" id="tab1" style="display: block;">
        {% if posts %}
        <div class="container">
        <div id="masonry-wrapper">
        {% for blog_post in posts|slice:":3" %}
            <div class="one-third column masonry-item">
                <article class="from-the-blog">
                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    {% block blog_post_list_post_featured_image %}
                    <figure class="from-the-blog-image">
                        <a href="{{ blog_post.get_absolute_url }}">
                            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 400 300 %}" alt="" />
                        </a>
                        <div class="hover-icon"></div>
                    </figure>
                    {% endblock %}
                    {% endif %}
                    <section class="from-the-blog-content">
                        {% block blog_post_list_post_title %}
                        {# {% editable blog_post.title %} #}
                            <a href="{{ blog_post.get_absolute_url }}"><h5>{{ blog_post.title }}</h5></a>
                        {# {% endeditable %} #}
                        {% endblock %}
                        {% block blog_post_list_post_metainfo %}
                            {# {% editable blog_post.publish_date %} #}
                            {% with blog_post.user as author %}
                            <i>{% trans "Posted by" %}: <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>,  
                            {% blocktrans with sometime=blog_post.publish_date|date %}{{ sometime }}{% endblocktrans %}
                            </i>
                            {% endwith %}
                            {# {% endeditable %} #}
                        {% endblock %}
                        {% block blog_post_list_post_content %}
                        {% if blog_post.preview_content %}
                            {# {% editable blog_post.preview_content %} #}
                            {{ blog_post.preview_content|safe  }}
                            {# {% endeditable %} #}
                        {% else %}
                            {# {% editable blog_post.content %} #}
                            {{ blog_post.description_from_content|safe }}
                            {# {% endeditable %} #}
                        {% endif %}
                        {% endblock %}
                        <a href="{{ blog_post.get_absolute_url }}" class="button gray">{% trans "read more" %}</a>
                    </section>
                </article>
            </div>
        {% endfor %}
        </div>
        </div>
        <div class="margin-top-35">
            <a href="{% url 'blog_post_list_author' author %}" class="button gray" style="float: right; margin-bottom: 25px;">Посмотреть все записи</a>
        </div>
        {% else %}
            <p>Записи пока отсутствуют</p>
        {% endif %}
        </div>
        <div class="tab-content" id="tab2" style="display: none;">
        {% if products %}
            <div class="products">
            {% for product in products|slice:":7" %}
                <div class="three columns">
                    <figure class="product">
                        {% if product.on_custom_sale %}
                            <div class="product-discount">СКИДКА</div>
                        {% endif %}
                        {% if product.pre_order %}
                            <div class="product-discount blue">Под заказ</div>
                        {% endif %}
                        <div class="mediaholder">
                        <a href="{{ product.get_absolute_url }}">
                            {% if product.image %}
                            <img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 250 330 %}">
                            <div class="cover">
                                <img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 300 380 %}">
                            </div>
                            {% else %}
                            <img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}">
                            <div class="cover">
                                <img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 300 380 %}">
                            </div>
                            {% endif %}
                        </a>
                        <a href="{{ product.get_absolute_url }}" class="product-button"><i class="fa fa-share"></i>Подробнее</a>
                        </div>
                        <a href="{{ product.get_absolute_url }}">
                            <section>
                                <h5>{{ product.title|title }}</h5>
                                <span class="product-category">
                                {{ product.material|truncatechars:22 }}
                                </span>
                                {% if product.on_custom_sale %}
                                    <span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
                                {% else %}
                                <span class="product-price">{{ product.price|rub_currency }}</span>
                                {% endif %}
                            </section>
                        </a>
                    </figure>
                </div>
            {% endfor %}
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-35">
                <a href="/" class="button gray" style="float: right; margin-bottom: 25px;">Посмотреть все товары</a>
            </div>
            {% else %}
                <p>Товары пока отсутствуют</p>
            {% endif %}
        </div>
        <div class="tab-content" id="tab3" style="display: none;">
            <h3 class="headline">Отзывов нет</h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>
        </div>
    </div>
