{% load i18n %}

{% if show and choices %}
<div class="panel panel-midnightblue">
    <div class="panel-heading">
    <h2>Сортировка по датам</h2>
    </div>
    <div class="panel-body">
    <ul class="date_hierarchy">
        {% if back %}<li class="form-row narrow date-back"><a href="{{ back.link }}">&lsaquo; {{ back.title|capfirst }}</a></li>{% endif %}
        {% for choice in choices %}
        <li class="form-row narrow">{% if choice.link %}<a href="{{ choice.link }}">{% endif %}{{ choice.title|capfirst }}{% if choice.link %}</a>{% endif %}</li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endif %}
