{% extends "admin/base_site.html" %} 
{% load staticfiles accounts_tags mezzanine_tags theme_tags %}
{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block page_heading %}
<div class="page-heading">
    <h1>Главная страница<small>Просмотр статистики</small></h1>
</div>
{% endblock %}
{% block content %}
{% get_user_blog_posts request.user as posts %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="info-tile info-tile-alt tile-primary">
                <div class="info">
                    <div class="tile-heading"><span>Записей в блоге</span></div>
                    <div class="tile-body "><span>{% if posts %}{{ posts|length }}{% else %}0{% endif %}</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="info-tile info-tile-alt tile-indigo">
                <div class="info">
                    <div class="tile-heading"><span>Товаров</span></div>
                    <div class="tile-body"><span>{% if request.user.shop %}{{ request.user.shop.get_products_count }}{% else %}0{% endif %}</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="info-tile info-tile-alt tile-danger">
                <div class="info">
                    <div class="tile-heading"><span>Продаж</span></div>
                    <div class="tile-body "><span>{% if request.user.shop %}{{ request.user.shop.get_active_orders }}{% else %}0{% endif %}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h2>Мой Блог</h2>
            </div>
            <div class="panel-image">
                <img src="{% static 'admin/img/blog_add.jpg' %}" alt="Обложка">
            </div>
            <div class="panel-body">
                <ul class="demo-btns">
                    <li>
                        <a class="btn btn-sm btn-success btn-raised btn-label" href="{% url 'admin:blog_blogpost_add' %}"><i class="fa fa-plus"></i> Написать в Блог</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-inverse btn-raised btn-label" href="{% url 'admin:blog_blogpost_changelist' %}"><i class="fa fa-list"></i> Мои статьи</a>
                    </li>
                </ul>
                <div class="pull-left">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Всего записей</small>{% if posts %}{{ posts|length }}{% else %}0{% endif %}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h2>Стол заказов</h2>
            </div>
            <div class="panel-image">
                <img src="{% static 'admin/img/desk.jpg' %}" alt="Обложка">
            </div>
            <div class="panel-body">
                <ul class="demo-btns">
                    <li>
                        <a class="btn btn-sm btn-success btn-raised btn-label" href="{% url 'admin:theme_orderitem_add' %}"><i class="fa fa-plus"></i> Создать заявку</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-inverse btn-raised btn-label" href="{% url 'admin:theme_orderitem_changelist' %}"><i class="fa fa-list"></i> Мои заявки</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-default btn-raised btn-label" href="{% url 'admin:theme_orderitem_changelist' %}">Отклики</a>
                    </li>
                </ul>
                <div class="pull-left">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Всего заявок</small>{{ request.user.author.all|length }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h2>Мой профиль</h2>
            </div>
            <div class="panel-image">
                <img src="{% static 'admin/img/profile.jpg' %}" alt="Обложка">
            </div>
            <div class="panel-body">
                <ul class="demo-btns">
                    <li>
                        <a class="btn btn-sm btn-success btn-raised btn-label" href="{% url 'profile_settings' %}">Настройки профиля</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-inverse btn-raised btn-label" href="{% url 'admin:password_change' %}">Изменить пароль</a>
                    </li>
                </ul>
                <div class="pull-left">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Число просмотров</small>12</h4>
                </div>
            </div>
        </div>
    </div>
    {% if request.user.shop %}
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-white">
            <div class="panel-controls dropdown">
                <a class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="material-icons inverted">more_vert</span>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'shop_toggle_vacation' %}">{% if shop.on_vacation %}Вернуться с каникул{% else %}Уйти на каникулы{% endif %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ request.user.shop.get_absolute_url }}">Посмотреть магазин на сайте</a></li>
                </ul>
            </div>
            <div class="panel-heading">
                <h2>Мой магазин</h2>
            </div>
            <div class="panel-image">
                <img src="{{MEDIA_URL}}{% thumbnail request.user.shop.background 1300 150 %}" alt="Обложка">
            </div>
            <div class="panel-body">
                <h3>{{request.user.shop.shopname}}</h3>
                {% if request.user.shop.on_vacation %}
                    <p class="text-danger">Магазин в данное время на каникулах и не примиает заказы</p>
                {% endif %}
                <p>{{ request.user.profile.get_location }}</p>
                <ul class="demo-btns">
                <li>
                    <a class="btn btn-sm btn-success btn-raised btn-label" href="{% url 'admin:shop_product_add' %}"><i class="fa fa-plus"></i> Добавить товар</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-inverse btn-raised btn-label" href="{% url 'admin:shop_product_changelist' %}"><i class="fa fa-list"></i> Мои товары</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-default btn-raised btn-label" href="{% url 'shop_edit' %}"><i class="fa fa-gears"></i> Настройки</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-default btn-raised btn-label" href="{% url 'admin:shop_order_changelist' %}"><i class="fa fa-book"></i> Список заказов</a>
                </li>
            </ul>
                <div class="pull-left">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Всего товаров</small>{{ request.user.shop.get_products_count }}</h4>
                </div>
                <div class="pull-right text-right">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Активных заказов</small>{{ request.user.shop.get_active_orders }}</h4>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
</div>
</div>
{% endblock content %}

{% block extrascript %}
{{ block.super }}
{% endblock extrascript %}
