{% extends "admin/base_site.html" %} 
{% load staticfiles accounts_tags mezzanine_tags theme_tags %}

{% block extrahead %}
{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/mezz/product_variations.js" %}"></script>
	
    <script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="{% static "admin/js/mezz/SelectFilter2.js" %}"></script>

    <script type="text/javascript" src="{% static "admin/js/mezz/inlines.js" %}"></script>

    <script type="text/javascript" src="/static/filebrowser/js/AddFileBrowser.js"></script>
    <script type="text/javascript" src="/static/mezzanine/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/mezzanine/js/tinymce_setup.js"></script>
    <script type="text/javascript" src="{% static "admin/js/mezz/keywords_field.js" %}"></script>

{% endblock %}

{% block page_heading %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 profile-area">
        <div class="media col-md-6 col-sm-6 col-xs-6">
            <a class="media-left pr-n" href="{% url 'profile_view' request.user  %}">
            {% if request.user.myprofile.image %}
            	<img class="media-object img-resposnive" src="{{ MEDIA_URL }}{% thumbnail request.user.myprofile.image 88 88 %}" alt="profile image" width="88" height="88">
            {% else %}
            	<img class="media-object img-resposnive" src="{% static 'admin/img/3.jpg' %}" alt="profile image" width="88" height="88">
            {% endif %}
                
            </a>
            <div class="media-body pl-xl">
                <h4 class="media-heading">{{ request.user|username_or:"get_full_name" }}</h4> 
				{% if request.user.email %}
                	<p>{{request.user.email}}</p>
                {% endif %}
            </div>
        </div>
        <div>
        	<a href="{% url 'profile' request.user.username %}" class="btn-raised btn pull-right" >Посмотреть профиль на сайте</a>
        </div>
    </div>
    <div class="col-md-12 pl-n pr-n">
        <ul class="nav nav-tabs material-nav-tabs mb-lg">
            <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu"></ul>
            </li>
            <li {% if not profile_tab %}
            class="active"
            {% endif %}><a href="{% url 'admin:index' %}"> Информация </a></li>
            <li {% if profile_tab %}
            class="active"
            {% endif %}><a href="{% url 'profile_view' request.user  %}">Редактировать</a></li>
        </ul>
    </div>
    {% if not profile_tab %}
    <div class="col-md-3">
        <div class="panel panel-profile">
            <div class="panel-heading">
                <h2>Мой профиль</h2>
            </div>
            <div class="panel-body">
                <div>
                    <div class="personel-info pt-n">
                        <span class="icon"><i class="material-icons">email</i></span>
                        <span>{{request.user.email}}</span>
                    </div>
                    {% if request.user.myprofile.phone %}
                     <div class="personel-info">
                        <span class="icon"><i class="material-icons">call</i></span>
                        <span>{{request.user.myprofile.phone}}</span>
                    </div>
                    {% endif %}
                   	{% if request.user.myprofile.city %}
                    <div class="personel-info">
                        <span class="icon"><i class="material-icons">place</i></span>
                        <span>{{ request.user.myprofile.city }}</span>
                    </div>
                    {% endif %}

                    {% if request.user.myprofile.site %}
                    <div class="personel-info pb-n">
                        <span class="icon"><i class="material-icons">language</i></span>
                        <span>{{ request.user.myprofile.site }}</span>
                    </div>
                    {% endif %}
                </div>
<!--                 <ul class="list-inline text-center">
    <li><a href="#" class=""><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class=""><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" class=""><i class="fa fa-dribbble"></i></a></li>
    <li><a href="#" class=""><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#" class=""><i class="fa fa-instagram"></i></a></li>
</ul> -->
            </div>
        </div>
    </div>
    <!-- col-sm-3 -->
    <div class="col-md-9">
        <div class="tab-content">
            <div class="panel-profile">
                <div class="tab-content">
                    <div class="tab-pane p-md {% if not profile_tab %}active{% endif %}" id="tab-8-1">
                        <div class="about-area">
                            <h4>Информация</h4>
                            {% if request.user.myprofile.bio  %}
								{{ request.user.myprofile.bio|safe }}
							{% else %}
								<p>Не указана</p>
							{% endif %}
                        </div>
                        <div class="about-area">
                            <h4>Личные данные</h4>
                            <div class="table-responsive">
                                <table class="table about-table">
                                    <tbody>
                                        <tr>
                                            <th>ФИО</th>
                                            <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Расположение: </th>
                                            <td>{{request.user.myprofile.city}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .tab-content -->
    </div>
    {% else %}
		<div class="col-sm-12">
			<div class="panel panel-default" data-widget='{"draggable": "false"}'>
				<div class="panel-body">
					<form role="form" class="form-horizontal" method="post">
					{% csrf_token %}
					{% for field in form %}
					{{ field.errors }}
					<div class="form-group is-empty">
							<label class="col-sm-3 control-label">{{ field.label }}</label>
							<div class="col-sm-6">						
								{{ field }}
							</div>
							{% if field.help_text %}
							<div class="col-sm-3">
								<p class="help-block">{{ field.help_text|safe }}</p>
							</div>
							{% endif %}
						</div>
					{% endfor %}
					<div class="panel-footer">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-3">
							<input type="submit" value="Сохранить" class="btn-raised btn-success btn" name="_save" />
							<a href="{% url 'admin:index' %}" class="btn-default btn">Отмена</a>
						</div>
					</div>
				</div>
					</form>
					
				</div>
				
			</div>
		</div>
    {% endif %}
</div>
{% endblock content %}
