{% extends "admin/base_site.html" %} 
{% load i18n staticfiles mezzanine_tags %} 
{% block bodyclass %}focused-form animated-content{% endblock %} 
{% block page_heading %} 
{% endblock %} 
{% block login %}
<div class="container" id="login-form">
    <a href="{% url 'admin:index' %}" class="login-logo"><img src="{% static 'images/logo/login_handmaker.png' %}"></a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ app_path }}" class="form-horizontal" id="validate-form" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
											<i class="ti ti-user"></i>
										</span>
                                    <input type="text" placeholder="Логин или почта" class="form-control" required name="username" id="id_username" value="{{ request.POST.username }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
											<i class="ti ti-key"></i>
										</span>
                                    <input type="password" class="form-control" required name="password" id="id_password" placeholder="Пароль">
                                    <input type="hidden" name="this_is_the_login_form" value="1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="mezzanine_login_interface" id="interface_admin" value="admin" 
                                        {% if request.REQUEST.mezzanine_login_interface != "site" %} checked{% endif %}><span class="circle"></span><span class="check"></span> {% trans "Admin" %}
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="mezzanine_login_interface" id="interface_site" value="site" {% if request.REQUEST.mezzanine_login_interface == "site" %} checked{% endif %}><span class="circle"></span><span class="check"></span> {% trans "Site" %}
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <a href="{% url "password_reset" %}" class="btn btn-default pull-left">{% trans "Forgot password?" %}</a>
                        <input type="submit" class="btn btn-primary btn-raised pull-right" value="{% trans 'Log in' %}" />
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block wrapper %} {% endblock %}
