{% load i18n admin_urls %}
<div class="panel panel-default" data-widget='{"draggable": "false"}'>
<div class="panel-body">
<div class="submit-row">
{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}" class="btn btn-raised btn-danger">{% trans "Delete" %}</a>
{% endif %}
{% if show_save %}
<input type="submit" value="{% trans 'Save' %}" class="btn-raised btn-primary btn" name="_save" />
{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" class="btn btn-default btn-raised" />{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" class="btn btn-success btn-raised" />{% endif %}
</div>
</div>
</div>