{% load i18n mezzanine_tags comment_tags rating_tags %}
<section class="comments">
<ul>
{% for comment in comments_for_thread %}
<li id="comment-{{ comment.id }}" class="row comment media{% if comment.by_author %} comment-author{% endif %}">
    {% if not comment.is_removed and comment.is_public or request.user.is_staff %}
    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""></div>
    <div class="comment-content"><div class="arrow-comment"></div>
        <div class="comment-by"><strong>{{ comment.user_name }}</strong>
            <span class="date">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
            <span class="reply"><a href="#reply-{{ comment.id }}" class="a_reply"><i class="fa fa-reply"></i> {% trans "Reply" %}</a></span>
        </div>
        <p>{{ comment.comment|comment_filter }}</p>
        <p>{{ comment.url }}</p>
    </div>
    {% endif %}
    <form class="comment-reply-form" method="post" id="reply-{{ comment.id }}"  action="{{ comment_url }}#reply-{{ comment.id }}"
        {% if replied_to != comment.id %}style="display:none;"{% endif %}>
        {% if replied_to == comment.id %}
            {% fields_for posted_comment_form %}
        {% else %}
            {% fields_for unposted_comment_form %}
        {% endif %}
        <input type="hidden" name="replied_to" value="{{ comment.id }}">
        <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Reply" %}">
    </form>
    
    {% comment_thread comment %}
</li>
{% endfor %}
</ul>
</section>
{% if no_comments %}
<p>{% trans "There are currently no comments" %}</p>
{% endif %}



