{% load mezzanine_tags rating_tags i18n %}

<div id="rating-{{ rating_object.id }}">
    {% if rating_average %}
    {% trans "Current rating" %}: <span id="rate-number" class="pull-right">{{ rating_average|floatformat }}</span>
    {% else %}
    {% trans "Currently unrated" %}
    {% endif %}
</div>

{# {% if user_raiting %} #}
    {# <p>Спасибо за Вашу оценку!</p> #}
{# {% endif %} #}

{% if not rated or request.user.is_authenticated %}
<form class="rate-form" role="form" method="post" action="{% url "rating" %}">
    {% nevercache %}
    {% csrf_token %}
    {% endnevercache %}
    {% for field in rating_form %}
        {% if field.name == 'value' %}
        <fieldset class="rating-star">
            {% for x,y in rating_form.fields.value.choices reversed %}
                <input type="radio" id="star{{ y }}" name="{{ field.name }}" value="{{ x }}"{% if x == user_raiting.value %} checked{% endif %}/>
                <label class="{% cycle 'half' 'full' %}" for="star{{ y }}" title="{{ y }}"></label>
            {% endfor %}
        </fieldset>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
</form>
{% endif %}
