{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Меню</a>
<nav id="navigation">
<ul class="menu" id="responsive">
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li>
        <a class="{% if on_home %}current{% endif %} homepage" id="{% if on_home %}current{% endif %}" href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}dropdown{% endif %}"
        id="{{ page.html_id }}">
        <a class="{% if page.is_current %} current{% endif %}" href="{{ page.get_absolute_url }}"
        {% if page.has_children_in_menu %}
        
        {% endif %}>
            {{ page.title }}
            {% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}
        </a>
        {% if page.has_children_in_menu %}
            {% page_menu page %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</nav>

{% else %}
<ul class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}dropdown{% endif %} {% if page.is_current_or_ascendant %}active_branch{% endif %}"
        id="{{ page.html_id }}">
        <a class="{% if page.is_current%}current{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}{% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}  </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %} 
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endspaceless %}
