{% load i18n pages_tags mezzanine_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Меню</a>
<!--<div class="hide-top-search">
{# {% search_form "all" %} #}
</div>-->
<nav id="navigation">
<ul class="menu" id="responsive">
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li>
        <a class="{% if on_home %}current{% endif %} homepage" id="{% if on_home %}current{% endif %}" href="{% url "true_index" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li class="{# {% if page.has_children_in_menu %}dropdown{% endif %} #}">
        <a href="{{ page.get_absolute_url }}"
        {% if page.has_children_in_menu %}
            class="with-ul"
        {% endif %}>
            {{ page.title }}
        </a>
        {% if page.has_children_in_menu %}
            <!--<span class="fa-caret-down"></span>-->
            <b class="top_nav caret"></b>
        {% endif %}
        
        {% if page.has_children_in_menu %}
        <div class="mega" style="display: none;">
        <div class="mega-container">
            {% page_menu page %}
        </div>
        </div>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    
    <!--<li style="float: right; margin: 5px 0px;">{# {% search_form "all" %} #}</li>-->
</ul>
</nav>

{% elif branch_level == 1 %}
    {% for page in page_branch %}
    <div class="one-column margin-bottom-15">
    <ul>
        {% if page.in_menu %}
        <li class="headline-link">
            <a href="{{ page.get_absolute_url }}"> <span class="mega-headline"> {{ page.title }} </span> </a>
            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %} 
        </li>
        {% endif %}
    </ul>
    </div>
    {% endfor %}
{% else %}

    {% for page in page_branch %}
    {% if page.in_menu %}
    <li>
        <a href="{{ page.get_absolute_url }}"> {{ page.title }} </a>
        {% if page.has_children_in_menu %}
            <ol>{# {% page_menu page %} #}</ol>
        {% endif %} 
    </li>
    {% endif %}
    {% endfor %}

{% endif %}

{% endif %}
{% endspaceless %}
