{% load i18n pages_tags mezzanine_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<a href="javascript:void(0);" class="menu-trigger"><i class="fa fa-bars"></i> Меню</a>
<ul class="menu responsive">
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li>
        <a class="{% if on_home %}current{% endif %} homepage" href="{% url "true_index" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li>
        {% if page.has_children_in_menu %}
        <div class="cd-dropdown-wrapper">
            <a class="cd-dropdown-trigger" href="#{{branch_level}}">{{ page.title }}</a>
                <nav class="cd-dropdown">
                    <h2>Меню</h2>
                        <a href="#{{branch_level}}" class="cd-close">Закрыть</a>
                    {% page_menu page %}
                </nav>
        </div>
        {% else %}
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% elif branch_level == 1 %}
<ul class="cd-dropdown-content">
    {% for page in page_branch %}
        {% if page.in_menu %}
            <li class="{% if page.has_children_in_menu %}has-children{% endif %}">
                <a href="{{ page.get_absolute_url }}"> {{ page.title }} </a>
                {% if page.has_children_in_menu %} 
                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#{{branch_level}}">Меню</a></li>
                    <li class="see-all"><a href="{{ page.get_absolute_url }}">{{ page.title }} полностью </a></li>
                    {% if page.has_children_in_menu %}
                        {% page_menu page %}
                    {% endif %}
                </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
    {% for page in page_branch %}
    {% if page.in_menu %}
        {% if page.has_children_in_menu %}
        <li class="has-children">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            <ul class="is-hidden">
                <li class="go-back"><a href="#{{branch_level}}">{{ page.parent.title }}</a></li>
            {% page_menu page %}
            </ul>
        </li>
        {% else %}
            <li class="empty-children"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
        {% endif %}
        
    {% endif %}
    {% endfor %}

{% endif %}

{% endif %}
{% endspaceless %}
