{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
    {% if branch_level != 0 %}
    <ul {% if branch_level == 1 %} id="categories" {% endif %}>
    {% endif %}
      {% for page in page_branch %}
        {% if branch_level != 0 %}
        {% if page.in_menu %}
            <li class="{% if page.is_current_or_ascendant %} active-branch {% endif %}">
              <a style="display: inline-block;"href="{{ page.get_absolute_url }}" class="
                                                    {% if branch_level == 0 or page.is_current_or_ascendant %} active {% endif %}
                                                    ">{{ page.title }} </a>
              {% if page.has_children_in_menu %}
                <span class="open_nav fa-caret-down"></span>
              {% endif %}
              {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
            </li>
        {% endif %}
        {% else %}
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
        {% endif %}
      {% endfor %}
    </ul>
{% endif %}
{% endspaceless %}
