{% extends "pages/page.html" %}
{% load mezzanine_tags theme_tags pages_tags static  crispy_forms_tags %}

{% block breadcumbs_menu %}
	{% page_menu "pages/menus/breadcrumb.html" %}
{% endblock %}

{% block breadcrumbs_class %}shadow{% endblock %}
{# {% block main_containter_class %}container fullwidth-element{% endblock %} #}
{% block main_containter %}
{% if sub_categories %}
<div class="flat-background">
	<div class="flat-row">
		<div class="margin-top-30"></div>
		<div class="container">
				<div id="portfolio-wrapper">
				{% for category in sub_categories %}
					<div class="four columns portfolio-item custom_column">
						<figure>
							<div class="portfolio-holder">
								<a href="{{ category.get_absolute_url }}">
									{% if category.featured_image %}
										<img alt="{{ category.title|capfirst }}" src="{{ MEDIA_URL }}{% thumbnail category.featured_image 280 280 %}"/>
									{% else %}
										{% with "23456"|make_list|random as rnd %}
										{% with 'images/product_category_0'|add:rnd|add:'.jpg' as img_path %}
										    <img src="{{ STATIC_URL }}{% thumbnail img_path 280 280 %}" alt="{{ category.title|capfirst }}" />
										{% endwith %}
										{% endwith %}
									{% endif %}
									<div class="hover-cover"></div>
									<div class="hover-icon"></div>
								</a>
							</div>
							<a href="{{ category.get_absolute_url }}">
								<section class="item-description">
									<span>{{ category.parent.title|capfirst }}</span>
									<h5>{{ category.title|smart_truncate_chars:35 }}</h5>
								</section>
							</a>
						</figure>
					</div>
				{% endfor %}
				</div>
		</div>
	</div>
</div>
{% endif %}
<div class="flat-background">
	<div class="flat-row">
			{{ block.super }}
		<div class="margin-top-50"></div>
	</div>
</div>
{% endblock %}

{% block leftsidebar %}
<div class="four adjust-left columns">
	<a class="toggle-filter-button" href="#">Показать фильтры <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
	<div class="filter-panel">
		<div class="widget margin-top-0">
			<h3 class="headline"> {{ page.title }}</h3>
			<span class="line"></span><div class="clearfix"></div>
			{% if page.parent %}
			<a href="{{ page.parent.get_absolute_url }}" class="list-back-button">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> Вернуться в {{ page.parent.title }}
			</a>
			{% endif %}
				<ul class="category-menu">
					{% for page in sub_categories %}
							<li><a href="{{ page.get_absolute_url }}" class="">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
				<div class="clearfix"></div>
		</div>

		<form action="" method="get">
			{% regroup filter_form by field.group as field_groups %}
		  {% for field_group in field_groups %}
				<div class="widget">
					<h3 class="headline"> {{ field_group.grouper }}</h3>
					<span class="line"></span><div class="clearfix"></div>
		    {% for field in field_group.list %}
		      {{ field|as_crispy_field }}
		    {% endfor %}
				<div class="clearfix"></div>
				</div>
		  {% endfor %}
			<input type="submit" value="Применить">
		</form>
	</div>
</div>
{% endblock %}


{% block main %}
{% if true_products %}
	<div class="twelve adjust-right columns products">
		{% for product in true_products %}
		<div class="adjust-product columns">
			<figure class="product">
				{% if product.condition != 1 %}
				<div class="badge type-{{ product.condition }}">
					{{ product.get_condition_display }}
				</div>
				{% endif %}
				{% with product.images.all as images %}
				<div class="mediaholder {% if not images or images.count == 1 %}no-anim{%endif%}">
				<a href="{{ product.get_absolute_url }}">
					{% if images %}
						<img src="{{ MEDIA_URL }}{% thumbnail images.0 250 330 %}" alt="{{ product.title|capfirst }}" />
							{% if product.images.count != 1 %}
							<div class="cover">
									<img src="{{ MEDIA_URL }}{% thumbnail images.1 300 380 %}" alt="{{ product.title|capfirst }}" />
							</div>
							{% endif %}
					{% else %}
						<img src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}" alt="{{ product.title|capfirst }}" />
					{% endif %}
				</a>
				<a href="#" product-id="{{ product.id }}" class="product-button">
					<i class="fa fa-shopping-cart"></i></i>В корзину
				</a>
				</div>
				{% endwith %}
					<section>
						<a href="{{ product.get_absolute_url }}"><h5>{{ product.title|capfirst|truncatechars:34 }}</h5></a>
						<a href="{{ product.shop.get_absolute_url }}" class="shopname">{{ product.shop.shopname }}</a>
						<span class="product-price">{{ product.price|rub_currency }} </span>
					</section>
			</figure>
		</div>
		{% endfor %}
		<div class="clearfix"></div>
		{% if true_products.paginator.count != 0 %}
			{% pagination_for true_products %}
		{% endif %}
	</div>
{% else %}
<div class="twelve columns">
	<section id="not-found">
        <p>Товаров по заданным критериям не найдено</p>
    </section>
</div>
{% endif %}
{% endblock %}
