{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n theme_tags pages_tags static  %}
{% block body_id %}category{% endblock %}

{% block breadcumbs_menu %}
{% shop_menu "pages/menus/breadcrumb.html" %}
{% endblock %}


{% block main_containter %}

<div class="container">
{% if sub_categories %}
<!-- Filters -->
	<!-- <div class="sixteen columns">
		<div id="filters" class="filters-dropdown headline"><span></span>
			<ul class="option-set" data-option-key="filter">
			{% if no_child %}
				<li><a href="#filter" class="selected" data-filter="*">Все</a></li>
			{% endif %}
			{% for category in sub_categories %}
				<li><a href="#filter" 
				{% if forloop.first and not no_child %}class="selected"{% endif %} 
				data-filter=".{{category.title|hard_trim}}">{{category.title|title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="clearfix"></div> -->

	<div id="portfolio-wrapper">
	{% for category in sub_child_categories %}
		<!-- Portfolio Item -->
		<div class="four columns portfolio-item custom_column
		{% if no_child %}
			{{category.title|hard_trim}}
		{% else %}
			{{category.parent.title|hard_trim}}
		{% endif %}
		">
			<figure>
				<div class="portfolio-holder">
					<a href="{{ category.get_absolute_url }}
					{% if request.GET.pre_order == '1' %}
					?pre_order=1
					{% elif request.GET.pre_order == '0' %}
					?pre_order=0
					{% endif %}
					">
					{% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
						{% if category.featured_image %}
							<img alt="" src="{{ MEDIA_URL }}{% thumbnail category.featured_image 280 280 %}"/>
						{% else %}
							{% with "23456"|make_list|random as rnd %}
							{% with 'images/product_category_0'|add:rnd|add:'.jpg' as img_path %}
							    <img src="{{ STATIC_URL }}{% thumbnail img_path 280 280 %}" alt="">
							{% endwith %}
							{% endwith %}
						{% endif %}
					{% else %}
						<img src="{{ STATIC_URL }}{% thumbnail 'images/titlebar_bg_01.jpg' 280 280 %}" alt="">
					{% endif %}
						<div class="hover-cover"></div>
						<div class="hover-icon"></div>
					</a>
				</div>

				<a href="{{ category.get_absolute_url }}">
					<section class="item-description">
						<span>
						<!-- {% if category.parent.parent.title and category.parent.parent.title != 'Каталог'  %}
							{{ category.parent.parent.title }} <i class="fa fa-caret-right"></i>
						{% endif %} -->
						{{ category.parent.title }}</span>
						<h5>{{ category.title|smart_truncate_chars:35 }}</h5>
					</section>
				</a>

			</figure>
		</div>
	{% endfor %}
	</div>
{% endif %} 
<!-- </div> -->
</div>
{{ block.super }}
{% endblock %}

{% block sidebar %}
<div class="four columns">
	<div class="widget margin-top-0">
		<h3 class="headline"> {% trans "Categories" %} </h3>
		<span class="line"></span><div class="clearfix"></div>
		{% shop_menu "pages/menus/shop_tree.html" %}
		<div class="clearfix"></div>
	</div>
	<!-- filters -->
<!-- <div class="widget">
 		<h3 class="headline">Сортировать по цене</h3><span class="line"></span><div class="clearfix"></div>

		<div id="price-range">
			<div class="padding-range"><div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div></div>
			<label for="amount">Цена:</label>
			<input type="text" id="amount">
			
		</div>
		<div class="clearfix"></div>
 </div> -->
<div class="widget"> 
			<!-- Headline -->
			<h3 class="headline">Отобразить</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
			<a href="{{ page.get_absolute_url }}" class="button {% if not request.GET.pre_order %}color{% else %}dark{% endif %}"></i>
			Все предметы</a> <br>
			<a href="{{ page.get_absolute_url }}?pre_order=1" class="button {% if request.GET.pre_order == '1' %}color{% else %}dark{% endif %}"><i class="fa fa-gift"></i>На заказ</a>
			<a href="{{ page.get_absolute_url }}?pre_order=0" class="button {% if request.GET.pre_order == '0' %}color{% else %}dark{% endif %}"><i class="fa fa-check-square-o"></i>Готовые</a>
 </div>

</div>
{% endblock %}


{% block main %}
{{ block.super }}
	{% if products.object_list %}
	<div class="twelve columns">
	<form class="product-sorting" role="form">
	        <select onchange="location.href = this[this.selectedIndex].value;" class="orderby" id="sorting-select">
	        {% for name, option in settings.SHOP_PRODUCT_SORT_OPTIONS %}
	        {% if "rating" not in option or settings.SHOP_USE_RATINGS %}
	        <option{% if option == products.sort_by %} selected{% endif %}
	            value="{{ category.get_absolute_url }}?sort={{ option }}{{ querystring }}">
	            {{ name }}
	        </option>
	        {% endif %}
	        {% endfor %}
	        </select>

	</form>
	    
	</div>
	

	<div class="twelve columns products">
		{% for product in true_products %}
		<div class="four shop columns custom_column">
			<figure class="product">
				<div class="badges">
				{% if product.pre_order %}
					<div class="product-example">Для примера</div>
				{# {% else %} #}
					<!--<div class="product-ready">Готовый вариант</div>-->
				{% endif %}
				{% if product.on_custom_sale %}
					<div class="product-discnt">СКИДКА</div>
				{% endif %}
				</div>
				<div class="mediaholder">
				<a href="{{ product.get_absolute_url }}">
					{% if product.image %}
					<img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 250 330 %}">
					<div class="cover">
						<img alt="" src="{{ MEDIA_URL }}{% thumbnail product.image 300 380 %}">
					</div>
					{% else %}
					<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 250 330 %}">
					<div class="cover">
						<img alt="" src="{{ STATIC_URL }}{% thumbnail 'images/no-image.jpg' 300 380 %}">
					</div>
					{% endif %}
				</a>
				<a href="{{ product.get_absolute_url }}" class="product-button"><i class="fa fa-share"></i>Подробнее</a>
				</div>
				<a href="{{ product.get_absolute_url }}">
					<section>
						<h5>{{ product.title|title|truncatechars:34 }}</h5>
						<a href="{% url 'shop_view' product.user|get_shop_slug %}" class="shopname">{{ product.user|get_shop_slug }}</a>
						<!--<span class="product-category">
						</span>-->
						{% if product.on_custom_sale %}
							<span class="product-price-discount">{{ product.unit_price|rub_currency }}<i>{{ product.price|rub_currency }}</i></span>
						{% else %}
						<span class="product-price">{{ product.price|rub_currency }}</span>
						{% endif %}
					</section>
				</a>
			</figure>
		</div>
		{% endfor %}
		<div class="clearfix"></div>
		{% if products.paginator.count != 0 %}
			{% pagination_for products %}
		{% endif %}
	</div>

	{% endif %}
	


{% endblock %}