{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="../">{% trans 'Home' %}</a> 
	&rsaquo; 
	{% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

{% if not title %}
<h1>{% trans "Password reset" %}</h1>
{% endif %}

<p class="m-t-0">{% trans "Забыли пароль? Введите свою почту ниже, и мы вышлем Вам новый." %}</p>
<div class="row">
	<div class="col-xs-12">
	<form action="" method="post" class="form-inline">{% csrf_token %}
	{% if form.email.errors %}{{ form.email.errors }}{% endif %}
	<div class="form-group m-r-10">
		<label for="id_email">{% trans 'Почта:' %}</label> 
		{{ form.email }} 
		<input type="submit" class="btn btn-default btn-md" value="{% trans 'Reset my password' %}" />
	</div>
	</form>
	</div>
</div>


{% endblock %}
