{% load shop_tags theme_tags i18n %}
    <div class="box" id="order-summary">
        <div class="box-header">
            <h3>Итого</h3>
        </div>
    <!-- <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p> -->
    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% if discount_total or shipping_total %}
            <tr>
                <td>{% trans "Sub total" %}</td>
                <th>{{ item_total|rub_currency }}</th>
            </tr>
            {% endif %}
            {% if discount_total %}
            <tr>
                <td>
                {% if discount_type %}
                {{ discount_type }}:
                {% else %}
                {% trans "Discount" %}:
                {% endif %}
                </td>
                <th>{{ discount_total|rub_currency }}</th>
            </tr>
            {% endif %}
            {% if shipping_type or shipping_total %}
            <tr>
                <td>
                {% if shipping_type %}
                {{ shipping_type }}:
                {% else %}
                {% trans "Shipping" %}:
                {% endif %}
                </td> 
                <th>{{ shipping_total|rub_currency }}</th>
            </tr>
            {% endif %}
            {% if tax_total %}
            <tr>
                <td>
                {% if tax_type %}
                {{ tax_type }}:
                {% else %}
                {% trans "Tax" %}:
                {% endif %}
                </td> 
                <th>{{ tax_total|rub_currency }}</th>
            </tr>
            {% endif %}
            <tr class="total">
                <td>{% trans "Total" %}</td>
                <th>{{ order_total|rub_currency }}</th>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
