{% load shop_tags theme_tags i18n %}
<div class="eight columns cart-totals">
    <h3 class="headline">Итого</h3><span class="line"></span>
    <div class="clearfix"></div>
    <table class="cart-table margin-top-5">
        <tbody>
            <tr>
                <th>Стоимость товаров</th>
                <td><strong>{{ item_total|rub_currency }}</strong></td>
            </tr>
            <tr>
                <th>{% trans "Shipping" %}</th>
                <td>Бесплатно</td>
            </tr>
            <tr>
                <th>{% trans "Total" %}</th>
                <td><strong>{{ order_total|rub_currency }}</strong></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- <a href="#" class="calculate-shipping"><i class="fa fa-arrow-circle-down"></i> Calculate Shipping</a> -->
</div>