{% load i18n shop_tags mezzanine_tags theme_tags %}
{% spaceless %}
<div id="cart">
<!-- Button -->
	<div class="cart-btn">
		<a href="javascript:void(0);" class="button adc">{% if request.cart.has_items %}{{ request.cart.total_price|rub_currency }}{% else %}0.00 ₽{% endif %}</a>
			</div>
			<div class="cart-list">
			<div class="arrow"></div>
			<div class="cart-amount">
				<span>{% blocktrans count request.cart.total_quantity as cart_quantity %}1 item{% plural %}{{ cart_quantity }} items{% endblocktrans %}{% trans "in cart" %}</span>
			</div>
			
			<ul>
			{% if request.cart.has_items %}
				{% for item in request.cart %}
					<li>
						{% if item.image %}
                        	<a href="{{ item.get_absolute_url }}"><img alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 60 60 %}"></a>
                   		{% endif %}
						<a href="{{ item.get_absolute_url }}">{{ item.description }}</a>
						<span>{{ item.quantity }} x {{ item.unit_price|rub_currency }}</span>
						<div class="clearfix"></div>
					</li>
				{% endfor %}
			{% else %}
				<li class="empty">{% trans "Your Cart is empty." %}</li>
			{% endif %}
			</ul>
			
			<div class="cart-buttons button">
				<a href="{% url "shop_cart" %}" class="view-cart" ><span data-hover="View Cart"><span>Корзина</span></span></a>
				{% if request.cart.total_quantity != 0 %}
					<a href="{% url "shop_checkout" %}" class="checkout"><span data-hover="Checkout">{% if request.session.order.step %}{% trans "Return to Checkout" %}{% else %}{% trans "Go to Checkout" %}{% endif %}</span></a>
				{% endif %}
			</div>
			<div class="clearfix">
		</div>
	</div>
</div>
{% search_form "all" %}
{% endspaceless %}
