{% load mezzanine_tags i18n %}
<input id="{{ final_attrs.id }}" type="text" class="vFileBrowseField {{ final_attrs.class }}" name="{{ final_attrs.name }}" value="{{ value }}" />
<a href="javascript:FileBrowser.show('{{ final_attrs.id }}', '{% url "fb_browse" %}?pop=1{% if final_attrs.directory %}&amp;dir={{ final_attrs.directory }}{% endif %}{% if final_attrs.format %}&amp;type={{ final_attrs.format }}{% endif %}&amp;width=200&amp;height=200');" class="shop-image">
</a>
{% ifequal value.filetype "Image" %}
<p class="help shop-image-preview" id="help_{{ final_attrs.id }}">
    <a href="javascript:FileBrowser.show('{{ final_attrs.id }}', '{% url "fb_browse" %}?pop=1{% if final_attrs.directory %}&amp;dir={{ final_attrs.directory }}{% endif %}{% if final_attrs.format %}&amp;type={{ final_attrs.format }}{% endif %}&amp;width=200&amp;height=200');" target="_blank" id="link_{{ final_attrs.id }}"> 
        <img id="image_{{ final_attrs.id }}" src="{{ MEDIA_URL }}{% thumbnail value.name 200 200 %}" class="shop-image-preview-image" />
    </a>
</p>
{% else %}
<p class="help shop-image-preview" id="help_{{ final_attrs.id }}">
    <a href="javascript:FileBrowser.show('{{ final_attrs.id }}', '{% url "fb_browse" %}?pop=1{% if final_attrs.directory %}&amp;dir={{ final_attrs.directory }}{% endif %}{% if final_attrs.format %}&amp;type={{ final_attrs.format }}{% endif %}&amp;width=200&amp;height=200');" target="_self" id="link_{{ final_attrs.id }}" {% if not value %} style="display: none;" {% endif %}>
        <img id="image_{{ final_attrs.id }}" class="shop-image-preview-image" src="{% if value %}{{ MEDIA_URL }}{% thumbnail value 200 200 %}{% endif %}" />
    </a>
    {{ value.path }}
</p>
{% endifequal %}