{% extends "profiles/profile_settings.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags %}

{% block meta_title %}
    Изменение данных
{% endblock %}

{% block breadcrumbs_title %}
<h2>Личный кабинет</h2> {% endblock breadcrumbs_title %} {% block breadcrumb_element %}
<li>Мои покупки</li>
{% endblock breadcrumb_element %}
{% block main %}
<div class="twelve columns">
  Вы совершили покупку в {{ order.shop }}
  <ul>
    {% for item in order.items.all %}
      <li>{{ item.title }}
      {{ item.price }}
      {{ item.quantity }}
      {{ item.total_price }}</li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
