{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags pages_tags theme_tags staticfiles %}

{% block meta_title %}{{ shop.shopname }}{% endblock %}
{% block meta_description %}{% metablock %}
{{ shop.bio|safe }}
{% endmetablock %}{% endblock %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block slider %}
<div class="container fullwidth-element margin-bottom-35" style="background: url({{ MEDIA_URL }}{% thumbnail shop.background 1290 200 %}); height: 200px;">
	<img src="{{ MEDIA_URL }}{% thumbnail shop.image 200 200 %}" alt="{{shop.shopname}}" class="shop-image pull-right margin-top-25 margin-right-5 margin-bottom-10" />
</div>
{% endblock %}

{% block main_containter %}
<div class="row-tmp">
	<div class="container fullwidth-element row-shadow">
		<div class="container">
							{% if shop.on_vacation %}
								<div class="sixteen columns">
								    <div class="notification error text-center">
								        <p>Магазин на каникулах</p>
								    </div>
								</div>
								<div class="clearfix"></div>
							{% endif %}
<div class="eleven columns">
	<div class="widget margin-top-0">
    <h1 class="headline">{{ shop.shopname }}</h1><span class="line"></span><div class="clearfix"></div>
    {% if shop.bio %}
        <p>{{ shop.bio|safe }}</p>
    {% endif %}
	</div>
  {% if shop.rules %}
	<div class="widget">
	      <h3 class="headline">Правила магазина</h3>
        <span class="line"></span>
        <div class="clearfix"></div>
        <p>{{ shop.rules|safe }}</p>
	</div>
	{% endif %}
</div>
<div class="five columns">
	<div class="widget margin-top-10">
    <h3 class="headline">Доставка</h3><span class="line"></span>
    <div class="clearfix"></div>
    {# <div class="list-2"> #}
        <ul class="list-4 color">
					{% for delivery in shop.get_delivery_options %}
					<li>{{ delivery.label }}: {{ delivery.usershopdeliveryoption__price|rub_currency }}</li>
					{% endfor %}
        </ul>
        <p>{{ shop.delivery_other }}</p>
    {# </div> #}
    <div class="clearfix"></div>
	</div>
	<div class="widget">
    <h3 class="headline">Оплата</h3>
    <span class="line"></span>
    <div class="clearfix"></div>
    {# <div class="list-2"> #}
        <ul class="list-4 color">
					{% for payment in shop.payment_options.all %}
						<li>{{ payment }}</li>
					{% endfor %}
        </ul>
        <p>{{ shop.payment_other }}</p>
    {# </div> #}
    <div class="clearfix"></div>
	</div>
	<div class="user-shop-div text-center margin-top-30">
    <div class="widget-inner-title margin-bottom-15">Владелец</div>
    <div class="margin-bottom-20">
      <a href="{{ shop.user.profile.get_absolute_url }}">
				<img src="{{ MEDIA_URL }}{% thumbnail shop.user.profile.image 150 150 %}" class="shop-image"
				style="display: inherit;" width="150" height="150"></a>
    </div>
    <div class="shop-title-name margin-bottom-5">
      <a href="{{ user.shop.get_absolute_url }}">{{ user.profile.get_full_name }}</a>
      <br>
      <small>{{user.profile.get_location}}</small>
			<br>
			<small>{% if user.profile.status == 1 %} мастер {% endif %}</small>
    </div>
    <div class="shop-stats">
      <div><i class="fa fa-comment"></i>Отзывов: <span class="pull-right">3</span></div>
      <div><i class="fa fa-briefcase"></i>Выполнено работ: <span class="pull-right">7</span></div>
    </div>
  </div>

    <a class="popup-with-zoom-anim button color" href="#small-dialog">Задать вопрос</a>
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
        <h2 class="margin-bottom-10">Задайте вопрос магазину</h2>
        <form action="" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button class="button color pull" type="submit"><i class="fa fa-send black"></i>Отправить вопрос</button>
        </form>
    </div>
		<div class="margin-top-50"></div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block extra_content %}
<div class="flat-background">
	<div class="flat-row">
		<div class="margin-top-25"></div>
		{% include "includes/additional_products.html" with related_products=shop.get_related_products limited=False %}
	<div class="margin-top-10"></div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
	$(".phone").text(function(i, text) {
		text = text.replace(/(\d{1})(\d{3})(\d{3})(\d{4})/, "$1-$2-$3-$4");
		return text;
	});
});
</script>
<script>
$(function() {
    $('.a_reply').click(function() {
        // $('.comment-reply-form').hide();
        $(this).parent().parent().parent().next().toggle('500');
        // $(this).find('.comment-reply-form').toggle();
    });
});
</script>
{% endblock %}
