{% extends "profiles/profile_settings.html" %}
{% load i18n mezzanine_tags pages_tags staticfiles crispy_forms_tags theme_tags %}

{% block meta_title %}
{% if object %} Изменение {{ object.shopname}}
{% else %}
    Новый магазин
{% endif %}
{% endblock %}
{% block breadcrumbs_title %}
<h2>Магазин</h2>
{% endblock breadcrumbs_title %}

{% block breadcrumb_element %}
<li><a href="{% url 'profile-settings' %}">Личный кабинет</a></li>
<li>{% if object %}{{ object }}{% else %}Создание магазина{% endif %}</li>
{% endblock %}


{% block messages %}
{% if form.non_field_errors %}
<div class="container">
  <div class="sixteen columns">
    <div class="notification error closeable margin-bottom-10 text-center">
      <p>{{ form.non_field_errors }}</p>
      <a class="close"></a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_content %}
<form method="post" enctype="multipart/form-data" class="input-no-background" id="shop_form">
{% csrf_token %}
<div class="flat-background">
	<div class="flat-row padding-top-50">
		<div class="container fullwidth-element">
        <div class="shop-images">
    			{{ form.background }}
    		</div>
    		<div class="shop-images">
    			{{ form.image }}
    		</div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <div class="eight columns">
    <div class="eight columns alpha margin-top-20 margin-bottom-15">
        {{ form.shopname|as_crispy_field }}
    </div>
    <div class="clearfix"></div>
    <div class="eight columns alpha margin-top-15 margin-bottom-15">
        {{ form.bio|as_crispy_field }}
    </div>
    <div class="eight columns alpha margin-top-15 margin-bottom-15">
      <h3 class="headline">Правила магазина</h3>
      <span class="line"></span>
      <div class="clearfix"></div>
      {{ form.rules|as_crispy_field }}
    </div>
  </div>
  <div class="eight columns">
    <div class="eight columns alpha margin-top-20 margin-bottom-15">
      <h3 class="headline">Доставка</h3>
      <span class="line"></span>
      <div class="clearfix"></div>
      <p class="delivery-info">
        Отметьте возможные варианты доставки ваших товаров. Оставляйте поле со стоимостью пустым, если стоимость будет рассчитана по запросу, 0 - доставка бесплата.
      </p>
      <div class="eight columns alpha margin-bottom-15">
        {# {% if form.delivery_options.errors %} #}
        {# <p> <strong>Заполните хотя бы одно поле</strong> </p> #}
        {# <div> #}
        {# {% for error in form.delivery_options.errors %} #}
          {# <p> <strong>{{ error|escape }}</strong> </p> #}
        {# {% endfor %} #}
        {# {% endif %} #}
        {# </div> #}
        {# <div id="div_id_delivery_options" {% if form.delivery_options.errors %}class="has-danger"{% endif %}> #}
          {# {% for checkbox in form.delivery_options %} #}
          {# <div class="four columns alpha margin-bottom-15"> #}
            {# <div class="form-group"> #}
              {# <label class="label-default control control--checkbox"> #}
              {# {{ checkbox.tag }} {{ checkbox.choice_label }} #}
              {# <div class="control__indicator"></div> #}
              {# </label> #}
            {# </div> #}
            {# {{ form.delivery_options|as_crispy_field }} #}
            {% for delivery in form.render_delivery_options %}
            <div class="four columns price-input {% cycle 'alpha' 'omega' %} margin-top-10 margin-bottom-10">
              {{ delivery|as_crispy_field }}
            </div>
            {% endfor %}
            {# {{ form.group1 }} #}
          {# </div> #}
          {# <div class="four columns omega margin-bottom-15"> #}
            {# {{ form|user_select_field:checkbox.choice_value|as_crispy_field }} #}
          {# </div> #}
          {# {% endfor %} #}
        {# </div> #}
      </div>
      <div class="eight columns alpha margin-top-10 margin-bottom-5">
        {{ form.delivery_other|as_crispy_field }}
      </div>
    </div>
    <div class="eight columns alpha margin-top-15 margin-bottom-15">
      <h3 class="headline">Оплата</h3>
      <span class="line"></span>
      <div class="clearfix"></div>
      <p class="payment-info">Выберите, какими способами покупатель сможет оплатить заказ.</p>
      <div class="eight columns alpha margin-bottom-15">
        {{ form.payment_options|as_crispy_field }}
      </div>
      <div class="eight columns alpha margin-top-20 margin-bottom-15">
        {{ form.payment_other|as_crispy_field }}
      </div>
    </div>
  </div>
  <div class="sixteen columns">
      <input type="submit" class="button pull-right" value="Сохранить"/>
  </div>
</div>
</form>
<div class="margin-bottom-50"></div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
  window.__csrf_token = '{{ csrf_token }}';
  window.__admin_keywords_submit_url = '{% url "admin_keywords_submit" %}';
  window.__filebrowser_url = '{% url "fb_browse" %}';
</script>
<script type="text/javascript" src="{% static "admin/js/mezz/ajax_csrf.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/AddFileBrowser.js" %}"></script>
<script type="text/javascript" src="{% static "filebrowser/js/FB_FileBrowseField.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script>
  $(document).ready(function() {
    // $("textarea").on("change input", function() {
    //   var top = $(this).scrollTop();
    //   var height = $(this).height();
    //   if (top > 0) {
    //     $(this).css("height", top + height + 35);
    //   }
    // }).trigger('input');

  // });
  $.extend($.validator.messages, {
    required: "Это поле необходимо заполнить.",
    remote: "Пожалуйста, введите правильное значение.",
    email: "Пожалуйста, введите корректный адрес электронной почты.",
    url: "Пожалуйста, введите корректный URL.",
    date: "Пожалуйста, введите корректную дату.",
    dateISO: "Пожалуйста, введите корректную дату в формате ISO.",
    number: "Пожалуйста, введите число.",
    digits: "Пожалуйста, вводите только цифры.",
    creditcard: "Пожалуйста, введите правильный номер кредитной карты.",
    equalTo: "Пожалуйста, введите такое же значение ещё раз.",
    extension: "Пожалуйста, выберите файл с правильным расширением.",
    maxlength: $.validator.format("Пожалуйста, введите не больше {0} символов."),
    minlength: $.validator.format("Пожалуйста, введите не меньше {0} символов."),
    rangelength: $.validator.format("Пожалуйста, введите значение длиной от {0} до {1} символов."),
    range: $.validator.format("Пожалуйста, введите число от {0} до {1}."),
    max: $.validator.format("Пожалуйста, введите число, меньшее или равное {0}."),
    min: $.validator.format("Пожалуйста, введите число, большее или равное {0}.")
  });

  $.validator.addMethod('atLeastOne', function(value) {
    return $('[name^=tmp_delivery_status]:checked').size() > 0;
  }, 'Выберите хотя бы один способ доставки.');

  var checkboxes = $('input[name^=tmp_delivery_status]');
  var checkbox_names = $.map(checkboxes, function(e, i) {
    return $(e).attr("name")
  }).join(" ");

  var rules = new Object();
  var messages = new Object();
  $('input[name^=tmp_delivery_status]').each(function() {
    rules[this.name] = {
      atLeastOne: true
    };
  });
  rules['shopname'] = {
    required: true
  };
  rules['payment_options'] = {
    required: true
  };
  messages['payment_options'] = {
    required: 'Выберите хотя бы один способ оплаты'
  }

  $("#shop_form").validate({
    groups: {
      nameGroup: checkbox_names
    },
    rules: rules,
    messages: messages,
    errorPlacement: function(error, element) {
      if (element.attr("name") == "shopname") {
        error.insertAfter("label[for='id_shopname']");
      } else if (element.attr("name") == "payment_options") {
        error.insertAfter(".payment-info");
      } else if (checkbox_names.indexOf(element.attr("name")) >= 0) {
        error.insertAfter(".delivery-info");
      } else {
        error.insertBefore(element);
      }
    },
    errorElement: 'p',
  });
});
</script>
<script type="text/javascript">
  $(document).ready(function() {
    {% if form.image.errors %}
    var el = $(".shop-image");
    $(el).css('border-color', '#ef2929');
    $(el).css('color', '#ef2929');
    {% endif %}
    {% if form.background.errors %}
    var el = $(".shop-background-image");
    $(el).css('border-color', '#ef2929');
    $(el).css('color', '#ef2929');
    {% endif %}
  });
</script>
{% endblock extra_js %}
