{% extends "base.html" %}
{% block main %}

    <h2>Here are all user profiles: </h2>
    <div>
        <ul>
            {% for profile in object_list %}
                <li>{{ profile.shopname }} | <a href="{% url 'shop-update' profile.slug %}">edit</a>
                    <a href="{% url 'shop-delete' profile.slug %}">delete</a>
                </li>
            {% empty %}
                <li>No profile yet.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'shop-add' %}">add a profile</a>
        </p>
    </div>
{% endblock %}