{% load mezzanine_tags %}
<div class="twelve columns">
		<div id="additional-menu">
			<ul>
				<li><a href="https://www.facebook.com/groups/803193513100186"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a href="https://www.instagram.com/handmakertop/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<!--<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>-->
			</ul>
		</div>
	</div>
{% ifinstalled cartridge.shop %}
<div class="twelve columns">
	{% include "shop/includes/user_panel.html" %}
</div>
{% endifinstalled %}

{% ifinstalled mezzanine.accounts %}
<div class="twelve columns">
	{% include "accounts/includes/user_panel.html" %}
</div>
{% endifinstalled %}


