{% load mezzanine_tags %}
<div class="twelve columns">
		<div id="additional-menu">
			<ul>
				<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
{% ifinstalled cartridge.shop %}
<div class="twelve columns margin-top-10">
	{% include "shop/includes/user_panel.html" %}
</div>
{% endifinstalled %}

{% ifinstalled mezzanine.accounts %}
<div class="twelve columns margin-top-10">
	{% include "accounts/includes/user_panel.html" %}
</div>
{% endifinstalled %}


