{% load theme_tags %}

<!-- class create-variations -->
{% if fieldset.name and fieldset.name != 'Другие товары' %}
    <h2 data-toggle="collapse" data-target="#{{fieldset.name}}">{{ fieldset.name }}</h2>
  {% endif %}
<fieldset id="{% if fieldset.name %}{{fieldset.name}}{% endif %}" 
class="module aligned
{% if fieldset.classes == 'collapse-closed' or fieldset.name %}
collapse
{% endif %}
">
  {% if fieldset.description %}
    <div class="description">{{ fieldset.description|safe }}</div>
  {% endif %}
  {% for line in fieldset %}
    {% if not line.fields|length_is:'1' %}
      <div class="field-boxes row">
        {% for field in line %}
          {% include "admin/includes/field.html" with line=line css_field_box=line|class_for_field_boxes %}
        {% endfor %}
      </div>
    {% else %}
      {% for field in line %}
        {% include "admin/includes/field.html" with line=line %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</fieldset>

