{% load i18n mezzanine_tags accounts_tags staticfiles %}
<div class="static-sidebar-wrapper sidebar-bleachedcedar">
	<div class="static-sidebar">
		<div class="sidebar">
			<div class="widget" id="widget-profileinfo">
				<div class="widget-body">
					<div class="userinfo ">
						<div class="avatar pull-left">
							<img src="{% static 'admin/img/3.jpg' %}" class="img-responsive img-circle">
						</div>
						<div class="info">
							<span class="username">{{ request.user|username_or:"get_full_name" }}</span>
							<span class="useremail">{% if request.user.email %}
									                	{{request.user.email}}
									                {% endif %}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="widget stay-on-collapse" id="widget-sidebar">
				<nav role="navigation" class="widget-body">
					<ul class="acc-menu">
						<li class="nav-separator"><span>Главное меню</span></li>
						<li>
							<a class="withripple" href="/admin/"><span class="icon">
								<i class="material-icons">home</i></span><span>Настройки магазина</span>
							</a>
						</li>
						<li class="nav-separator"><span>Дополнительное меню</span></li>
						{% for app in dropdown_menu_app_list %}
						<li class="hasChild">
							<a class="withripple" href="javascript:;">
							{% if  app.index == 0 %}
							<span class="icon"><i class="fa fa-pencil"></i></span> 
							{% elif app.index == 1 %}
							<span class="icon"><i class="material-icons">shopping_cart</i></span>
							{% elif app.index == 2 %}
							<span class="icon"><i class="material-icons">book</i></span>
							{% elif app.index == 3 %}
							<span class="icon"><i class="fa fa-wrench"></i> </span>
							{% elif app.index == 4 %}
							<span class="icon"><i class="fa fa-user"></i></span>
							{% else %}
							<span class="icon"><i class="material-icons">apps</i></span>
							{% endif %}
							
							<span>{% trans app.name %}</span>
							</a>
							<ul class="acc-menu">
								{% for model in app.models %} {% if model.perms.add or model.perms.change or model.perms.custom %}
								<li>
									<a class="withripple" href="{% if not model.perms.change and not model.perms.custom %}{{ model.add_url }}{% else %}{{ model.admin_url }}{% endif %}">{{ model.name }} </a>
								</li>
								{% endif %} {% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

